/* Styles by miguelcampossv */

.p-button-acceder {
    color: #f8fafc;
    background: #3f8748;
    border: 0px solid #1B74C5;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 10px;
}

.p-button-regresar {
    color: #f8fafc;
    background: #3f8748;
    border: 0px solid #1B74C5;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 10px;
}


.p-button-registrar {
    color: #f8fafc;
    background: #3f8748;
    border: 0px solid #1B74C5;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 10px;
}

.p-button-opciones {
    color: #f8fafc;
    background: #1B74C5;
    border: 0px solid #1B74C5;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 10px;
}


.p-button-generico-azul {
    color: #f8fafc;
    background: #1B74C5;
    border: 0px solid #1B74C5;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 10px;
}

.p-button-cancelar {
    color: #f8fafc;
    background: #f80000;
    border: 0px solid #1B74C5;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 10px;
}

.p-button-ajustes {
    color: #f8fafc;
    background: #147DBA;
    border: 0px solid #1B74C5;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 10px;
}

.p-button-agregar-blue {
    background: #1B74C5;
    color: white;
    width: 270px;
    height: 45px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 14px;
}

.p-button-generico-agregar {
    background: #1B74C5;
    color: white;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 14px;
}

.p-button-sm-generico-agregar {
    background: #1B74C5;
    color: white;
    width: 30%;
    height: 45px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 14px;
}

.p-button-sm-generico {
    color: #f8fafc;
    background: #1B74C5;
    border: 1px solid #1B74C5;
    padding: 12px 5rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 10px;
}

.p-inputtext.p-inputtext-generico {
    font-size: 14px;
    padding: 12px 50px;
    width: 100%;
    border-radius: 10px;
    background: #e8f0fe;
}

.login h2 {
    font-size: 35px;
    color: #919090;
    font-weight: 900;
    line-height: 0.5;
    text-align: center;

}

.login img {

    padding: 6%;
    width: 70%;
    margin: 0 auto;

}

.login {
    height: 100vh;
    display: flex;
    margin: auto;
    margin: 0;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.imgFondo {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    /* Usamos cover para que nuestra imagen no se deforme al adaptarse a cada pantalla */
    background-position: center;
    /* Para centrar la imagen horizontal y verticalmente en el contenedor */
    background-repeat: no-repeat;
    /* Para que no repita la imagen */
}

.Formlogin {

    .textoRegistrar {
        text-align: center;
        color: white !important;
    }

}

.card {
    box-shadow: 0 0 2px black !important;
    border-radius: 5%;
    text-align: center;

    span {
        color: #ffffff;
    }

    img {
        padding: 6%;
        width: 25%;
    }
}

.tituloLogin {
    padding-top: 4%;
    padding-bottom: 40%;
    text-align: center;
    display: block;
    margin-left: 5%;
    margin-right: 5%;

    h2 {
        font-weight: bold;
        font-family: inherit;
        font-size: 1.5em;
        color: #D72250;
    }
}

.boton-ingresar {
    color: white;
    background-color: #D72250;
    height: 45px;
    text-align: center;
    width: 100%;
    border-radius: 50px;
    opacity: 100;
    border: 0px;
    left: 2%;
}

.boton-ingresar:hover {
    color: white;
    background-color: #6e6e6e;
    height: 45px;
    text-align: center;
    width: 100%;
    border-radius: 50px;
    opacity: 100;
    border: 0px;
    left: 2%;
}

.background-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #c7c7c7;
    background-image: url('/assets/layout/images/fondo-login2.jpg');
}

.content-right {
    overflow-y: auto;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important
}

.row-height {
    min-height: 100vh !important;
    height: 100vh;
}


.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.content-left-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 100%;
    padding: 0 90px;
    color: #fff;
    text-align: center;
    position: relative;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important
}


.row-login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.pb-3,
.py-3 {
    padding-bottom: 1rem !important
}

.mt-auto,
.my-auto {
    margin-top: auto !important
}

.mr-auto,
.mx-auto {
    margin-right: auto !important
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important
}

.mr-auto,
.mx-auto {
    margin-right: auto !important
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important
}

.ml-auto,
.mx-auto {
    margin-left: auto !important
}

.form-group {
    margin-bottom: 1rem;
}

.p-inputtext-sm-login {
    background-color: #e3e3e3;
    border-radius: 50px;
    width: 100%;
    margin: 2%;
    height: 45px;
    padding: 25px;
}

.p-inputtext-sm-registro-empresa {
    background-color: #e3e3e3;
    border-radius: 50px;
    width: 100%;
    margin: 2%;
    height: 45px;
    padding: 25px;
}

.formulario-registro-empresa {
    display: grid;
    justify-items: start;
    align-content: center;
    justify-content: center;
}


.p-input-icon-right>i:last-of-type {
    right: 30px;
    color: #657380;
}

.copy {
    text-align: center;
}


/********** clear ********/

.logotipo {
    text-align: center;
    margin: 0 auto;
}

.logotipo img {
    width: 60%;
}

.tituloPage {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    background-color: #147DBA;
    color: white;
}


.row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    align-items: center;
}



.tablas-empresas {
    width: 990px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 25px 25px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 29%);
}


.tablas-planes {
    width: 78%;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 25px 25px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 29%);
}

.column-empresas-right {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.column-empresas-left {
    display: flex;
    flex-direction: column;
    align-items: center;

}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    text-align: center;
    padding: 1rem rem 1rem;
    border: 1px solid rgba(232, 241, 248, 0.7);
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #0b476a;
    background: #e8f0fe;
    transition: box-shadow 0.2s;
}

.header-buscar-empresas {

    width: 990px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 25px 25px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 29%);
    display: flex;
    align-items: center;

}


.header-buscar-planes {

    text-align: center;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 25px 25px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 29%);
    display: flex;
    align-items: center;
    width: 78%;

}



::ng-deep .p-datatable .p-datatable-tbody>tr.p-highlight {
    background: #a3a9af;
    color: #f8fafc;
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
    border: 1px solid rgba(232, 241, 248, 0.7);
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
}


::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: rgb(180 202 219 / 70%);
    color: #515C66;
}

.p-input-icon-left>i:first-of-type {
    left: 2.5rem;
    color: #657380;
}

/********** clear ********/


.formularioEmpresa {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: 14rem 20rem;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
}



.eligirPlan {
    background-color: #efefef;
    padding: 65px;
    border-radius: 25px;
}

.p-button-elegirplan {
    width: 290px;
    height: 45px;
    background: #4DA8DE;
    border-radius: 25px;
}

.card-box {
    background: #ffffff;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 16px;
    width: 100%;
    margin: auto;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 29%);
}

.elegirOpciones {
    display: flex;
    justify-content: space-evenly;
}


.row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    align-items: flex-start;
}


.margintabla {
    margin-top: 50px;
}


.formulario-campo-obligatorio strong span {
    color: red;
}

.formulario-campo-obligatorio {
    margin-top: 25px;
}

::ng-deep .p-fieldset .p-fieldset-legend {
    padding: 1rem;
    border: 1px solid #E4E5E5;
    color: #515C66;
    background: #d9d9d9;
    font-weight: 600;
    border-radius: 3px;
    margin: auto;
}


.p-inputtext.p-inputtext-sm-registro-empresa {
    font-size: 14px;
    padding: 5px 50px;
    width: 500px;
    border-radius: 10px;
    background: #e8f0fe;
}



.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: var(--primary-color);
    color: white;
    padding: 1rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.p-dialog .p-dialog-content {
    background: #FDFEFF;
    color: #515C66;
    padding: 0 1.5rem 2rem 1.5rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 !important;
    width: 100%;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 2rem;
    height: 2rem;
    color: white;
    border: 0 none;
    background: #4d9fdc;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;
}


.p-inputtext-sm-clear {
    font-size: 16px !important;
    padding: 10px 30px !important;
    width: 98% !important;
    border-radius: 5px !important;
    background: #ffffff !important;
}


.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin: auto;
}

.p-inputtext-sm-clear-grey {
    font-size: 16px !important;
    padding: 10px 30px !important;
    width: 98% !important;
    border-radius: 5px !important;
    background: #e3e3e3 !important;
}


.p-inputtext-sm-clear-grey {
    font-size: 16px !important;
    padding: 10px 30px !important;
    width: 98% !important;
    border-radius: 5px !important;
    background: #e3e3e3 !important;
}

.p-fluid .p-calendar .p-inputtext {
    width: 1%;
    background-color: #e3e3e3;
}


.p-fluid .p-dropdown .p-dropdown-label {
    width: 1%;
    background: #e3e3e3;
}

.p-toolbar {
    background: #ffffff;
    border: 0px solid #ffffff;
    padding: 1rem;
    border-radius: 0px;
    color: #147dba;
}

.p-fluid .p-inputtext {
    width: 98%;
}

.InputCombinadoBuscar {
    display: grid;
    grid-template-columns: 1fr 60px 25px;
}

.InputCombinado {
    display: grid;
    gap: 1%;
    grid-template-columns: 1fr 150px 150px;

    @media (max-width: 700px) {
        display: block
    }
}


.totalesResumen {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: 12rem 1fr;
    align-items: center;

    @media (max-width: 800px) {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}


.formImprimir {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: 12rem 1fr;
    align-items: center;

    @media (max-width: 800px) {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}



.totalaMostrar {
    font-size: 15px;
    text-align: center;
}

.precioForm {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: 10rem 2fr 0.5fr;
    align-items: center;

    @media (max-width: 700px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.number-clear {
    height: 34px;
    margin-top: 18px;
}


.p-inputtext-sm-simple {
    height: 35px;
}

.mt-18 {
    margin-top: 18px;
}


.p-dropdown {
    background: #e3e3e3;
}

.p-inputtext-sm-nonArounded {
    border-radius: 5px !important;
}

.p-tabmenu .p-tabmenu-nav {
    background: #e3e3e3 !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background: #e3e3e3;
}

.charts {

    width: 80%;
}

p-inputmask.ng-dirty.ng-invalid>.p-inputtext {
    border-color: #e3e3e3;
    background: #e3e3e3;
}

p-inputmask {
    border-color: #e3e3e3;
    background: #e3e3e3;
}

.p-dialog-tipo-modal {
    width: 100%;

}

.p-input-icon-left-2 {
    left: 2.5rem;
    color: #657380;
    position: relative;
    display: inline-block;

}

.contenidoRoles {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 3fr;

    @media (max-width: 800px) {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}

.BotonesRoles {
    display: flex;
    width: 100%;
}


.p-toolbar-group-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.p-treetable .p-treetable-thead>tr>th {
    text-align: left;
    padding: 1rem 1rem;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #515C66;
    background: #dedfe1;
    transition: box-shadow 0.2s;
    border-radius: 10px;

}

.p-placeholder {
    background-color: #0b476a;
}

.fondo-gris {
    background: #dedfe1;
}

.width-100 {
    width: 100% !important;
}

.pd-5 {
    padding: 5px 15px !important;
}

.p-dropdown-trigger-icon {
    color: #515C66 !important;
}

.p-fieldset-form p-fieldset legend {
    padding: 1rem 2rem !important;
    border: 1px solid #E4E5E5;
    color: #515C66;
    background: #E1E1E1 !important;
    font-weight: 600;
    border-radius: 3px;
    margin: auto !important;
}

.layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu>li>div .layout-menuitem-text {
    color: white !important;
    font-weight: bold !important;
    background: #4DA8DE !important;
    padding: 10px !important;
    border-radius: 10px !important;
}

.menu-wrapper .layout-menu-container .layout-menu li>ul {
    background: #d3edfc !important;
    border-radius: 10px !important;
    margin-top: 25px !important;
}

.menu-wrapper .layout-menu-container {
    overflow: auto;
    height: 100%;
    background: #ffffff !important;

}

.menu-wrapper .layout-menu-container .layout-menu li>a .layout-menuitem-text {
    margin: 0 11px;
    color: #585454 !important;
    font-weight: 600 !important;
}

.layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu>li>ul li a i {
    color: #1b74c5 !important;
}

.layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu>li>ul li a:hover {
    background-color: #aac0cd !important;
    font-weight: bold;
    color: #f16383 !important;
    font-size: 16px;
}


.layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu>li>ul li.active-menuitem>a {
    background-color: #a4c4d7 !important;
    color: #ffffff !important;
}

body.main-body {
    background: #f7f7f7 !important;
}

.p-tabview .p-tabview-nav {
    background: #f7f7f7 !important;
    border: 0 !important;

}

.p-tabview .p-tabview-panels {
    display: none;
}


.dropdown-full .p-dropdown {
    height: 50px !important;
    width: 100% !important;
}

.dropdown-full {
    height: 50px !important;
    width: 100% !important;
}


.contenidotable-2 {
    min-height: 125vh;
    margin-top: 0px;
}

.BotonesConfig {
    width: 50px;
    height: 130px;
    line-height: 52px;
    text-align: center;
    left: 6rem;
    border-radius: 50px;
}

.BotonesConfig .p-button-icon-only {
    width: 60px;
    padding: 15px 15px;
    margin: 20px;
    margin-left: 30px;
}

.BotonesConfig .p-button-icon-only .pi {
    font-size: 25px;
}

/* Comienza Importados desde los SCSS */

.ramasTable {
    /*box-shadow: 0 0 5px black !important; */
    margin: 1%;
    display: flex;
    background: aliceblue;
}

.titulorama {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;

    @media (max-width: 700px) {
        display: grid;
        justify-content: center;
    }
}

.groupform {
    display: grid;
    row-gap: 0.2rem;
}

.filtoformCheck {
    display: grid;
    grid-gap: 1rem;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 500px) {
        display: grid;
        row-gap: 15%;
        grid-template-columns: auto;
        //  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}


/* Termina Importados desde los SCSS */


.tabladetalles th,
td {
    padding: 20px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center !important;
}


.p-datatable .p-datatable-tbody>tr>td {
    padding: 0.5rem !important;
}


.card-desplegable {
    margin-left: 10px;
    min-height: 440px;
}

.text-area-generico {
    border: 0px;
    background: #dddddd;
    width: 100%;
    height: 125px;
}
