/* Responsive by miguecampossv */

<<<<<<< HEAD
@media (min-width: 1980px) {
  .card-desplegable {
    margin-left: 35px !important;
    min-height: 770px !important;
  }

  .card-desplegable button {
    margin: auto;
    text-align: center;
    display: flex;
  }
}

=======
/* Large Devices */
>>>>>>> StylesV1.0

@media (min-width:2042px) and (max-width:2162px) {

  .card-desplegable {
    margin-left: 35px !important;
    min-height: 770px !important;
  }

  .card-desplegable button {
    margin: auto;
    text-align: center;
    display: flex;
  }
    
}

@media (min-width:1921px) and (max-width:2041px) {

  .card-desplegable {
    margin-left: 35px !important;
    min-height: 770px !important;
  }

  .card-desplegable button {
    margin: auto;
    text-align: center;
    display: flex;
  }

    
}

@media (min-width:1800px) and (max-width:1920px) {

  .card-desplegable {
    margin-left: 35px !important;
    min-height: 770px !important;
  }

  .card-desplegable button {
    margin: auto;
    text-align: center;
    display: flex;
  }

    
}

@media (min-width:1600px) and (max-width:1799px) {

  .card-desplegable {
    margin-left: 35px !important;
    min-height: 770px !important;
  }

  .card-desplegable button {
    margin: auto;
    text-align: center;
    display: flex;
  }
    
}

/* Large Devices */

@media (max-width: 991px) {
  .content-left-wrapper {
    height: auto;
    padding: 95px 30px 60px 30px;
  }

  .boton-ingresar {
    width: 80% !important;
  }

  .p-input-icon-right>i:last-of-type {
    right: 60px !important;
    color: #657380 !important;
  }

  .p-inputtext.p-inputtext-sm-registro-empresa {
    width: 100% !important;
  }

  .card-box {
    width: 100% !important;
  }

  .p-toolbar-group-center-mobile {
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }


  .btn-options-flotant button {
    display: block !important;
    width: 70px !important;
    height: 70px !important;
    position: fixed !important;
    right: 20px !important;
    bottom: 60px !important;
    border-radius: 50% !important;
    text-align: center !important;
    z-index: 999;
  }

  .layout-wrapper .layout-main .layout-content {
    padding-top: 50px!important;
  }
}

@media (max-width: 767px) {


  .btn-options-flotant button {
    display: block !important;
    width: 45px !important;
    height: 45px !important;
    position: fixed !important;
    right: 20px !important;
    bottom: 60px !important;
    border-radius: 50% !important;
    text-align: center !important;
    z-index: 999;
  }


  .card-desplegable {
    display: none;
  }

  .content-left-wrapper {
    padding: 95px 15px 60px 15px;
  }

  .col-lg-6 {
    max-width: 100%;
    flex: none;
  }

  .content-login {
    margin-top: -130px !important;
  }

  .header-buscar-empresas {

    width: 320px !important;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 25px 25px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 29%);
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .p-input-icon-left>i:first-of-type {
    left: 3.5rem;
    color: #657380;
    /* right: 0px; */
  }

  .p-inputtext.p-inputtext-sm {
    font-size: 16px !important;
    padding: 10px 30px !important;
    width: 275px !important;
    border-radius: 20px !important;
    background: #e3e3e3;
    text-align: center !important;
    margin: 10px !important;
  }

  .formularioColum12_1 {
    display: flex !important;
    grid-gap: 1rem !important;
    align-content: center !important;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
    width: 290px !important;

  }

  .card-responsive {
    width: 350px !important;
    text-align: center !important;
  }

  .eligirPlan[_ngcontent-jmu-c225] {
    background-color: #efefef;
    padding: 20px;
    border-radius: 25px;
  }

  .only-responsive {
    display: flex!important;
    flex-direction: column!important;
  }

}