<div class="Margintabla">

    <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
        <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
    </ngx-spinner>

    <div class="contenidoTable card">   
        <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>             
            <div *ngIf="tabColor" >
                <app-colores></app-colores>
            </div> 
            <div *ngIf="tabTalla" >
                <app-tallas></app-tallas>
            </div> 
            <div *ngIf="tabTemporada" >
                <app-temporadas></app-temporadas>
            </div> 
            <div *ngIf="tabMateriales" >
                <app-materiales></app-materiales>
            </div> 
            <div *ngIf="tabColeccion" >
                <app-coleccion></app-coleccion>
            </div> 
    </div>
</div>