<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" [zIndex]="997"  color="#fff" type="timer">
    <p style="font-size: 20px; color: white">CARGANDO. </p>
</ngx-spinner>

<div class="margintabla-home">
    <div class="card-box">   
        <!-- <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>      -->

        <p-tabView (onChange)="onMenuSeleccionado($event.index)"  [scrollable]="true" [activeIndex]="activeItem">
            <p-tabPanel [header]="item.label" *ngFor=" let item of items" >
            </p-tabPanel>
        </p-tabView> 

    </div>
    <br>
    <div class="card-box">   
            <div *ngIf="tabColor" >
                <app-colores></app-colores>
            </div> 
            <div *ngIf="tabTalla" >
                <app-tallas></app-tallas>
            </div> 
            <div *ngIf="tabTemporada" >
                <app-temporadas></app-temporadas>
            </div> 
            <div *ngIf="tabMateriales" >
                <app-materiales></app-materiales>
            </div> 
            <div *ngIf="tabColeccion" >
                <app-coleccion></app-coleccion>
            </div> 
    </div>
</div>