 
<div *ngIf="!VistaNuevoTransportista && !VistaNuevoChofer && !VistaNuevoUnidadTransporte">
  <div class="margintabla">
    <div class="contenidoTable card-box"> 
         
      <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
        <p style="font-size: 20px; color: white">CARGANDO. </p>
      </ngx-spinner>
 
      <p-toolbar>
          <div class="p-toolbar-group-left">
            <h3> <i class="fas fa-address-card"></i> LISTA DE TRANSPORTISTA</h3> 
          </div>
          
          <div class="p-toolbar-group-right">
            <button    
              class="p-button-registrar" 
              pButton
              type="button"
              icon="pi pi-plus"
              label="Agregar"
              tooltipPosition="left"
              pTooltip="Agregar nuevo Transportista"
              (click)="onNuevoTransportista()">  
            </button> 
          </div>
      </p-toolbar>
    </div> 
    
    <br>

    <div class="contenidoTable card-box"> 
      <p-table 
        class="TableDetalleWhiteSpace" 
        [value]="listTransportistas" 
        dataKey="id" 
        [paginator]="true" 
        [rows]="10"
        [columns]="cols" 
        selectionMode="single"  
        responsiveLayout="scroll" >

          <ng-template pTemplate="header"  let-columns >
            <tr>
              <th style="width: 3rem"></th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{ col.header }} 
                <p-sortIcon *ngIf="col.field != 'acciones'"
                    [field]="col.field"
                    ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
                </p-sortIcon> 
            </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transportistas let-columns="columns"  let-rowIndex="rowIndex" let-expanded="expanded">
            <tr [pSelectableRow]="transportistas" [pSelectableRowIndex]="rowIndex">
              <td>
                <button  type="button" pButton pRipple [pRowToggler]="transportistas"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                ></button>
              </td>
              <td  *ngFor="let col of columns" >
                <strong class="p-column-title">{{ col.header | uppercase}}</strong> 
                
                <div [ngSwitch]="col.field">    
                    <div *ngSwitchCase="'fechaRegistro'">
                      {{ transportistas[col.field] | date: col.formatoFecha }}
                    </div>
                    <div *ngSwitchCase="'nombre'" class="alingNombreTable">
                      {{ transportistas[col.field] }}
                    </div>
                    <div *ngSwitchDefault>
                      {{ transportistas[col.field]  }}
                    </div>
                </div>  
      
               <ng-template #botones [ngIf]="col.field === 'acciones'">
                  <div class="botones">
                    <button 
                      pButton
                      type="button" 
                      class="p-button-generico-azul"
                      tooltipPosition="top" 
                      pTooltip="Editar Transportista"  
                      (click)="onEditarTransportista(transportistas.id)"
                      icon="pi pi-pencil">
                    </button> 
                    <button 
                      pButton
                      type="button" 
                      class="p-button-cancelar"
                      (click)="onModalEliminarTransportista(transportistas)"
                      tooltipPosition="top"  
                      pTooltip="Eliminar Transportista"  
                      icon="pi pi-trash">
                    </button>   
                  </div>
                  
              </ng-template>
            </td>
            </tr>
          </ng-template> 
          <!-- LISTA DE CHOFERES -->
          <ng-template pTemplate="rowexpansion" let-transportistas>
            <tr>
              <td colspan="7" >
                <div class="p-3" > 
                  <p-toolbar>
                      <div class="p-toolbar-group-left">
                        <h3> LISTA CHOFERES</h3> 
                      </div>
                      
                      <div class="p-toolbar-group-right">
                        <button 
                          pButton 
                          type="button"
                          (click)="onNuevoChofer(transportistas.id)"   
                          class="p-button-registrar wpx-180"
                          label="Agregar Chofer"
                          tooltipPosition="top" 
                          pTooltip="Agregar Nuevo Chofer"  
                          icon="pi pi-plus">
                        </button> 
                      </div>
                  </p-toolbar> 
                  
                  <p-table   
                    class="TableDetalleWhiteSpace" 
                    [value]="transportistas.choferes"
                    dataKey="id" 
                    [columns]="colschoferes"
                    selectionMode="single" 
                    responsiveLayout="scroll">
                      <ng-template pTemplate="header"  let-columns>
                        <tr>
                          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{ col.header }} 
                            <p-sortIcon *ngIf="col.field != 'acciones'"
                                [field]="col.field"
                                ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon> 
                        </tr>
                      </ng-template>
                    <ng-template pTemplate="body" let-choferes let-columns="columns"  let-rowIndex="rowIndex">
                      <tr [pSelectableRow]="choferes" [pSelectableRowIndex]="rowIndex">
                        <td  *ngFor="let col of columns" >
                          <strong class="p-column-title">{{ col.header | uppercase}}</strong> 


                          <div [ngSwitch]="col.field">     
                            <div *ngSwitchCase="'nombre'" class="alingNombreTable">
                              {{ choferes[col.field] }}
                            </div>
                            <div *ngSwitchDefault>
                              {{ choferes[col.field]}}  
                            </div>
                        </div>  

                          <ng-template #botones [ngIf]="col.field === 'acciones'">
                            <div class="botones">
                              <button  
                                pButton
                                type="button" 
                                (click)="onEditarChofer(transportistas.id,choferes.id )" 
                                class="p-button-generico-azul"
                                tooltipPosition="top" 
                                pTooltip="Editar Chofer"  
                                icon="pi pi-pencil">
                              </button> 
                              <button  
                                pButton
                                type="button" 
                                (click)="onModalEliminarChofer(choferes)" 
                                class="p-button-cancelar"
                                tooltipPosition="top"  
                                pTooltip="Eliminar Chofer"  
                                icon="pi pi-trash">
                              </button>  
                            </div> 
                          </ng-template>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="6">No existen Choferes registrados</td>
                      </tr>
                    </ng-template> 
                  </p-table>
                
                  <p-toolbar>
                    <div class="p-toolbar-group-left">
                      <h3> LISTA UNIDADES DE TRANSPORTE</h3> 
                    </div>
                    
                    <div class="p-toolbar-group-right">
                      <button 
                        pButton
                        type="button" 
                        label="Agregar Transporte" 
                        class="p-button-registrar wpx-180"
                        (click)="onNuevoUnidadTransportista(transportistas.id)"  
                        tooltipPosition="top" 
                        pTooltip="Agregar Unidad de Transporte"  
                        icon="pi pi-plus">
                      </button> 
                    </div>
                  </p-toolbar>

                  <p-table 
                    class="TableDetalleWhiteSpace" 
                    [value]="transportistas.unidades"
                    dataKey="id"
                    [columns]="colsunidades" 
                    responsiveLayout="scroll"
                    selectionMode="single">

                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                          {{ col.header }} 
                          <p-sortIcon *ngIf="col.field != 'acciones'"
                              [field]="col.field"
                              ariaLabel="Activate to sort"
                              ariaLabelDesc="Activate to sort in descending order"
                              ariaLabelAsc="Activate to sort in ascending order">
                          </p-sortIcon> 
                      </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-unidades let-columns="columns"  let-rowIndex="rowIndex" >
                      <tr [pSelectableRow]="unidades" [pSelectableRowIndex]="rowIndex">
                        <td  *ngFor="let col of columns" >
                          <strong class="p-column-title">{{ col.header | uppercase}}</strong>  {{unidades[col.field]}}  
                          <ng-template #botones [ngIf]="col.field === 'acciones'">
                            <div class="botones">
                              <button  
                                pButton
                                type="button" 
                                class="p-button-generico-azul"
                                (click)="onEditarUnidadTransportista(transportistas.id, unidades.id)"
                                tooltipPosition="top" 
                                pTooltip="Editar Und. Transporte"  
                                icon="pi pi-pencil">
                              </button> 
                              <button  
                                pButton
                                type="button" 
                                class="p-button-cancelar" 
                                (click)="onModalEliminarUnidadTransporte(unidades)"
                                tooltipPosition="top" 
                                pTooltip="Eliminar Und. Transporte"  
                                icon="pi pi-trash">
                              </button>    
                            </div> 
                          </ng-template>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="6">No existen Unidades de Transporte registrados</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </td>
            </tr>
          </ng-template>
      </p-table>
    </div> 
 
  </div>   
</div>

 
<!-- VISTAS -->
 <app-nuevo-transportista *ngIf="VistaNuevoTransportista" [idTransportistaEdit]="idTransportistaEdit" (cerrar)="onRetornar($event)"  ></app-nuevo-transportista>
 <app-nuevo-chofer *ngIf="VistaNuevoChofer" [dataChofer]="dataChofer" (cerrar)="onRetornar($event)"   ></app-nuevo-chofer>
 <app-nuevo-unidad-transporte *ngIf="VistaNuevoUnidadTransporte"  [dataUnidadTransporte]="dataUnidadTransporte" (cerrar)="onRetornar($event)"  ></app-nuevo-unidad-transporte>
 


    
 