<div class="margintabla">
    <div class="card">  
        <div class="p-col-12"> 
          <div style="align-items: flex-end;" class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-8">
                  <strong >Criterio:</strong>
                  <input type="text" [formControl]="criterioBusqueda" pInputText  class="p-inputtext-sm" placeholder="ingresar un criterio para hacer la busqueda...">         
              </div>
              <div class="p-field p-col-12 p-md-4">       
                  <button pButton label="Buscar"  class="p-button-sm" icon="pi pi-search" (click)="onLoadTransportistas()"></button>
              </div>
          </div>
      </div>


        <p-table 
        [value]="listTransportistas"
        dataKey="id" #dt  
        [columns]="cols"
        selectionMode="single"  
        [responsive]="true" 
        responsiveLayout="stack" 
        (onRowSelect)="onSeleccionarTransportista($event)"
          >
            <ng-template pTemplate="header"  let-columns >
              <tr>
                <th style="width: 3rem"></th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{ col.header }} 
                  <p-sortIcon *ngIf="col.field != 'acciones'"
                      [field]="col.field"
                      ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                  </p-sortIcon> 
              </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transportistas let-columns="columns"  let-rowIndex="rowIndex" let-expanded="expanded">
              <tr [pSelectableRow]="transportistas" [pSelectableRowIndex]="rowIndex">
                <td>
                  <button  type="button" pButton pRipple [pRowToggler]="transportistas"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                  ></button>
                </td>
                <td  *ngFor="let col of columns" >
                  <strong class="p-column-title">{{ col.header | uppercase}}</strong> 
                  
                  <div [ngSwitch]="col.field">    
                      <div *ngSwitchCase="'fechaRegistro'">
                        {{ transportistas[col.field] | date: col.formatoFecha }}
                      </div>
                      <div *ngSwitchDefault>
                        {{ transportistas[col.field]  }}
                      </div>
                  </div>  
        
              </td>
              </tr>
            </ng-template>

            <div style="margin-top: 2%;"></div>
            <hr style="width: 5%;"desc>
            
            <!-- LISTA DE CHOFERES -->
            <ng-template pTemplate="rowexpansion" let-transportistas>
              <tr>
                <td colspan="7" >
                  <div class="p-3" >
                    <div class="ramasTable">   
                      <div class="titulorama">
                        <h3> LISTA DE CHOFERES</h3>  
                      </div> 
                    </div>
              
                    <p-table   [value]="transportistas.choferes" dataKey="id"  [columns]="colschoferes" selectionMode="single" [responsive]="true" responsiveLayout="stack">
                      <ng-template pTemplate="header"  let-columns>
                        <tr>
                          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{ col.header }} 
                            <p-sortIcon *ngIf="col.field != 'acciones'"
                                [field]="col.field"
                                ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon> 
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-choferes let-columns="columns"  let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="choferes" [pSelectableRowIndex]="rowIndex">
                          <td  *ngFor="let col of columns" >
                            <strong class="p-column-title">{{ col.header | uppercase}}</strong>  {{choferes[col.field]}}   
                        </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="6">No existen Choferes registrados</td>
                        </tr>
                      </ng-template> 
                    </p-table>
                  
                    <div style="margin-top: 2%;"></div>
                    <hr style="width: 5%;">

                    <div class="ramasTable">  
                      <div class="titulorama">
                        <h3> LISTA DE UNIDADES DE TRANSPORTE</h3>   
                      </div>
                    </div>
                       
                    <p-table [value]="transportistas.unidades" dataKey="id" [columns]="colsunidades" [responsive]="true" selectionMode="single">
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{ col.header }} 
                            <p-sortIcon *ngIf="col.field != 'acciones'"
                                [field]="col.field"
                                ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon> 
                        </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-unidades let-columns="columns"  let-rowIndex="rowIndex" >
                        <tr [pSelectableRow]="unidades" [pSelectableRowIndex]="rowIndex">
                          <td  *ngFor="let col of columns" >
                            <strong class="p-column-title">{{ col.header | uppercase}}</strong>  {{unidades[col.field]}}   
                        </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="6">No existen Unidades de Transporte registrados</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </td>
              </tr>
            </ng-template>
        </p-table> 
    </div> 
</div>  
