<form [formGroup]="Form">
    <div class="p-col-12">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12">
                <strong>Nro cuenta *:</strong>
                <input type="text" pInputText minlength="2" maxlength="2" (keypress)="generalService.onSoloNumeros($event)"
                    formControlName="nrocuenta" class="p-inputtext-sm" placeholder="ingresar un numero de cuenta">
            </div>

            <div class="p-field p-col-12">
                <strong>Nombre cuenta*:</strong>
                <input type="text" pInputText minlength="1" maxlength="20" formControlName="nombrecuenta"
                    class="p-inputtext-sm" placeholder="ingresar un nombre">
            </div>


            <div class="p-field p-col-12">
                <strong>Naturaleza *:</strong>
                <div class="elegirOpciones">
                    <div>
                        <strong style="margin: 15px;">DEBE</strong>
                        <p-radioButton name="naturaleza" value="D" formControlName="naturaleza"></p-radioButton>
                    </div>
                    <div>
                        <strong style="margin: 15px;">HABER</strong>
                        <p-radioButton name="naturaleza" value="H" formControlName="naturaleza"></p-radioButton>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="botones">
    <button class="p-button-registrar" pButton type="button" style="margin-right: 1%;" [disabled]="Form.invalid"
        label="{{ (data) ? 'Actualizar' : 'Grabar' }}" (click)="onGrabar()" icon="pi pi-check-circle">
    </button>

    <button  class="p-button-cancelar" pButton type="button"  icon="pi pi-times-circle"
        label="Cancelar" (click)="onRegresar()">
    </button>
</div>