 
<form [formGroup]="Form" style="margin: 0% 5% 0 5%;"> 
 
    <div class="p-col-12"> 
        <div style="align-items: flex-end;" class="p-fluid p-formgrid p-grid"> 
            <div class="p-field p-col-12  p-lg-9 p-md-9"> 
                <strong>Nro cuenta *:</strong>
                <p-inputMask formControlName="nrocuenta"  minlength="2"  [autoClear]="false" (onInput)="onValidarInputMask($event)" 
                [placeholder]="this.maskInput + '  -  0  -  0  -  0  -  00  -  00  -  00'" [mask]="this.maskInput + ' -  9  -  9  -  9  -  99  -  99  -  99'" slotChar=" "></p-inputMask>    
               
            </div>
            
            <div class="p-field p-col-12 p-lg-3 p-md-3">   
                <strong> Imputable :</strong>   <br>
                <p-inputSwitch readonly formControlName="imputable"></p-inputSwitch>  
            </div>

            <div class="p-field p-col-12"> 
                <strong>Nombre cuenta *:</strong> 
                <input  type="text" pInputText minlength="1" formControlName="nombrecuenta" class="p-inputtext-sm-clear-grey" placeholder="ingresar un nombre">  
            </div>
 
            <div class="p-field p-col-12">
                <strong>Naturaleza *:</strong>
                <div class="radios-form">
                    <div>
                        <strong style="margin: 15px;">DEBE</strong>  
                        <p-radioButton name="naturaleza" value="D"formControlName="naturaleza"></p-radioButton>
                    </div>
                    <div>
                        <strong style="margin: 15px;">HABER</strong>
                        <p-radioButton name="naturaleza" value="H"formControlName="naturaleza"></p-radioButton>
                    </div>
                </div>  
            </div>
             
        </div>
    </div> 


    <br>
 
    <div *ngIf="!bloquearData" style="border: solid">
        <p-tabMenu [model]="items" [activeItem]="activeItem">   </p-tabMenu>
        <br>
    
        <div *ngIf="DatosForm" >
            <div class="p-col-12"> 
                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col-12 p-md-12">
                        <strong>Moneda:</strong>
                        <p-dropdown class="extender" [options]="arrayMonedas" formControlName="monedaid"
                        placeholder="Moneda" optionLabel="valor1" [showClear]="true"></p-dropdown>
                    </div> 

                    <div class="p-field p-col-12 p-md-6">
                        <div class="__switches">    
                            <strong>Requiere Detalle:</strong>
                            <p-inputSwitch formControlName="requieredetalle"></p-inputSwitch>  
    
                            <strong>Requiere Centro Costo:</strong>
                            <p-inputSwitch formControlName="requierecentrocosto"></p-inputSwitch>  
    
                            <strong>Presupuesto:</strong>
                            <p-inputSwitch formControlName="presupuesto"></p-inputSwitch>
                        </div> 
                    </div> 
                    
                    <div class="p-field p-col-12 p-md-6">
                        <div class="__switches">    
                            <strong>Analisis Patrimonio Neto:</strong>
                            <p-inputSwitch formControlName="analisispatrimonioneto"></p-inputSwitch>  
    
                            <strong>Usado Costo Producción:</strong>
                            <p-inputSwitch formControlName="usadocostroproduccion"></p-inputSwitch>     
                        </div> 
                    </div> 
                </div>    
            </div>  
        </div>
    
        <div *ngIf="DestinoForm" >
            
            <div class="text-center"> 
                <button pButton pRipple type="button" label="Agregar Detalle" class="p-button-rounded p-button-blue p-button-busqueda" 
                 icon="fas fa-plus"  (click)="onAgregarDetalles()"></button> 
            </div>

            <p-table  
                [value]="detallesForm"
                [scrollable]="true"  
                responsiveLayout="scroll" >  
                <ng-template pTemplate="header">
                    <tr> 
                        <th style="width: 50px;">Acción</th>
                        <th style="width: 60px;">Cuenta Destino</th>
                        <th style="width: 85px;">Cuenta Transferencia</th>
                        <th style="width: 160px;">Porcentaje</th> 
                    </tr>
                </ng-template> 

                <ng-template pTemplate="body" let-detalles  let-rowIndex="rowIndex" formArrayName="arrayDetalle"> 
                    <tr   [formGroupName]="rowIndex"> 
                        <td>
                            <button  
                                class="p-button-sm"
                                pButton 
                                type="button"
                                tooltipPosition="top" pTooltip="Eliminar"
                                style=" background-color: #D72250;"
                                (click)="onEliminarDetalle(rowIndex, detalles.value.plancuentasdestinoid)"
                                icon="pi pi-trash">  
                            </button>  
                        </td> 
                        <td>
                            <strong class="p-column-title">Cuenta Destino</strong>
                            <input type="text" style="width: 80px;"
                                 class="p-inputtext"
                                pInputText formControlName="nrocuentadestino">
                            <button type="button" (click)="onModalBuscarCuenta(rowIndex, 'Cuenta')"
                                pTooltip="Buscar" type="button" tooltipPosition="left" pButton
                                icon="pi pi-search" class="p-button-sm"></button> 
                        </td>
                        <td>
                            <strong class="p-column-title">Cuenta Transferencia</strong>
                            <input type="text" style="width: 80px;"
                                 class="p-inputtext"
                                pInputText formControlName="nrocuentatransferencia">
                            <button type="button" (click)="onModalBuscarCuenta(rowIndex, 'Transferencia')"
                                pTooltip="Buscar" type="button" tooltipPosition="left" pButton
                                icon="pi pi-search" class="p-button-sm"></button> 
                        </td> 
                        <td>
                            <strong class="p-column-title">Porcentaje </strong>
                            <input type="text" style="width: 80px;text-align: right;"  class="p-inputtext-sm" pInputText formControlName="porcentaje">  
                        </td> 
                    </tr>
                </ng-template>
            </p-table> 
        </div>
    </div>
 
    <div class="botones">
        <button  
            class="p-button-registrar"
            pButton
            type="button" 
            [disabled]="Form.invalid"
            label="{{ (data.data) ? 'Actualizar' : 'Grabar' }}"
            (click)="onGrabar()"
            icon="pi pi-check-circle">  
        </button>  

        <button   
            class="p-button-cancelar"
            pButton
            type="button" 
            icon="pi pi-times-circle"
            label="Cancelar" 
            (click)="onRegresar()">  
        </button>  
    </div> 
</form> 


   
<div *ngIf="modalCuentas">
    <p-dialog header="BUSCAR TIPO CUENTA" [(visible)]="modalCuentas" [modal]="true" [draggable]="false" [resizable]="false"> 
        <app-buscar-tipo-cuenta [tipoCuenta]="tipoCuenta" (CuentaSelect)="onPintarcuenta($event)" ></app-buscar-tipo-cuenta>
    </p-dialog> 
</div>
 