<body> 
    <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
        <p style="font-size: 20px; color: white">CARGANDO. </p>
    </ngx-spinner>
 
    <div class="row-login">
        <div class="col-lg-6 background-image">
            <div class="content-left-wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)"> </div>
        </div>
        <div class="col-lg-6 d-flex flex-column"> 
            
            <div class="row" style="width: 100%;">
                <div class="col-lg-9 mx-auto">
                    <div class="login">
                        <div class="title">
                            <img src="assets/layout/images/logo-gestisol.png" alt="logo" />
                            <h2>¡Bienvenido!</h2>
                            <span>Mejores soluciones Informáticas </span>
                            <br><br>
                            <form [formGroup]="loginForm">
                                <div class="form-group">
                                    <input type="email" pInputText formControlName="email"
                                        placeholder="CORREO ELECTRÓNICO" class="p-inputtext-sm-login">

                                    <span class="p-input-icon-right" style="width: 100%;">
                                        <i toggle="#password-field" [class]="cambiarIconEye"
                                            (click)="viewPassword(clave)"> </i>
                                        <input type="password" #passwordField pInputText
                                            placeholder="CONTRASEÑA" formControlName="passwordDesencriptado" #clave
                                            class="p-inputtext-sm-login">
                                    </span>

                                    <div style="margin: 3%;">
                                        <p-checkbox [(ngModel)]="checkRecordarLogin" [binary]="true"
                                            label="Recordar contraseña" formControlName="rememberMe">
                                        </p-checkbox>
                                    </div>
                                    
                                    <button class="p-button-ingresar" pButton type="button"
                                        icon="pi pi-arrow-right" iconPos="right" label="INGRESAR"
                                        [disabled]="loginForm.invalid" (click)="onLogin()">
                                    </button>
                                    
                                </div>
                            </form>

                            <br>
                            
                            <span (click)="onRecuperar()"> ¿Olvidó su contraseña? </span> 
                            <p>¿No tienes cuenta? <a href="#" routerLink="/auth/registro"> <b>Registrate aquí. </b> </a></p> 
                       
                        </div>
                    </div>
                    <div class="footerLogin">GESTISOL - Todos los Derechos Reservados {{ AnioActual }}</div>
                </div>


            </div>
                 
        </div>
    </div> 
</body>


  