<div class="Margintabla">
    <div class="contenidoTable card">
    
        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
        </ngx-spinner>

        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h3>  <i class="fas fa-city"></i>  {{tituloNuevoVendedor}}</h3> 
            </div>
            
            <div class="p-toolbar-group-right">
                <button  
                    class="p-button-sm"
                    pButton
                    type="button"
                    style="margin-right: 1%;"
                    [disabled]="Form.invalid"
                    label="{{ (dataVendedor) ? 'Actualizar' : 'Guardar' }}"
                    (click)="onGrabar()"
                    icon="pi pi-check-circle">  
                </button>  

                <button   
                    class="p-button-sm"
                    pButton
                    type="button"
                    icon="pi pi-times-circle"
                    label="Cancelar" 
                    style=" background-color: #D72250;"
                    (click)="onRegresar()">  
                </button>      
            </div>
        </p-toolbar>

        <hr>   
        <div *ngIf="VendedorEdit" class="centrar">
            <h3> Codigo Vendedor :  {{VendedorEdit.codigovendedor}}</h3> 
        </div>
        <form [formGroup]="Form">
            <p-fieldset>
                <ng-template pTemplate="header">Datos Vendedor</ng-template>
                <div class="formulario">   
                    <strong>Establecimiento *:</strong>
                    <p-dropdown class="extender p-dropdown-sm" [options]="arrayEstablecimientos" formControlName="establecimiento"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                
                    <strong>Tipo Persona *</strong>
                    <p-dropdown class="extender" placeholder="Selecciona un tipo de persona"  formControlName="tipoPersona" [options]="listTipoPersona" optionLabel="valor1"></p-dropdown>
                 
                    <strong>Tipo Documento *</strong>
                    <p-dropdown class="extender" (onChange)="onObtenerTipoDocumento($event.value)" placeholder="Selecciona un tipo de documento" formControlName="tipoDocumento" [options]="listTipoDocumento" optionLabel="valor1"></p-dropdown>
                 
                    <strong>Nro Documento *:</strong>  
                    <div class="p-inputgroup">  
                        <input type="text" pInputText [minlength]="minimoRequerido" [maxlength]="maximoRequerido" formControlName="nroDocumento" class="p-inputtext-sm" placeholder="ingresa número de documento">   
                        <button type="button" pTooltip="Buscar" (click)="onBuscarPorDni()" tooltipPosition="left" pButton class="p-button-sm"  icon="pi pi-search" ></button>      
                    </div>
                
                    <strong *ngIf="!mostrarRazonSocial">Apellidos*</strong>
                    <input *ngIf="!mostrarRazonSocial" type="text" pInputText formControlName="apellidos" class="p-inputtext-sm" placeholder="ingresar tus apellidos">   
                
                    <strong *ngIf="!mostrarRazonSocial">Nombres*</strong>
                    <input *ngIf="!mostrarRazonSocial" type="text" pInputText formControlName="nombres" class="p-inputtext-sm" placeholder="ingresar tus nombres">     
                
                    <strong *ngIf="mostrarRazonSocial">Razón Social *</strong>
                    <input  *ngIf="mostrarRazonSocial" type="text" pInputText  formControlName="razonSocial" class="p-inputtext-sm" placeholder="ingresar la razon social">     
                
                    <strong>Dirección:</strong>  
                    <div class="p-inputgroup">  
                        <input type="text" readonly pInputText [value]="ubigeoParaMostrar" class="p-inputtext-sm" placeholder="ingresa una direccion">   
                        <button type="button" pTooltip="Buscar" (click)="onBuscarUbigeo()" tooltipPosition="left" pButton class="p-button-sm"  icon="pi pi-search" ></button>      
                    </div>

                    <strong>Dirección Principal:</strong>
                    <input type="text" pInputText formControlName="direccionprincipal" class="p-inputtext-sm">  

                </div>  
            </p-fieldset>
        </form> 


        <!-- <div class="botones">
            <button  
                class="p-button-sm p-button-rounded mx-2"
                pButton
                type="button"
                [disabled]="Form.invalid"
                label="{{ (dataVendedor) ? 'Actualizar' : 'Grabar' }}"
                (click)="onGrabar()"
                icon="pi pi-check-circle">  
            </button>  

            <button   
                class="p-button-sm p-button-rounded mx-2"
                pButton
                type="button"
                icon="pi pi-times-circle"
                label="Cancelar" 
                (click)="onRegresar()">  
            </button>  
        </div> -->

    </div>
</div>


<div *ngIf="modalBuscarUbigeo">
    <p-dialog header="BUSCAR UBIGEO" [(visible)]="modalBuscarUbigeo" [modal]="true" [style]="{width: '50vw'}">
        <app-buscar-ubigeo [dataUbigeo]="dataUbigeo" (ubigeoSelect)="onPintarUbigeoSeleccionado($event)"> </app-buscar-ubigeo>
    </p-dialog> 
</div>  
