<div class="margintabla">
    <div class="contenidoTable card-box"> 

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
        </ngx-spinner>
           
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h3> <i class="far fa-id-badge"></i> {{ tituloVistaChofer }}</h3>  
            </div>
            
            <div class="p-toolbar-group-right">
                <button  
                    class="p-button-registrar"
                    pButton 
                    type="button"
                    [disabled]="Form.invalid"
                    label="{{ (dataChofer.idChofer) ? 'Actualizar' : 'Grabar' }}"
                    (click)="onGrabarChofer()"
                    icon="pi pi-check-circle">  
                </button>  

                <button   
                    class="p-button-cancelar"
                    pButton
                    type="button"
                    icon="pi pi-times-circle"
                    label="Cancelar"  
                    (click)="onRegresar()">  
                </button>  
            </div>
        </p-toolbar>

        
        <hr>   
            <div class="stepsdemo-content nuevoTransportista  formulario-campo-obligatorio">
                <div>
                    <form [formGroup]="Form" class="form" >   
                        <p-fieldset>
                            <ng-template pTemplate="header">Datos Personales</ng-template>
                            <div class="p-col-12">
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col-12">
                                        <strong>Brevete</strong>
                                        <input type="text" pInputText formControlName="brevete" class="p-inputtext-sm-form" placeholder="ingresar tu brevete">   
                                    </div>
                                    <div class="p-field p-col-12">
                                        <strong>Tipo Persona <span> *</span></strong>
                                        <p-dropdown class="extender" placeholder="Selecciona un tipo de persona"  formControlName="tipoPersona" [options]="listTipoPersona" optionLabel="valor1"></p-dropdown>
                                    </div>
                                    <div class="p-field p-col-12">
                                        <strong>Tipo Documento <span> *</span></strong>
                                        <p-dropdown class="extender" (onChange)="onObtenerTipoDocumento($event.value)" placeholder="Selecciona un tipo de documento" formControlName="tipoDocumento" [options]="listTipoDocumento" optionLabel="valor1"></p-dropdown>
                                    </div>
                                    <div class="p-field p-col-12">
                                        <strong>Nro Documento <span> *</span></strong>  
                                        <div class="p-inputgroup">  
                                            <input type="text" pInputText formControlName="nroDocumento"  minlength="8" maxlength="15" 
                                                (keypress)="generalService.onSoloNumeros($event)" (keydown.enter)="onBuscarPorNumeroDocumento()"  
                                                class="p-inputtext-sm-form" placeholder="ingresar el numero de documento">   
                                            <button type="button" pTooltip="Buscar" tooltipPosition="left" pButton pRipple icon="pi pi-search" 
                                                (click)="onBuscarPorNumeroDocumento()" class="p-button-sm-generico-azul"  >
                                            </button>      
                                        </div>
                                    </div>
                                    <div class="p-field p-col-12" *ngIf="!mostrarRazonSocial">
                                        <strong>Apellidos<span> *</span></strong>
                                        <input type="text" pInputText formControlName="apellidos" class="p-inputtext-sm-form" placeholder="ingresar tus apellidos">   
                                    </div>
                                    <div class="p-field p-col-12" *ngIf="!mostrarRazonSocial">
                                        <strong>Nombres<span> *</span></strong>
                                        <input type="text" pInputText formControlName="nombres" class="p-inputtext-sm-form" placeholder="ingresar tus nombres">     
                                    </div>
                                    <div class="p-field p-col-12" *ngIf="mostrarRazonSocial">
                                        <strong>Razón Social <span> *</span></strong>
                                        <input  type="text" pInputText  formControlName="razonSocial" class="p-inputtext-sm-form" placeholder="ingresar la razon social">     
                                    </div>
                                    <div class="p-field p-col-12"> 
                                        <strong>Ubigeo:</strong>  
                                        <div class="p-inputgroup">  
                                            <input type="text" pInputText [value]="ubigeoParaMostrar" class="p-inputtext-sm-form" placeholder="Busca un anexo">   
                                            <button type="button" pTooltip="Buscar" (click)="onBuscarUbigeo()" tooltipPosition="left" pButton class="p-button-sm-generico-azul"  icon="pi pi-search" ></button>      
                                        </div>
                                    </div>
                                    <div class="p-field p-col-12">
                                        <strong>Dirección Principal:</strong>
                                        <input type="text" pInputText formControlName="direccionprincipal" class="p-inputtext-sm-form">  
                                    </div>
                                </div> 
                            </div> 
                        </p-fieldset>
                    </form>   
                  
                </div> 
            </div> 
    </div>  
  
</div>


<div *ngIf="modalBuscarUbigeo">
    <p-dialog header="BUSCAR UBIGEO" [(visible)]="modalBuscarUbigeo" [modal]="true">
        <app-buscar-ubigeo [dataUbigeo]="dataUbigeo" (ubigeoSelect)="onPintarUbigeoSeleccionado($event)"> </app-buscar-ubigeo>
    </p-dialog> 
</div>  
