<div class="Margintabla">
    <div class="contenidoTable card"> 

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
        </ngx-spinner>
           
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h3> <i class="far fa-id-badge"></i> {{ tituloVistaChofer }}</h3>  
            </div>
            
            <div class="p-toolbar-group-right">
                <button  
                    class="p-button-sm"
                    pButton
                    style="margin-right: 1%;"
                    type="button"
                    [disabled]="Form.invalid"
                    label="{{ (dataChofer.idChofer) ? 'Actualizar' : 'Guardar' }}"
                    (click)="onGrabarChofer()"
                    icon="pi pi-check-circle">  
                </button>  

                <button   
                    class="p-button-sm"
                    pButton
                    type="button"
                    icon="pi pi-times-circle"
                    label="Cancelar" 
                    style=" background-color: #D72250;"
                    (click)="onRegresar()">  
                </button>  
            </div>
        </p-toolbar>

        
        <hr>   
            <div class="stepsdemo-content nuevoTransportista">
                <div>
                    <form [formGroup]="Form" class="form" >   
                        <p-fieldset>
                            <ng-template pTemplate="header">Datos Personales</ng-template>
                            <div class="formulario">   
                                <strong>Brevete</strong>
                                <input type="text" pInputText formControlName="brevete" class="p-inputtext-sm" placeholder="ingresar tu brevete">   
                            
                                <strong>Nro Documento *</strong>  
                                <div class="p-inputgroup">  
                                    <input type="text" pInputText formControlName="nroDocumento"  minlength="8" maxlength="8" (keypress)="validateNumber($event)" (keydown.enter)="onBuscarPorNumeroDocumento()" placeholder="ingresar el numero de documento">   
                                    <button type="button" pTooltip="Buscar" tooltipPosition="left" pButton pRipple icon="pi pi-search" (click)="onBuscarPorNumeroDocumento()"styleClass="p-button-warn"></button>      
                                </div>

                                <strong>Apellidos</strong>
                                <input type="text" pInputText readonly formControlName="apellidos" class="p-inputtext-sm" placeholder="ingresar tus apellidos">   
                            
                                <strong>Nombres</strong>
                                <input  type="text" pInputText readonly formControlName="nombres" class="p-inputtext-sm" placeholder="ingresar tus nombres">     
                            
                                <strong>Dirección:</strong>  
                                <div class="p-inputgroup">  
                                    <input type="text" readonly pInputText [value]="ubigeoParaMostrar" class="p-inputtext-sm" placeholder="Busca un anexo">   
                                    <button type="button" pTooltip="Buscar" (click)="onBuscarUbigeo()" tooltipPosition="left" pButton class="p-button-sm"  icon="pi pi-search" ></button>      
                                </div>

                                <strong>Dirección Principal:</strong>
                                <input type="text" pInputText formControlName="direccionprincipal" class="p-inputtext-sm">  
        
                            </div> 
                        </p-fieldset>
                    </form>   
                  
                </div> 
            </div>
   
        <!-- <div class="botones">
            <button  
                class="p-button-sm p-button-rounded mx-2"
                pButton
                type="button"
                [disabled]="Form.invalid"
                label="{{ (dataChofer.idChofer) ? 'Actualizar' : 'Grabar' }}"
                (click)="onGrabarChofer()"
                icon="pi pi-check-circle">  
            </button>  

            <button   
                class="p-button-sm p-button-rounded mx-2"
                pButton
                type="button"
                icon="pi pi-times-circle"
                label="Cancelar" 
                (click)="onRegresar()">  
            </button>  
        </div> -->
    </div>  
  
</div>


<div *ngIf="modalBuscarUbigeo">
    <p-dialog header="BUSCAR UBIGEO" [(visible)]="modalBuscarUbigeo" [modal]="true" [style]="{width: '50vw'}">
        <app-buscar-ubigeo [dataUbigeo]="dataUbigeo" (ubigeoSelect)="onPintarUbigeoSeleccionado($event)"> </app-buscar-ubigeo>
    </p-dialog> 
</div>  
