.exception-body.access-page .exception-top {
  background-color: #135AA9;
  color: white;
  height: 8%;
  display: -ms-flexbox;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

  .exception-body.access-page {
    background: gainsboro;
  }

 