 
.panel{
    margin-bottom: 5%;
}

 

 .formCheck{
   display: grid;
   align-items: center;
   grid-template-columns: 120px 1fr;
 }

 .formCheck2{
   display: grid;
   align-items: center;
   grid-template-columns: 100px 1fr; 
   @media (max-width: 500px) {  
      display: grid;
      grid-template-columns: 120px 1fr; 
   } 
 }

   
 



 

::ng-deep .BorrarLabel {
  .p-button-label{
    @media (max-width:900px) {
      display: none !important;
    }
  }
}
 