<div class="Margintabla">
    <div class="contenidoTable card"> 

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
           </ngx-spinner>

           
        <div class="reporteMovimiento">  
            <h3> <i class="fas fa-file-pdf"></i> REPORTE </h3> 
            <div class="botonesCabecera">   
                <button   
                    class="p-button-sm"
                    pButton
                    type="button"
                    icon="pi pi-file"
                    label="Generar" 
                    style="margin-right: 1%"
                    (click)="onGenerarReporte()">  
                </button>  
                <button   
                    class="p-button-sm"
                    pButton
                    type="button"
                    icon="pi pi-arrow-circle-left"
                    label="Regresar" 
                    (click)="onRegresar()">  
                </button>  
            </div>
        </div>

        <div *ngIf="contenidoReporte" style="height: 80vh;"> 
             <br> 
             <iframe  [src]="Pdf" height="95%" width="100%"></iframe> 
        </div>
 
    </div>
</div>