<!-- <app-titulos  (cerrar)="onRegresar()"> </app-titulos> 
   --> 
<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
    <p style="font-size: 20px; color: white">CARGANDO. </p>
</ngx-spinner>

<p-toolbar>
    <div class="logotipo">
        <div class="p-toolbar-group-center p-toolbar-group-center-mobile">
        <img id="app-logo" style="padding-right: 2%;" src="assets/layout/images/logo-gestisol.png" alt="poseidon-layout">
        </div>
    </div>
</p-toolbar>


<div class="tituloPage">
    <h2> <strong> Pedidos a notificar </strong></h2> 
</div>


<div class="margintabla"> 
    <div class="contenido-form-table">
        <div class="row"> 
            <div class="contenidoTable card-box">
                <div class="p-col-12">
                    <div class="p-fluid p-formgrid p-grid" style="margin: 0;">
                    <div class="p-field p-col-12 p-md-8 p-sm-12" style="margin: 0;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" class="p-inputtext-generico" placeholder="Buscar" size="25"
                        (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                    </span>
                    </div>
                    <div class="p-field p-col-12 p-md-4 p-sm-12" style="margin: 0;">
                    <button    
                        class="p-button-generico-agregar"
                        pButton
                        icon="pi pi-arrow-left"
                        label="Regresar"
                        tooltipPosition="left" 
                        pTooltip="Regresar"
                        (click)="onRegresar()">  
                    </button> 
                    </div>
                </div>
                </div> 
            </div>  
        </div> 
       
        <br> 
     
        <div class="row">
            <div class="contenidoTable card-box"> 
                <p-table   
                    #dt [columns]="cols" 
                    [value]="listPedidos"
                    [rowHover]="true" 
                    [responsive]="true"
                    responsiveLayout="scroll"
                    selectionMode="multiple"  
                    (onHeaderCheckboxToggle)="onSeleccionarTodosLosPedidos($event)" 
                    (onRowSelect)="onSeleccionarPedidos($event)"  
                    (onRowUnselect)="onQuitarSeleccionPedidos($event)"  >
        
                    <ng-template pTemplate="header">
                        <tr>
                            <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                                {{col.header}} 
                                <p-sortIcon  
                                [field]="col.field"
                                ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order">
                                </p-sortIcon> 
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-col let-rowIndex>
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex"> 
                            <td><p-tableCheckbox [value]="rowData"></p-tableCheckbox></td>
                            <td *ngFor="let col of cols">
                                <strong class="p-column-title"> {{ col.header | uppercase}}  </strong> 
                                {{rowData[col.field]}}
                            <td> 
                        </tr>
                    </ng-template>      
                </p-table>
    
                <div *ngIf="mostrarAdjuntar">   
                    <p-fileUpload
                        name="myfiles[]"
                        chooseLabel="Adjuntar" 
                        chooseIcon="pi pi-paperclip" 
                        accept="image/*" 
                        [auto]="true" 
                        (onRemove)="onEliminarArchivo($event)"
                        [customUpload]="true"
                        (uploadHandler)="onUpload($event)"> 
                    </p-fileUpload>
        
                </div> 

                <div class="botones">
                    <button
                        pButton
                        type="button"
                        *ngIf="mostrarEnviarNotificacion"  
                        class="p-button-registrar"
                        label="Enviar Notificación" 
                        icon="pi pi-check-circle" 
                        (click)="onModalEnviarNotificacion()">
                    </button>
                </div>

            </div>  
        </div> 
    </div>
</div> 


   
  
      
  
    


