<div class="Margintabla">
    <div class="contenido card">
         
        <form [formGroup]="Form">
            <div class="stepsdemo-content">   
                <div class="formulario"> 
                    <strong>Documento:</strong>
                    <p-dropdown class="extender" appendTo="body" [options]="arrayDocumentos"  formControlName="documento" placeholder="Selecciona tipo documento" optionLabel="valor1"  [showClear]="true" ></p-dropdown>
                        
                    <strong>Serie:</strong>
                    <input  type="text" pInputText [minLength]="1" [maxlength]="4" formControlName="serie" class="p-inputtext-sm" placeholder="ingresar una serie">     

                    <strong>Predeterminado:</strong>
                    <p-inputSwitch  formControlName="predeterminado"  ></p-inputSwitch>  
                </div> 
            </div>
 
            <div class="botones">
                <button  
                    class="p-button-sm"
                    pButton
                    type="button"
                    [disabled]="Form.invalid"
                    label="Grabar"
                    style="margin-right: 1%;"
                    (click)="onGrabar()"
                    icon="pi pi-check-circle">  
                </button>  
    
                <button   
                    class="p-button-sm"
                    pButton
                    type="button"
                    style=" background-color: #D72250;"
                    icon="pi pi-times-circle"
                    label="Cancelar" 
                    (click)="onRegresar()">  
                </button>  
            </div>

        </form>
    </div>
</div>