 
 <div class="layout-wrapper" [ngClass]="{'p-input-filled': app.inputStyle === 'filled', 'p-ripple-disabled': !app.ripple,
 'layout-static': isStatic(),
 'layout-overlay': isOverlay(),
 'layout-overlay-active': overlayMenuActive && isOverlay(),
 'layout-horizontal': isHorizontal(),
 'layout-static-active': !staticMenuDesktopInactive && isStatic(),
 'layout-mobile-active': staticMenuMobileActive,
 'layout-rtl': app.isRTL}" [class]="'layout-menu-'+ app.menuTheme+ ' layout-topbar-'+ app.topbarTheme">

<app-topbar (mPredeterminado)="onModalesPredeterminados($event)"></app-topbar>
  
<div class="menu-wrapper" (click)="onMenuClick($event)">
 <div class="layout-menu-container">  
     <app-menu ></app-menu> 
 </div>
</div>
  

<div class="layout-main">  
    <div class="layout-content">   
        <!-- <p-tabMenu [model]="Tabs" [activeItem]="activeItem" (click)="onChangeTab($event)" (dblclick)="onEliminarTab($event)" ></p-tabMenu>  z -->
        <p-tabView [controlClose]="true" (onClose)="onEliminarTab($event.index)" [scrollable]="true" [activeIndex]="activeItem" (onChange)="onChangeTab($event.index)">
            <p-tabPanel [header]="item.label" *ngFor=" let item of Tabs" [closable]="true">
            </p-tabPanel>
        </p-tabView> 
        <router-outlet> </router-outlet>      
    </div> 
</div>
 
<!-- OCULTAR MENUS A PEDIDO DEL DISEÑADOR -->
<!-- <app-config></app-config> -->

<div *ngIf="staticMenuMobileActive" class="layout-mask modal-in"></div>
</div>

<div *ngIf="modalUbicacion">
    <p-dialog header="ESTABLECIMIENTO - ALMACÉN PREDETERMINADO" [(visible)]="modalUbicacion" [modal]="true">
        <form [formGroup]="Form"> 
            <div class="p-col-12"> 
                <div class="p-fluid p-formgrid p-grid"> 
                    <div class="p-field p-col-12 md-6">  
                        <strong>Establecimiento:</strong>
                        <p-dropdown class="extender" appendTo="body" (onChange)="onObtenerEstablecimiento($event)" [options]="arrayEstablecimiento" formControlName="establecimientoid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                    </div>
                    <div class="p-field p-col-12 md-6">  
                        <strong>Almacén:</strong>
                        <p-dropdown class="extender" appendTo="body" [options]="arrayAlmacen" formControlName="almacenid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                    </div> 
                </div> 
            </div> 
             
            <div class="botones">
                <button  
                    class="p-button-sm"
                    pButton
                    [disabled]="Form.invalid"
                    label="Grabar"
                    style="margin-right: 1%;"
                    (click)="onGrabarPredeterminados()"
                    icon="pi pi-check-circle">  
                </button>  
    
                <button   
                    class="p-button-sm"
                    pButton
                    style=" background-color: #D72250;"
                    icon="pi pi-times-circle"
                    label="Cancelar" 
                    (click)="modalUbicacion = false">  
                </button>  
            </div>  
        </form> 
          
    </p-dialog> 
</div>  

<div *ngIf="modalTiketera">
    <p-dialog header="CONFIGURAR IMPRESORA TIKETERA" [(visible)]="modalTiketera" [modal]="true">
    <form [formGroup]="FormImpresion">
        <div class="p-col-12"> 
            <div class="p-fluid p-formgrid p-grid"> 
                <div class="p-field p-col-12 md-6"> 
                    <strong>Host de Impresión:</strong>
                    <div class="p-inputgroup">  
                        <input  type="text"  pInputText formControlName="hostImpresion" class="p-inputtext-sm p-inputtext-gris">     
                        <button class="p-button-sm" type="button" pButton label="Aplicar Host" (click)="onLoadImpresoras()"> </button>    
                    </div> 
                </div>
                <div class="p-field p-col-12 md-6"> 
                    <strong>Impresora:</strong>
                    <p-dropdown class="extender" [disabled]="bloquearComboImpresoras"  appendTo="body" [options]="arrayImpresoras"  formControlName="nombreImpresora"  placeholder="Selecciona"  [showClear]="true"  optionLabel="nombre"></p-dropdown> 
                </div>
                <div class="p-field p-col-12 md-6"> 
                    <strong>Ancho Papel(puntos)):</strong>
                    <input  type="text" pInputText [minLength]="1"  formControlName="anchoPapel"  class="p-inputtext-sm p-inputtext-gris">     
                </div>
            </div>
        </div>
    </form>
    <div class="botones">
        <button  
            class="p-button-registrar"
            pButton
            [disabled]="FormImpresion.invalid"
            label="Grabar"
            style="margin-right: 1%;"
            (click)="onGrabarImpresionPredeterminados()"
            icon="pi pi-check-circle">  
        </button>  

        <button   
            class="p-button-cancelar"
            pButton
            style=" background-color: #D72250;"
            icon="pi pi-times-circle"
            label="Cancelar" 
            (click)="modalTiketera = false">  
        </button>  
    </div> 
    <div class="center"><span><strong> NOTA:</strong> La impresora debe soportar comandos POS/ESC </span></div>
    </p-dialog> 
</div> 