 
 

.Margintabla ::ng-deep p-dropdown {
  width: 80% !important;
  display: flex !important;
}
 
.Margintabla{
  margin: 3%;
  box-shadow: none  !important;
}

  .exception-body.access-page {
    background: gainsboro;
  }

  .p-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    margin-top: -1rem;
    row-gap: 10px;
  }

  .pi{
    font-size: 1.3rem; 
    padding: 1% 1% 0.5% 1%;
  }
  
  
