<!-- <app-titulos (cerrar)="onRegresar()"></app-titulos> -->

<!-- Reempplazo de cabecera -->

<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
  <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
</ngx-spinner>

<p-toolbar>
  <div class="logotipo">
    <div class="p-toolbar-group-center">
      <img id="app-logo" style="padding-right: 2%;" src="assets/layout/images/logotipo.svg" alt="poseidon-layout">
    </div>
  </div>

  <div class="p-toolbar-group-right">
    <button class="p-button-generico-azul" pButton icon="pi pi-arrow-left" label="Regresar" tooltipPosition="left"
      style="margin-right: 1%;" pTooltip="Regresar" (click)="onRegresar()">
    </button>
  </div>
</p-toolbar>

<div class="tituloPage">
  <h2> <strong> Tabla de Usuarios</strong></h2>
</div>


<div class="Margintabla">
  <div class="contenidoTable">
    <div class="buscar-empresa">
      <div class="container">
        <div class="row">
          <div class="header-buscar-empresas">
            <div class="col-lg-6">
              <div class="column-empresas-left">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" class="p-inputtext-generico" placeholder="Buscar" size="25"
                    (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="column-empresas-right">
                <button class="p-button-agregar-blue" pButton icon="pi pi-plus" label="Invitar"
                  tooltipPosition="left" pTooltip="Invitar Usuario" (click)="onModalInvitarUsuario()">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="tablas-empresas">
            <p-table #dt [columns]="cols" responsiveLayout="stack" selectionMode="single" [rowHover]="true"
              [value]="usuariosporEmpresa">

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.field != 'acciones'" [field]="col.field" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-usuario let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="usuario" [pSelectableRowIndex]="rowIndex">
                  <td *ngFor="let col of columns">
                    <strong class="p-column-title">{{ col.header | uppercase}}</strong>

                    <div [ngSwitch]="col.field">
                      <div *ngSwitchCase="'ultimaInteraccion'">
                        {{ usuario[col.field] | date: col.formatoFecha }}
                      </div>
                      <div *ngSwitchDefault>
                        {{ usuario[col.field] }}
                      </div>
                    </div>

                    <ng-template #botones [ngIf]="col.field === 'acciones'">
                      <div class="d-flex">
                        <button *ngIf="usuario.esAdmin" pButton (click)="onModalChangeRol(usuario)"
                          tooltipPosition="top" pTooltip="Cambiar de Rol" type="button" icon="pi pi-cog">
                        </button>

                        <p-splitButton class="m-2" *ngIf="!usuario.esAdmin" icon="pi pi-cog" type="button"
                          (click)="onSelectItems(usuario)" [model]="itemsOperario">
                        </p-splitButton>

                      </div>
                    </ng-template>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>

<!-- MODALES -->
<div class="modal-cambioDeRol">
  <p-dialog header="CAMBIO DE ROL" *ngIf="selectUsuario" [(visible)]="modalChangeRol" [modal]="true" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="InvitarForm">
      <div class="p-col-12">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12">
            <strong> USUARIO : </strong>
            <br> <br>
            <input readonly pInputText [value]="selectUsuario.nombreUsuario" class="p-inputtext-sm  p-inputtext-sm-clear">
          </div>

          <div class="p-field p-col-12">
            <strong> ROL ACTUAL : </strong>
            <br> <br>
            <input readonly pInputText [value]="selectUsuario.rol" class="p-inputtext-sm p-inputtext-sm-clear">
          </div>

          <div class="p-field p-col-12">
            <strong>CAMBIAR POR:</strong>
            <br> <br>
            <p-dropdown [options]="ListadeRoles" placeholder="Selecciona el nuevo rol" optionLabel="nombre"
              appendTo="body" class="extender" formControlName="Rol" [showClear]="true">
            </p-dropdown>
          </div>
        </div>
      </div>
    </form>
    <div class="botones">
      <button pButton label="Cambiar de Rol" style="margin-right: 1%;" (click)="onChangeRol(selectUsuario)"
        class="p-button-registrar" icon="pi pi-refresh">
      </button>
      <button pButton label="cancelar" (click)="modalChangeRol = false"
        class="p-button-cancelar" icon="pi pi-times-circle">
      </button>
    </div>
  </p-dialog>
</div>

<p-dialog header="INVITAR A UN USUARIO" [(visible)]="modalInvitarUsuario" [modal]="true" [draggable]="false"
  [resizable]="false">
  <form [formGroup]="InvitarForm">
    <div class="p-col-12">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <strong> Email :</strong>
          <input type="email" pInputText formControlName="Email" placeholder="ingrese email" class="p-inputtext-sm">
        </div>
        <div class="p-field p-col-12">
          <strong> Nuevo Rol :</strong>
          <p-dropdown appendTo="body" class="extender" [options]="ListadeRoles" placeholder="Selecciona el nuevo rol"
            optionLabel="nombre" formControlName="Rol" [showClear]="true">
          </p-dropdown>
        </div>
      </div>
    </div>
  </form>

  <div class="botones">
    <button pButton label="Enviar invitación" [disabled]="InvitarForm.invalid" (click)="onEnviarInvitacion()"
      type="button" style="margin-right: 1%;" class="p-button-registrar" icon="pi pi-send">
    </button>
    <button pButton label="cancelar" type="button" style=" background-color: #D72250;"
      (click)="modalInvitarUsuario = false" class="p-button-cancelar " icon="pi pi-times-circle">
    </button>
  </div>

</p-dialog>