<!-- Reempplazo de cabecera -->
<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
  <p style="font-size: 20px; color: white">CARGANDO. </p>
</ngx-spinner>

<p-toolbar>
  <div class="logotipo">
    <div class="p-toolbar-group-center">
      <img id="app-logo" style="padding-right: 2%;" src="assets/layout/images/logo-gestisol.png" alt="poseidon-layout">
    </div>
  </div>

  <div class="p-toolbar-group-right p-toolbar-group-center-mobile">
    <button class="p-button-generico-azul" pButton icon="pi pi-arrow-left" label="Regresar" tooltipPosition="left"
      style="margin-right: 1%;" pTooltip="Regresar" (click)="onRegresar()">
    </button>
  </div>
</p-toolbar>

<div class="tituloPage">
  <h2> <strong> Tabla de Usuarios</strong></h2>
</div>

<div class="margintabla">   
  <div class="contenido-form-table">  
     <div class="row">
       <div class="contenidoTable card-box">
         <div class="p-col-12">
           <div class="p-fluid p-formgrid p-grid" style="margin: 0;">
           <div class="p-field p-col-12 p-md-8 p-sm-12" style="margin: 0;">
             <span class="p-input-icon-left">
               <i class="pi pi-search"></i>
               <input pInputText type="text" class="p-inputtext-generico" placeholder="Buscar" size="25"
                 (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
             </span>
           </div>
           <div class="p-field p-col-12 p-md-4 p-sm-12" style="margin: 0;">
            <button  class="p-button-generico-agregar" pButton icon="pi pi-plus" label="Invitar"
              tooltipPosition="left" pTooltip="Invitar Usuario" (click)="onModalInvitarUsuario()">
            </button>
           </div>
         </div>
         </div>
       </div> 
     </div> 
     <br> 
     <div class="row">
       <div class="contenidoTable card-box">  
          <p-table #dt  
            class="TableDetalleWhiteSpace" 
            [columns]="selectedColumns" 
            responsiveLayout="scroll"
            selectionMode="single" 
            [rowHover]="true"
            [value]="usuariosporEmpresa">

            <ng-template pTemplate="caption">
              <strong> Filtrar columnas</strong> &nbsp;
              <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                  selectedItemsLabel="{0} columnas seleccionadas" [style]="{minWidth: '200px'}" placeholder="Filtrar Columnas"></p-multiSelect>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon *ngIf="col.field != 'acciones'" [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
                  </p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-usuario let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="usuario" [pSelectableRowIndex]="rowIndex">
                <td *ngFor="let col of columns">
                  <strong class="p-column-title">{{ col.header | uppercase}}</strong>

                  <div [ngSwitch]="col.field">
                    <div *ngSwitchCase="'ultimaInteraccion'">
                      {{ usuario[col.field] | date: col.formatoFecha }}
                    </div>
                    <div *ngSwitchDefault>
                      {{ usuario[col.field] }}
                    </div>
                  </div>

                  <ng-template #botones [ngIf]="col.field === 'acciones'">
                    <div class="d-flex">
                      <button  class="p-button-generico-azul"  *ngIf="usuario.esAdmin" pButton (click)="onModalChangeRol(usuario)"
                        tooltipPosition="top" pTooltip="Cambiar de Rol" type="button" icon="pi pi-cog">
                      </button>

                      <p-tieredMenu  #menu [model]="itemsOperario" appendTo="body" [popup]="true"></p-tieredMenu>
                      <button  class="p-button-generico-azul"  #btn type="button"  *ngIf="!usuario.esAdmin"  [disabled]="usuario.esAdmin" 
                      pButton label="Ajustes" icon="pi pi-cog" (click)="menu.show($event)" (click)="onSelectItems(usuario)" ></button>
                    </div>
                  </ng-template>
                  
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div> 
    </div> 
  </div>
</div>

<!-- MODALES -->
  <p-dialog header="CAMBIO DE ROL" *ngIf="selectUsuario" [(visible)]="modalChangeRol" [modal]="true" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="InvitarForm">
      <div class="p-col-12">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-6 p-sm-12">
            <strong> USUARIO : </strong> 
            <input readonly pInputText [value]="selectUsuario.nombreUsuario" class="p-inputtext-sm-form">
          </div>
          <div class="p-field p-col-12 p-md-6 p-sm-12">
            <strong> ROL ACTUAL : </strong> 
            <input readonly pInputText [value]="selectUsuario.rol" class="p-inputtext-sm-form">
          </div>
        
          <div class="p-field p-col-12 p-md-12 p-sm-12">
            <strong>CAMBIAR POR:</strong> 
            <p-dropdown [options]="ListadeRoles" placeholder="Selecciona el nuevo rol" optionLabel="nombre"
              appendTo="body"  formControlName="Rol" [showClear]="true">
            </p-dropdown> 
          </div>
      </div>
    </div>
    </form>
    <div class="botones">
      <button pButton label="Cambiar de Rol" (click)="onChangeRol(selectUsuario)"
        class="p-button-registrar" icon="pi pi-refresh">
      </button>
      <button pButton label="cancelar" (click)="modalChangeRol = false"
        class="p-button-cancelar" icon="pi pi-times-circle">
      </button>
    </div>
  </p-dialog>
 

<p-dialog header="INVITAR A UN USUARIO" [(visible)]="modalInvitarUsuario" [modal]="true" [draggable]="false"
  [resizable]="false">
  <form [formGroup]="InvitarForm">
    <div class="p-col-12">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <strong> Email :</strong>
          <input type="email" pInputText formControlName="Email" placeholder="EJEM: demo@gmail.com" class="p-inputtext-sm-form">
        </div>
        <div class="p-field p-col-12">
          <strong> Asignar Rol :</strong>
          <p-dropdown appendTo="body"  [options]="ListadeRoles" placeholder="Selecciona el nuevo rol"
            optionLabel="nombre" formControlName="Rol" [showClear]="true">
          </p-dropdown>
        </div>
      </div>
    </div>
  </form>

  <div class="botones">
    <button pButton label="Enviar invitación" [disabled]="InvitarForm.invalid" (click)="onEnviarInvitacion()"
      type="button" class="p-button-registrar" icon="pi pi-send">
    </button>
    <button pButton label="cancelar" type="button"
      (click)="modalInvitarUsuario = false" class="p-button-cancelar " icon="pi pi-times-circle">
    </button>
  </div>

</p-dialog>