 
<form [formGroup]="Form">
    <div class="p-col-12"> 
        <div class="p-fluid p-formgrid p-grid"> 
            <div *ngIf="mostrarCodigo" class="p-field p-col-12"> 
                <strong>Código:</strong>
                <input type="text" pInputText disabled formControlName="codigo" class="p-inputtext-sm-form">     
            </div> 
            <div class="p-field p-col-12">  
                <strong>Nombre *:</strong>
                <input  type="text" pInputText minlength="1" maxlength="15" formControlName="nombre" class="p-inputtext-sm-form" placeholder="ingresar un nombre">     
            </div> 
            <!-- <strong>Predeterminado:</strong>
            <p-colorPicker appendTo="body"  formControlName="color"></p-colorPicker> -->
        </div> 
    </div>

    <div class="botones">
        <button  
            class="p-button-registrar"
            pButton
            type="button"
            [disabled]="Form.invalid"
            label="{{ (idColorEdit) ? 'Actualizar' : 'Grabar' }}"
            (click)="onGrabar()"
            icon="pi pi-check-circle">  
        </button>  

        <button   
            class="p-button-cancelar"
            pButton
            type="button"
            icon="pi pi-times-circle"
            label="Cancelar"  
            (click)="onRegresar()">  
        </button>  
    </div> 
</form>
