<div class="margintabla-home"> 
    <div class="card-box">    
        <div class="tituloCobranza">  
           <h3> Buscar Pendientes </h3>   
        </div>

       <!-- CABECERA FORMULARIO -->
        <form [formGroup]="FormBusqueda">  
            <div class="p-col-12"> 
                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col-12 p-md-3  p-sm-4">
                        <strong>Fecha Inicio:</strong>
                        <p-calendar  
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaInicio"
                        ></p-calendar> 
                    </div> 

                    <div class="p-field p-col-12 p-md-3  p-sm-4">
                        <strong>Fecha Fin:</strong>
                        <p-calendar  
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaFin"
                        ></p-calendar> 
                    </div> 
  
                    <div class="p-field p-col-6 p-md-6">
                        <strong>Cliente</strong>  
                        <div class="InputCombinado2">   
                            <input type="text" readonly  formControlName="nombrecliente" pInputText  class="p-inputtext-sm" placeholder="busca un cliente">   
                            <button type="button" class="p-button-sm" pTooltip="Buscar" tooltipPosition="left" (click)="onBuscarCliente();" pButton  icon="pi pi-search"></button>      
                            <button [disabled]="!existeClienteSeleccionado" type="button" class="p-button-sm" pTooltip="Borrar"  style=" background-color: #D72250;" tooltipPosition="left" (click)="onBorrarCliente();" pButton  icon="pi pi-trash"></button>    
                        </div>
                    </div>

                    
                    <div class="p-field p-col-3 p-md-3">
                        <strong>Tipo documento:</strong>
                        <p-dropdown class="DropExtenso" [options]="arrayTipoDocumento" formControlName="documentoid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                    </div> 

                    <div class="p-field p-col-3 p-md-3">
                        <strong>Serie:</strong>   
                        <input type="text" readonly  formControlName="serie" pInputText  class="p-inputtext-sm" placeholder="busca un cliente">    
                    </div>

                    <div class="p-field p-col-3 p-md-3">
                        <strong>Correlativo:</strong>   
                        <input type="text" readonly  formControlName="correlativo" pInputText  class="p-inputtext-sm" placeholder="busca un cliente">    
                    </div>

                    <div class="p-field p-col-12 p-md-3 p-sm-3 boton-buscar-cabecera"> 
                        <button type="button" pTooltip="Buscar" label="Buscar" class="p-button-sm" tooltipPosition="left" (click)="onLoadPendientes()" pButton icon="fas fa-search"></button>      
                    </div>
                </div>
            </div>
        </form>

        <hr>

        <p-table  [columns]="cols" 
        class="TablaPendiente"
        [value]="listaPendientes"
        [rowHover]="true"
        [paginator]="true" 
        [rows]="10"
        selectionMode="multiple"
        responsiveLayout="scroll"  
        (onHeaderCheckboxToggle)="onSeleccionarTodosLosPendiente($event)" 
        (onRowSelect)="onSeleccionarPendiente($event)"  
        (onRowUnselect)="onQuitarSeleccionPendiente($event)"  >

        <ng-template pTemplate="header">
            <tr>
                <th><p-tableHeaderCheckbox  ></p-tableHeaderCheckbox></th>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                    {{col.header}} 
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pendiente let-col let-rowIndex>
            <tr [pSelectableRow]="pendiente" [pSelectableRowIndex]="rowIndex"> 
                <td><p-tableCheckbox [value]="pendiente"></p-tableCheckbox></td>
                <td *ngFor="let col of cols">
                    <strong class="p-column-title"> {{ col.header | uppercase}}  </strong>  
                    <div [ngSwitch]="col.field">    
                        <div *ngSwitchCase="'fProvicion'">
                            {{ pendiente[col.field] | date: col.formatoFecha }}
                        </div>
                        <div *ngSwitchCase="'fVencimiento'">
                            {{ pendiente[col.field] | date: col.formatoFecha }}
                        </div>
                        <div *ngSwitchDefault>
                            {{ pendiente[col.field]  }}
                        </div>
                    </div>  

                <td> 
            </tr>
        </ng-template>      
    </p-table>


    <div class="botones">
        <button  
            class="p-button-registrar"
            pButton 
            [disabled]="!PendientesSeleccionados.length" 
            label="Seleccionar"
            (click)="onGrabar()"
            icon="pi pi-check-circle">  
        </button>  

        <button   
            class="p-button-cancelar"
            pButton
            icon="pi pi-times-circle"
            label="Cancelar"  
            (click)="onRegresar()">  
        </button>  
    </div>


    </div>
</div>


<div *ngIf="modalBuscarPersona" style="height: 80vh">
    <p-dialog header="BUSCAR PERSONA" [(visible)]="modalBuscarPersona" [modal]="true" [style]="{width: '80vw'}">
        <app-buscar-persona   [dataPersona]="'Cliente'" (PersonaSelect)="onPintarPersonaSeleccionada($event)"> </app-buscar-persona>
    </p-dialog> 
</div>  