<div class="margintabla">
    <div class="contenidoTable card-box"> 

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
           </ngx-spinner>

           
        <div class="tituloVista">  
            <h3> <i class="fas fa-file-pdf"></i> REPORTE PRODUCTOS </h3>  
        </div>

        <div class="p-col-12"> 
            <div style="align-items: flex-end;" class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <strong class="p-column-title">Cod.Producto</strong> 
                    <div class="p-inputgroup">  
                        <input type="text"  class="p-inputtext-sm" placeholder="ingresar nombre para buscar" readonly pInputText  [formControl]="codProductoSeleccionado">   
                        <button type="button" (click)="onModalBuscarProducto()" pTooltip="Buscar" tooltipPosition="left" pButton icon="pi pi-search" class="p-button-sm"></button>      
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4 CampoSwicth">
                    <strong style="margin-right: 1.5%;">Fec.Hora de Impresión</strong>  
                    <p-inputSwitch [formControl]="fechayhora" ></p-inputSwitch> 
                </div>
                <div class="p-field p-col-12 p-md-2">       
                    <button pButton label="Generar" type="button" class="p-button-sm" icon="pi pi-file" (click)="onGenerarReporte()"></button>
                </div>
            </div>
        </div>

        <div *ngIf="contenidoReporte" style="height: 80vh;"> 
            <br> 
            <iframe  [src]="Pdf" height="95%" width="100%"></iframe> 
       </div>
 
    </div> 
</div>  

<div *ngIf="modalBuscarProducto">
    <p-dialog header="BUSCAR PRODUCTO" [(visible)]="modalBuscarProducto" [modal]="true" [style]="{width: '80vw'}">
        <app-buscar-producto [dataProductos]="dataProductos"  (productoSelect)="onPintarProductoSeleccionado($event)"> </app-buscar-producto>
    </p-dialog> 
</div>  
 
  
 