<div>
    <div class="argintabla">
        <div class="contenidoTable card-box">

            <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
                <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
            </ngx-spinner>

            <div class="buscar-empresa">
                <div class="container">
                    <p-toolbar>
                        <div class="p-toolbar-group-left">
                            <h3> <i class="fa-solid fa-arrow-up-a-z"></i> <strong> Cuentas Mayores </strong></h3>
                        </div>
                        <div class="p-toolbar-group-right">
                            <button class="p-button-sm p-button-agregar" pButton type="button" icon="pi pi-plus"
                                label="Agregar" tooltipPosition="left" pTooltip="Registrar una cuenta"
                                (click)="onAdd()">
                            </button>
                        </div>
                    </p-toolbar>


                    <div class="row">
                        <div class="header-buscar-empresas">
                            <div class="col-lg-6">
                                <div class="column-empresas-left">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" class="p-inputtext-sm"
                                            placeholder="Buscar cuenta mayor" size="25"
                                            (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="tablas-empresas">
                            <p-table #dt [columns]="cols" responsiveLayout="stack" selectionMode="single"
                                [rowHover]="true" [value]="list">

                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{ col.header }}
                                            <p-sortIcon *ngIf="col.field != 'acciones'" [field]="col.field"
                                                ariaLabel="Activate to sort"
                                                ariaLabelDesc="Activate to sort in descending order"
                                                ariaLabelAsc="Activate to sort in ascending order">
                                            </p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-cmayor let-columns="columns" let-rowIndex="rowIndex">
                                    <tr [pSelectableRow]="cmayor" [pSelectableRowIndex]="rowIndex">
                                        <td *ngFor="let col of columns">
                                            <strong class="p-column-title">{{ col.header | uppercase}}</strong>
                                            {{cmayor[col.field]}}
                                            <ng-template #botones [ngIf]="col.field === 'acciones'">
                                                <div style="display: flex;">
                                                    <button pButton type="button" tooltipPosition="top"
                                                        pTooltip="Editar" (click)="onEdit(cmayor)"
                                                        style="margin-right :2%;" icon="pi pi-pencil">
                                                    </button>
                                                    <button pButton type="button" tooltipPosition="top"
                                                        style=" background-color: #D72250;" (click)="onDelete(cmayor)"
                                                        pTooltip="Eliminar" icon="pi pi-trash">
                                                    </button>
                                                </div>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- MODAL  -->
<div *ngIf="vNuevaCuenta">
    <p-dialog [header]="(data) ? 'NUEVA CUENTA' : 'EDITAR CUENTA'" [(visible)]="vNuevaCuenta" [modal]="true"
        [draggable]="false" [resizable]="false">
        <app-nueva-cuenta (cerrar)="onRegresar($event)" [data]="data"></app-nueva-cuenta>
    </p-dialog>
</div>