
<form [formGroup]="Form">
    <div class="p-col-12"> 
        <div class="p-fluid p-formgrid p-grid"> 
            <div class="p-field p-col-12">  
                <strong>Nombre *:</strong>
                <input  type="text" pInputText minlength="1" maxlength="20" formControlName="nombreMarca"
                 class="p-inputtext-sm-form" placeholder="ingresar una marca">     
            </div> 
        </div> 
    </div> 
         
    <div class="botones">
        <button  
            class="p-button-registrar"
            pButton
            type="button" 
            [disabled]="Form.invalid"
            label="{{ (idMarcaEdit) ? 'Actualizar' : 'Grabar' }}"
            (click)="onGrabar()"
            icon="pi pi-check-circle">  
        </button>  

        <button   
            class="p-button-cancelar"
            pButton
            type="button" 
            icon="pi pi-times-circle"
            label="Cancelar" 
            (click)="onRegresar()">  
        </button>  
    </div>

</form> 