.CalculosDiferencia{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}

.CalculosDiferenciaTitulos{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}

.BloqueDiferencia{
    align-items: center;
    text-align: right;
}