<div class="margintabla">    
    <div class="contenidoTable card-box">  
        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
        </ngx-spinner>

        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h3> <i class="fas fa-cart-plus"></i>  {{ tituloVista }} </h3>  
            </div> 
            <div class="p-toolbar-group-right">   
                <button  
                    class="p-button-registrar"
                    pButton 
                    type="button"
                    [disabled]="Form.invalid"  
                    [label]="( data ) ?  'Actualizar' : 'Grabar'"
                    (click)="onGrabar()"
                    icon="pi pi-check-circle">  
                </button>   
                <button   
                    class="p-button-cancelar"
                    pButton
                    type="button"
                    icon="pi pi-times-circle"
                    label="Cancelar"  
                    (click)="onRegresar()">  
                </button> 
            </div>
        </p-toolbar>


        <div *ngIf="existeRegistro"  class="centrar">    
            <h3> N° REGISTRO:  <strong> {{dataTesoreriaEdit.nroRegistro}} </strong></h3>    
        </div>


        <form [formGroup]="Form">        
            <div class="p-col-12 formulario-campo-obligatorio"> 
                <div class="p-fluid p-formgrid p-grid">  

                    <div class="p-field p-col-12 p-lg-5 p-md-6">
                        <strong>Tipo Documento <span >*</span></strong>
                        <p-dropdown class="DropExtenso"
                            [options]="arrayTipoDoc"
                            formControlName="documentoid"  
                            placeholder="Selecciona " 
                            [showClear]="true"
                            optionLabel="valor1">
                        </p-dropdown>     
                    </div>

                    <div class="p-field p-col-12 p-lg-5 p-md-6">
                        <strong>Tipo Comprobante <span >*</span></strong>
                        <p-dropdown class="DropExtenso"
                            [options]="arrayTipoComprobante"
                            formControlName="tipocomprobanteid"  
                            placeholder="Selecciona " 
                            [showClear]="true" 
                            optionLabel="nombre">
                        </p-dropdown>     
                    </div>
                    
                    <div class="p-field p-col-12 p-lg-2 p-md-4">
                        <strong>Fecha <span >*</span></strong>
                        <p-calendar  
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fecharegistro"
                        ></p-calendar> 
                    </div> 

                    <div class="p-field p-col-12 p-lg-3 p-md-4">
                        <strong>Tipo Cambio <span >*</span></strong>
                        <input  type="text" pInputText (blur)="onRefrescarCalculosPorTipoCambio()" formControlName="tipocambio" class="p-inputtext-sm p-inputtext-gris" placeholder="0.00">     
                    </div>

                    <div class="p-field p-col-12 p-lg-3 p-md-4">
                        <strong>Moneda <span >*</span></strong>
                        <p-dropdown class="DropExtenso"
                            (onChange)="onRefrescarCalculosPorTipoCambio();"
                            [options]="arrayMonedas"
                            formControlName="monedaid" 
                            placeholder="Selecciona " 
                            [showClear]="true" 
                            optionLabel="nombre">
                        </p-dropdown>     
                    </div>

                    <div class="p-field p-col-12 p-lg-6 p-md-12">
                        <strong>Nombre <span >*</span></strong>
                        <input  type="text" pInputText  formControlName="nombrediario" class="p-inputtext-sm p-inputtext-gris" placeholder="ingresar una glosa">
                    </div>
                    
                    <div class="p-field p-col-12 p-md-12">
                        <strong>Glosa:</strong>
                        <input  type="text" pInputText  formControlName="glosadiario" class="p-inputtext-sm p-inputtext-gris" placeholder="ingresar una glosa">     
                    </div>
    
                </div> 
            </div>  

            <div class="text-center"> 
                <button pButton pRipple type="button" label="Agregar Detalle" class="p-button-rounded p-button-blue p-button-busqueda" 
                icon="fas fa-plus"  (click)="onAgregarDetalles()"></button> 
            </div>

            <div class="p-field p-col-12 p-md-12"> 
                <p-table  class="tabladetalles"
                [value]="detallesForm"
                [scrollable]="true"  
                responsiveLayout="stack" >  
                <ng-template pTemplate="header">
                    <tr> 
                        <th id="lg">Acción</th>
                        <th id="lg">Nro cuenta</th>
                        <th>Naturaleza</th>
                        <th>Importe</th>
                        <th>Cambio</th> 
                        <th>Centro Costo</th> 
                        <th id="lg">Anexo</th> 
                        <th>Tip Documento</th> 
                        <th>Nro Documento</th> 
                        <th>Doc Referencia</th> 
                        <th>Nro doc Ref.</th> 
                        <th>Analisis</th> 
                        <th>Fec. Detalle</th> 
                        <th>Fec. Vencimiento</th>   
                    </tr>
                </ng-template> 

                <ng-template pTemplate="body" let-detalles  let-rowIndex="rowIndex" formArrayName="arrayDetalle"> 
                    <tr   [formGroupName]="rowIndex"> 
                        <td id="lg">
                            <button  
                                class="p-button-sm"
                                pButton 
                                type="button"
                                tooltipPosition="top" pTooltip="Eliminar"
                                style=" background-color: #D72250;"
                                (click)="onEliminarDetalle(rowIndex, detalles.value.asientodetalleid)"
                                icon="pi pi-trash">  
                            </button>
                            <button  
                                class="p-button-sm"
                                pButton 
                                type="button"
                                tooltipPosition="top" pTooltip="Clonar"
                                style=" background-color: #c9a134;"
                                (click)="onDuplicarFila(detalles.value)"
                                icon="far fa-clone" >  
                            </button>
                            
                        </td>
                        <td id="lg"> 
                            <strong class="p-column-title">Nro cuenta</strong>
                            <input type="text" class="p-inputtext" pInputText formControlName="nrocuenta">
                            <button type="button" (click)="onModalBuscarCuenta(rowIndex)" pTooltip="Buscar" type="button" tooltipPosition="left" pButton
                                icon="pi pi-search" class="p-button-sm"></button> 
                        </td>
                        <td>
                            <strong class="p-column-title">Naturaleza</strong>
                            <input type="text" minlength="1" maxlength="1" pInputText class="p-inputtext-sm" 
                            (keyup)="onCondicionarNaturaleza($event.target.value, rowIndex)" formControlName="naturaleza">  
                        </td>
                        <td>
                            <strong class="p-column-title">Importe</strong>
                            <input type="number" pInputText class="p-inputtext-sm" formControlName="importe" (keyup)="onCalcularDetalle(rowIndex)" (keydown.Tab)="onCalcularDetalle(rowIndex)" >  
                        </td> 
                        <td>
                            <strong class="p-column-title">Cambio</strong>
                            <input type="number" pInputText class="p-inputtext-sm"  readonly formControlName="cambioMascara">   
                        </td> 
                        <td>
                            <strong class="p-column-title">Centro Costo</strong>
                            <input type="text" pInputText class="p-inputtext-sm"  formControlName="centrocosto">   
                        </td> 
                        <td id="lg">
                            <strong class="p-column-title">Anexo</strong>
                            <input type="text" (keydown.enter)="onBuscarAnexo(rowIndex)" class="p-inputtext" pInputText formControlName="rucPersona">
                            <button type="button" (click)="onModalBuscarAnexo(rowIndex)" pTooltip="Buscar" type="button" tooltipPosition="left" pButton
                                icon="pi pi-search" class="p-button-sm"></button>  
                        </td>
                        <td>
                            <strong class="p-column-title">Tip. Documento</strong>
                            <p-dropdown  [options]="arrayTipoDocumento"  appendTo="body"  formControlName="documentoid"  placeholder="Selecciona..."  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                        </td>
                        <td>
                            <strong class="p-column-title">Nro Documento</strong>
                            <input type="text"  class="p-inputtext-sm" pInputText formControlName="nrodocumento">  
                        </td>
                        <td>
                            <strong class="p-column-title">Doc Referencia</strong>
                            <p-dropdown  [options]="arrayTipoDocumentoReferencia"  appendTo="body"  formControlName="documentorefid"  placeholder="Selecciona..."  [showClear]="true"  optionLabel="valor1"></p-dropdown>    
                        </td>
                        <td>
                            <strong class="p-column-title">Nro Doc. Ref</strong>
                            <input type="text"  class="p-inputtext-sm" pInputText formControlName="nrodocumentoref">  
                        </td>
                        <td>
                            <strong class="p-column-title">Analisis</strong>
                            <input type="text" class="p-inputtext-sm" pInputText formControlName="analisis">  
                        </td>
                        <td>
                            <strong class="p-column-title">Fec. Detalle</strong>
                            <p-calendar  
                                appendTo="body"
                                readonlyInput="true"
                                [showIcon]="true"
                                dateFormat="dd/mm/yy"
                                formControlName="fechadetalle"
                            ></p-calendar>  
                        </td>
                        <td >
                            <strong class="p-column-title">Fec. Vencimiento</strong>
                            <p-calendar  
                                appendTo="body"
                                readonlyInput="true"
                                [showIcon]="true"
                                dateFormat="dd/mm/yy"
                                formControlName="fechavencimiento"
                            ></p-calendar> 
                        </td>
            
                    </tr>
                </ng-template>
            
                </p-table>  
            </div>

        
                <div class="ColTitulos"> 
                    <div></div>
                    <div class="CalculosDiferenciaTitulos">
                        <strong>-</strong> 
                        <strong>Importe:</strong> 
                        <strong>Cambio:</strong>  
                    </div>  
                </div> 

                <div class="ColTitulos"> 
                    <div></div>
                    <div class="CalculosDiferenciaTitulos">
                        <strong>Total Debe:</strong>
                        <input type="number" pInputText formControlName="totalDebeImporte" readonly class="p-inputtext-sm" 
                        [value]="Form.get('totalDebeImporte').value | number:'0.2-2'" placeholder="0.00"> 
                        <input type="number" pInputText formControlName="totalDebeCambio" readonly class="p-inputtext-sm" 
                        [value]="Form.get('totalDebeCambio').value | number:'0.2-2'"placeholder="0.00">  
                    </div>
                </div> 

                <div class="ColTitulos"> 
                    <div></div>
                    <div class="CalculosDiferenciaTitulos">
                        <strong>Total Haber:</strong>
                        <input type="number" pInputText formControlName="totalHaberImporte" readonly class="p-inputtext-sm" 
                        [value]="Form.get('totalHaberImporte').value | number:'0.2-2'" placeholder="0.00"> 
                        <input type="number" pInputText formControlName="totalHaberCambio" readonly class="p-inputtext-sm" 
                        [value]="Form.get('totalHaberCambio').value | number:'0.2-2'" placeholder="0.00"> 
                    </div>
                </div> 

                <div class="ColTitulos"> 
                    <div></div>  
                    <div class="CalculosDiferenciaTitulos">
                        <strong>Diferencia:</strong>
                        <input type="number" pInputText formControlName="totalDiferenciaImporte" readonly class="p-inputtext-sm" 
                        [value]="Form.get('totalDiferenciaImporte').value | number:'0.2-2'" placeholder="0.00"> 
                        <input type="number" pInputText formControlName="totalDiferenciaCambio" readonly class="p-inputtext-sm"
                        [value]="Form.get('totalDiferenciaCambio').value | number:'0.2-2'" placeholder="0.00">     
                    </div>
                </div> 

        </form>
    </div> 
</div> 


<div *ngIf="modalCuentas">
<p-dialog header="BUSCAR TIPO CUENTA" [(visible)]="modalCuentas" [modal]="true" [draggable]="false" [resizable]="false"> 
    <app-buscar-tipo-cuenta [tipoCuenta]="tipoCuenta" (CuentaSelect)="onPintarcuenta($event)" ></app-buscar-tipo-cuenta>
</p-dialog> 
</div>

<div *ngIf="modalAnexos">
<p-dialog header="BUSCAR ANEXO" [(visible)]="modalAnexos" [modal]="true" [draggable]="false" [resizable]="false"> 
    <app-buscar-persona  [dataPersona]="'Todos'" (PersonaSelect)="onPintarAnexo($event)" ></app-buscar-persona>
</p-dialog> 
</div>
