
.exception-body.access-page { 
  background: gainsboro;
}
  
.ramasTable{
  margin: 1%;
  display: flex;
}

.titulorama{
  margin: 2%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;

  @media (max-width: 700px){
    display: grid;
    justify-content: center;
  }
}

.MargenTabla{ 
  box-shadow: 0 0 5px black !important; 
}

 

.MargenTabla ::ng-deep .p-datatable .p-datatable-thead > tr > th{
  justify-content: center !important;
  text-align: center;
}

.MargenTabla ::ng-deep .p-datatable .p-datatable-tbody > tr > td{
  justify-content: center !important;
  text-align: center;
}
 