<div class="margintabla-home">
    <div class="contenidoTable card-box">

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">CARGANDO. </p>
        </ngx-spinner>

        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h3> <i class="fas fa-puzzle-piece"></i> LISTA DE LINEAS</h3>
            </div>

            <div class="p-toolbar-group-right">
                <button 
                    pButton type="button" 
                    label="Agregar" 
                    pTooltip="Agregar Nueva Linea" tooltipPosition="top"
                    class="p-button-registrar" 
                    (click)="onNuevoLinea()" icon="pi pi-plus">
                </button>
            </div>
        </p-toolbar>
    </div>

    <br>

    <div class="contenidoTable card-box">
    <p-table
            [responsive]="true" 
            dataKey="id" [columns]="cols"
            responsiveLayout="scroll" 
            selectionMode="single"
            [rowHover]="true" [value]="listaLineas">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3rem"></th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon *ngIf="col.field != 'acciones'" [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-lineas let-columns="columns" let-rowIndex="rowIndex"
                let-expanded="expanded">
                <tr [pSelectableRow]="lineas" [pSelectableRowIndex]="rowIndex">

                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="lineas"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td> 
                    <td *ngFor="let col of columns">
                        <strong class="p-column-title">{{ col.header | uppercase}}</strong>
                        <div [ngSwitch]="col.field">
                            <div *ngSwitchCase="'fechaRegistro'">
                                {{ lineas[col.field] | date: col.formatoFecha }}
                            </div>
                            <div *ngSwitchDefault>
                                {{ lineas[col.field] }}
                            </div>
                        </div>

                        <ng-template #botones [ngIf]="col.field === 'acciones'">
                            <div style="display: flex;">
                                <button
                                    pButton type="button"
                                    class="p-button-generico-azul"
                                    tooltipPosition="top" pTooltip="Editar"
                                    (click)="onEditar(lineas.id)" icon="pi pi-pencil">
                                </button>
                                <button pButton type="button" 
                                    class="p-button-cancelar" 
                                    tooltipPosition="top"
                                    (click)="onModalEliminar(lineas)"
                                     pTooltip="Eliminar" icon="pi pi-trash">
                                </button>
                            </div>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">No existen registros</td>
                </tr>
            </ng-template> 

            <ng-template pTemplate="rowexpansion" let-lineas>
                <tr>
                    <td colspan="7">
                        <div class="p-3" > 
                            <p-toolbar>
                                <div class="p-toolbar-group-left">
                                    <h3> SUB LINEAS</h3>
                                </div>
                                
                                <div class="p-toolbar-group-right">
                                    <button 
                                        pButton type="button" 
                                        (click)="onNuevaSubLinea(lineas.id)"
                                        class="p-button-sm-generico"
                                        label="Agregar"
                                        tooltipPosition="top" pTooltip="Agregar SubLinea"
                                        icon="pi pi-plus">
                                    </button>
                                </div>
                            </p-toolbar> 
 

                            <p-table 
                                [value]="lineas.subLineas"
                                dataKey="id" [columns]="colSubLinea"
                                selectionMode="single"
                                [responsive]="true"
                                responsiveLayout="scroll">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{ col.header }}
                                            <p-sortIcon *ngIf="col.field != 'acciones'" [field]="col.field" ariaLabel="Activate to sort"
                                                ariaLabelDesc="Activate to sort in descending order"
                                                ariaLabelAsc="Activate to sort in ascending order">
                                            </p-sortIcon>
                                    </tr>
            </ng-template>
            <ng-template pTemplate="body" let-subLineas let-columns="columns" let-rowIndex="rowIndex">
                <tr [pSelectableRow]="subLineas" [pSelectableRowIndex]="rowIndex">
                    <td *ngFor="let col of columns">
                        <strong class="p-column-title">{{ col.header | uppercase}}</strong>

                        <div [ngSwitch]="col.field">
                            <div *ngSwitchCase="'fechaRegistro'">
                                {{ subLineas[col.field] | date: col.formatoFecha }}
                            </div>
                            <div *ngSwitchCase="'esAgrupador'">
                                <div *ngIf="subLineas[col.field] === false">
                                    <p-inputSwitch disabled [(ngModel)]="subLineas[col.field]"></p-inputSwitch>
                                </div>

                                <div *ngIf="subLineas[col.field] != false">
                                    <p-inputSwitch disabled [(ngModel)]="subLineas[col.field]"></p-inputSwitch>
                                </div>
                            </div>
                            <div *ngSwitchDefault>
                                {{ subLineas[col.field] }}
                            </div>
                        </div>

                        <ng-template #botones [ngIf]="col.field === 'acciones'">
                            <div style="display: flex;">
                                <button pButton type="button"
                                    (click)="onEditarSubLinea(subLineas.idLinea, subLineas.idLineaPadre )"
                                    class="p-button-generico-azul" tooltipPosition="top" pTooltip="Editar SubLinea"
                                    icon="pi pi-pencil">
                                </button>
                                <button pButton type="button" (click)="onEliminarSubLinea(subLineas)"
                                    class="p-button-cancelar" tooltipPosition="top" pTooltip="Eliminar SubLinea" icon="pi pi-trash">
                                </button>
                            </div>

                        </ng-template>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">No existen SubLineas registrados</td>
                </tr>
            </ng-template>
        </p-table>
    </div> 
    </td>
    </tr>
    </ng-template>

    </p-table>
    <p-paginator [rows]="10" [showCurrentPageReport]="true" [currentPageReportTemplate]="textoPaginado"
        [rowsPerPageOptions]="[10,20,30]" (onPageChange)="onLoadLineas($event)"></p-paginator>

</div>
</div>


<div *ngIf="VistaNuevoLinea">
    <p-dialog [header]="tituloModalLineas" [(visible)]="VistaNuevoLinea" [modal]="true" [style]="{width: '50vw'}">
        <app-nuevo-linea [datalinea]="datalinea" (cerrar)="onRetornar($event)"> </app-nuevo-linea>
    </p-dialog>
</div>