<div class="margintabla">
    <div class="contenidoTable card-box"> 
        
        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">CARGANDO. </p>
        </ngx-spinner>
    
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h3><i class="fas fa-address-card"></i> {{ tituloVistaTransportista}}</h3>  
            </div>
            
            <div class="p-toolbar-group-right">
                <button  
                class="p-button-registrar"
                pButton 
                type="button"
                [disabled]="Form.invalid" 
                label="{{ (idTransportistaEdit) ? 'Actualizar' : 'Grabar' }}"
                (click)="onGrabarTransportista()"
                icon="pi pi-check-circle">  
            </button>  

            <button   
                class="p-button-cancelar"
                pButton
                type="button"
                icon="pi pi-times-circle"
                label="Cancelar"  
                (click)="onRegresar()">  
            </button>  
            </div>
        </p-toolbar> 

        <div class="contenido-form-table w-60">  
            <div class="row">
                <div class="contenidoTable card-box p-fieldset-form"> 
                    <form [formGroup]="Form">   
                        <p-fieldset>
                            <ng-template pTemplate="header">Datos Personales</ng-template>
                                <div class="form-registro-twoCols">

                                    <strong>Tipo Persona <span> *</span></strong>
                                    <p-dropdown placeholder="Seleccionar"  formControlName="tipoPersona" 
                                    [options]="listTipoPersona" optionLabel="valor1"></p-dropdown>
                                
                                    <strong>Tipo Documento <span> *</span></strong>
                                    <p-dropdown (onChange)="onObtenerTipoDocumento($event.value)" placeholder="Seleccionar" 
                                    formControlName="tipoDocumento" [options]="listTipoDocumento" optionLabel="valor1"></p-dropdown>
                                
                                    <strong>Nro Documento <span> *</span></strong>  
                                    <div class="p-inputgroup">  
                                        <input type="text" pInputText [minlength]="minimoRequerido" [maxlength]="maximoRequerido" (keydow.enter)="onBuscarPorNumeroDocumento()" 
                                         formControlName="nroDocumento" class="p-inputtext-sm-form" placeholder="00000000">   
                                        <button type="button" pTooltip="Buscar" (click)="onBuscarPorNumeroDocumento()" tooltipPosition="left" 
                                        pButton class="p-button-sm-generico-azul"   icon="pi pi-search" ></button>      
                                    </div>
    
                                    <strong  *ngIf="!mostrarRazonSocial"> Apellidos <span> *</span></strong>
                                    <input  *ngIf="!mostrarRazonSocial" type="text" pInputText formControlName="apellidos" 
                                    class="p-inputtext-sm-form" placeholder="ingresar apellidos">   
                                
                                    <strong  *ngIf="!mostrarRazonSocial" >Nombres <span> *</span></strong>
                                    <input *ngIf="!mostrarRazonSocial" type="text" pInputText formControlName="nombres" 
                                    class="p-inputtext-sm-form" placeholder="ingresar nombres">     
                                    
                                    <strong *ngIf="mostrarRazonSocial">Razón Social <span> *</span></strong>
                                    <input *ngIf="mostrarRazonSocial" type="text" pInputText  formControlName="razonSocial" 
                                    class="p-inputtext-sm-form" placeholder="ingresar razón social">     
                                    
                                    <strong>Telefono</strong>
                                    <input type="text" pInputText  minlength="9" maxlength="9" (keypress)="generalService.onSoloNumeros($event)" 
                                    formControlName="telefono" class="p-inputtext-sm-form" placeholder="ingresar telefono">  
                                    
                                    <strong >Fax</strong>
                                    <input type="number" pInputText formControlName="fax" class="p-inputtext-sm-form" placeholder="ingresar fax">  
                                    
                                    <strong>Email </strong>
                                    <input type="email" pInputText formControlName="email" class="p-inputtext-sm-form" placeholder="ingresar email">  
                                    
                                    <strong>Ubigeo:</strong>  
                                    <div class="p-inputgroup">  
                                        <input type="text" readonly pInputText [value]="ubigeoParaMostrar" class="p-inputtext-sm-form" placeholder="busca una direccion">   
                                        <button type="button" pTooltip="Buscar" (click)="onBuscarUbigeo()" tooltipPosition="left" pButton class="p-button-sm-generico-azul"   icon="pi pi-search" ></button>      
                                    </div>
    
                                    <strong>Dirección Principal:</strong>
                                    <input type="text" pInputText formControlName="direccionprincipal"   placeholder="ingresar dirección" class="p-inputtext-sm-form">  
                                </div>     
                        </p-fieldset>
                    </form>   
                </div>  
            </div> 
        </div>   
    </div> 
</div>



<div *ngIf="modalBuscarUbigeo">
    <p-dialog header="BUSCAR UBIGEO" [(visible)]="modalBuscarUbigeo" [modal]="true">
        <app-buscar-ubigeo [dataUbigeo]="dataUbigeo" (ubigeoSelect)="onPintarUbigeoSeleccionado($event)"> </app-buscar-ubigeo>
    </p-dialog> 
</div>  
