
<div class="margintabla-home">
    <div class="card-box"> 

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" [zIndex]="997"  color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">CARGANDO. </p>
           </ngx-spinner>
           
        <div class="tituloMarca">  
            <h3> <i class="fas fa-file-pdf"></i> REPORTE  CLIENTE </h3>  
        </div>  
        <div class="p-col-12"> 
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-8 CampoSwicth">
                    <strong style="margin-right: 1.5%;">Fec.Hora de Impresión</strong>  
                    <p-inputSwitch [formControl]="fechayhoraImpresion" ></p-inputSwitch> 
                </div>
                <div class="p-field p-col-12 p-md-2 p-sm-8">       
                    <button pButton label="Generar"  class="p-button-sm" icon="pi pi-file" (click)="onGenerarReporte()"></button>
                </div>
                <div class="p-field p-col-12 p-md-2 p-sm-4">       
                    <button pButton class="p-button-sm" icon="pi pi-file-excel" (click)="GenerarExcel()"></button>
                </div>
            </div>
        </div>

        <div *ngIf="contenidoReporte" style="height: 80vh;"> 
            <br> 
            <iframe  [src]="Pdf" height="95%" width="100%"></iframe> 
        </div>
 
    </div> 
</div>  

 

       