<div class="margintabla-home">
    <div class="card-box"> 

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" [zIndex]="997"  color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">CARGANDO. </p>
           </ngx-spinner>
           
        <div class="tituloMarca">  
            <h3> <i class="fas fa-file-pdf"></i> REPORTE VENTAS POR CLIENTE DAOT (resumen) </h3>  
        </div>
        <form [formGroup]="Form">
            <div class="p-col-12"> 
                <div style="align-items: flex-end;" class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-4 p-sm-6">
                        <strong>Fec. Inicio </strong> 
                        <p-calendar
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaInicio"
                        ></p-calendar> 
                    </div>
                    <div class="p-field p-col-12 p-md-4 p-sm-6">
                        <strong>Fec. Fin</strong> 
                        <p-calendar
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaFin"
                        ></p-calendar> 
                    </div> 
                    
                    <div class="p-field p-col-12 p-md-2 p-sm-3">     
                        <button pButton class="p-button-sm" label="Generar" type="button" pTooltip="PDF" icon="pi pi-file-pdf" (click)="onGenerarReporte()"></button>
                    </div> 
                </div>
            </div>
    
        </form>
    
        <div *ngIf="contenidoReporte" style="height: 80vh;"> 
            <br> 
            <iframe  [src]="Pdf" height="95%" width="100%"></iframe> 
        </div>
 
 
    </div> 
</div>  

 