 
 <div *ngIf="!VistaNuevoCliente">

    <div class="Margintabla"> 
        <div class="contenidoTable card">  
            <!-- <div class="tituloVista">  
                <h3>  <i class="fas fa-users"></i>  LISTA DE CLIENTES</h3> 
                <div class="botonesTitulosVista">
                    <button 
                        pButton  
                        type="button"
                        label="Agregar" 
                        class="p-button-sm"
                        (click)="onNuevoCliente()" 
                        icon="pi pi-plus">
                    </button>       
                </div>  
            </div> -->

            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <h3>  <i class="fas fa-users"></i>  LISTA DE CLIENTES</h3> 
                </div>
                
                <div class="p-toolbar-group-right">
                    <button 
                        pButton  
                        pTooltip="Agregar Nuevo Cliente" tooltipPosition="top"
                        type="button"
                        label="Agregar" 
                        class="p-button-sm"
                        (click)="onNuevoCliente()" 
                        icon="pi pi-plus">
                    </button>   
                </div>
            </p-toolbar>

            <div class="p-col-12"> 
               <div style="align-items: flex-end;" class="p-fluid p-formgrid p-grid">
                   <div class="p-field p-col-12 p-md-5">
                       <strong for="firstname6">Razon. Social:</strong>
                       <input class="p-inputtext-sm" placeholder="buscar..." [formControl]="razonsocial" type="text" pInputText>        
                   </div>
                   <div class="p-field p-col-12 p-md-5">
                    <strong for="firstname6">Nro. Documento</strong>
                    <input class="p-inputtext-sm" placeholder="buscar..." [formControl]="nrodoc" type="text" pInputText>        
                </div>
                   <div class="p-field p-col-12 p-md-2">       
                       <button pButton label="Buscar" type="button" class="p-button-sm" icon="pi pi-search" (click)="onLoadClientes(null)"></button>
                   </div>
               </div>
           </div>

    
            <p-table 
            [responsive]="true"
            [columns]="cols" 
            responsiveLayout="stack"
            selectionMode="single"
            [rowHover]="true" 
            class="wrap" 
            [value]="listaClientees">  
    
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{ col.header }} 
                            <p-sortIcon *ngIf="col.field != 'acciones'"
                                [field]="col.field"
                                ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon> 
                        </th>
                    </tr> 
                </ng-template>
                
                <ng-template pTemplate="body" let-cliente let-columns="columns"  let-rowIndex="rowIndex"> 
                    <tr [pSelectableRow]="cliente" [pSelectableRowIndex]="rowIndex">
                        <td  *ngFor="let col of columns" >
                            <strong class="p-column-title">{{ col.header | uppercase}}</strong> 
    
                            <div [ngSwitch]="col.field">    
                                <div *ngSwitchCase="'fechaRegistro'">
                                    {{ cliente[col.field] | date: col.formatoFecha }}
                                </div>
                                <div *ngSwitchDefault>
                                    {{ cliente[col.field]  }}
                                </div>
                            </div>  
    
                            <ng-template #botones [ngIf]="col.field === 'acciones'">
                                <div style="display: flex;">
                                    <button 
                                        pButton
                                        type="button" 
                                        tooltipPosition="top" 
                                        pTooltip="Editar" 
                                        (click)="onEditar(cliente)"
                                        style="margin-right :2%;" 
                                        icon="pi pi-pencil">
                                    </button>     
                                    <button 
                                        pButton
                                        type="button" 
                                        tooltipPosition="top" 
                                        style=" background-color: #D72250;"
                                        (click)="onEliminar(cliente)"
                                        pTooltip="Eliminar"  
                                        icon="pi pi-trash">
                                    </button>        
                                </div>  
                            </ng-template>  
                        </td>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No existen registros</td>
                    </tr>
                </ng-template> 

                <p-paginator [rows]="10"  [showCurrentPageReport]="true" [currentPageReportTemplate]="textoPaginado"  [rowsPerPageOptions]="[10,20,30]" (onPageChange)="onLoadClientes($event)"></p-paginator>
 
            </p-table> 
            
        </div> 
    </div>  
         
</div>


<app-nuevo-cliente  *ngIf="VistaNuevoCliente" [dataCliente]="dataCliente" (cerrar)="onRetornar($event)"> </app-nuevo-cliente>
   


 
