<div *ngIf="!VistaReporte && !VistaCobrar ">  
    <div class="Margintabla"> 
        <div class="contenidoTable card">  
        
            <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
                <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
            </ngx-spinner>
    
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <h3> <i class="fas fa-cart-plus"></i>  {{ tituloNuevaVenta}} </h3>  
                </div>
                
                <div class="p-toolbar-group-right"> 
                    <p-tieredMenu   #menu [model]="opcionesNuevaVenta" appendTo="body" [popup]="true"></p-tieredMenu>
                    <button #btn  *ngIf="mostrarOpcionesEditar"  class="BorrarLabel p-button-sm"  type="button" pButton label="Opciones" icon="pi pi-cog" (click)="menu.toggle($event)"></button>
                </div>
            </p-toolbar>
 
            <div *ngIf="existenroRegsitro"  class="centrar">   
                <h3> N° REGISTRO:  <strong> {{VentaEditar.nroRegistro}} </strong></h3>    
            </div>

           <!-- CABECERA FORMULARIO -->
            <form [formGroup]="Form">  
                <div class="p-col-12"> 
                    <div class="p-fluid p-formgrid p-grid">
 
                        <div class="p-field p-col-12 p-md-3">
                            <strong>Establecimiento:</strong>
                            <p-dropdown class="DropExtenso" (onChange)="onObtenerEstablecimiento($event)" [options]="arrayEstablecimiento" formControlName="establecimientoid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                        </div> 

                        <div class="p-field p-col-12 p-md-9">
                            <strong>Tipo Documento</strong>  
                            <div class="InputCombinado">  
                                <p-dropdown class="DropExtenso" [disabled]="!existeEstablecimientoSeleccionado" (onChange)="onObtenerTipoDocumento($event.value)" [options]="arrayTipoDocumento" formControlName="documentoid"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor2"></p-dropdown>
                                <p-dropdown class="extender"  [options]="arraySeriePorDocumento" formControlName="serieventa"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor1"></p-dropdown> 
                                <input type="number" disabled pInputText  class="p-inputtext-sm"  formControlName="secuencialventa"   placeholder="ingresar">   
                            </div>
                        </div> 
                        
                        <div class="p-field p-col-12 p-md-12">
                            <strong>Cliente</strong>  
                            <div class="InputCombinado2">  
                                <input type="text" (keydown.enter)="onObtenerPersonaPorNroDocumentoVenta($event)" [minlength]="8" [maxLength]="11" formControlName="nrodocumentocliente" pInputText  class="p-inputtext-sm" placeholder="busca un cliente">   
                                <input type="text" readonly  formControlName="nombrecliente" pInputText  class="p-inputtext-sm" placeholder="busca un cliente">   
                                <button type="button" class="p-button-sm" pTooltip="Buscar" tooltipPosition="left" (click)="onBuscarCliente();" pButton  icon="pi pi-search"></button>      
                                <button [disabled]="!existeClienteSeleccionado" type="button" class="p-button-sm" pTooltip="Buscar"  style=" background-color: #D72250;"  tooltipPosition="left" (click)="onBorrarCliente();" pButton  icon="pi pi-trash"></button>    
                            </div>
                        </div>

                        <div *ngIf="existeDireccionCliente" class="p-field p-col-12 p-md-12">
                            <strong>Dirección Cliente</strong>   
                            <input type="text" readonly  formControlName="direccioncliente" pInputText  class="p-inputtext-sm" placeholder="dirección">    
                        </div>

                        <div class="p-field p-col-12 p-md-3  p-sm-6">
                            <strong>Fecha Emisión:</strong>
                            <p-calendar  
                                readonlyInput="true"
                                [showIcon]="true"
                                dateFormat="dd/mm/yy"
                                formControlName="fechaemision"
                            ></p-calendar> 
                        </div> 

                        <div class="p-field p-col-12 p-md-3  p-sm-6">
                            <strong>Fecha Vencimiento:</strong>
                            <p-calendar  
                                readonlyInput="true"
                                [showIcon]="true"
                                dateFormat="dd/mm/yy"
                                formControlName="fechavencimiento"
                            ></p-calendar> 
                        </div> 
 
                        <div class="p-field p-col-12 p-md-3  p-sm-6">
                            <strong>Moneda:</strong>
                            <p-dropdown class="DropExtenso" [options]="arrayMonedas" formControlName="monedaid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                        </div>
        
                        <div class="p-field p-col-12 p-md-3  p-sm-6">
                            <strong>Tipo Cambio:</strong>
                            <input  type="number" pInputText  formControlName="tipocambio" class="p-inputtext-sm" placeholder="0.00">     
                        </div>
        
                        <div class="p-field p-col-12 p-md-3  p-sm-6">
                            <strong>Condición Pago:</strong> 
                            <div class="p-inputgroup">  
                                <p-dropdown  class="extender"  (onChange)="onObtenerCondicionPago($event.value.valor1)" [options]="arrayCondicionPago" formControlName="condicionpagoid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>    
                                <button type="button" *ngIf="existeCondicionPagoCredito" pTooltip="Agregar Cuotas" class="p-button-sm" tooltipPosition="left" (click)="onModalDetalleCondicionPago()" pButton icon="pi pi-plus"></button>    
                            </div>   
                        </div>

                        <div class="p-field p-col-12 p-md-3  p-sm-6">
                            <strong>Estado:</strong>
                            <p-dropdown class="DropExtenso" [options]="arrayEstado" formControlName="estadoid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="nombre"></p-dropdown>     
                        </div>
 
                        <div class="p-field p-col-12 p-md-6">
                            <strong>Glosa:</strong>
                            <input  type="text" pInputText  formControlName="glosa" class="p-inputtext-sm" placeholder="ingresar una serie">     
                        </div>  

                        <div class="p-field p-col-12 p-md-12">
                            <strong>Tipo Operación:</strong>
                            <p-dropdown class="DropExtenso" [options]="arrayTipoOperacion" formControlName="codtipooperacion"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>        
                        </div>  
                    </div> 
                </div> 
                
                <!-- FORM ARRAY DEL DETALLE CONDICION DE PAGO -->
                <div *ngIf="modalDetallesCondicionPago">
                    <p-dialog header="DETALLE FORMA DE PAGO" [(visible)]="modalDetallesCondicionPago" [modal]="true" [style]="{width: '400px'}"  >
                        <div> 
                            <div style="margin: 3%;">
                                <p-table   
                                    class="TablaDetalleCondicionPago"
                                    [value]="detallesCondicionPago"
                                    [scrollable]="true" 
                                    responsiveLayout="stack" >  
                                    <ng-template pTemplate="header">
                                        <tr> 
                                            <th style="width: 80px;">Nro</th>
                                            <th style="width: 80px;">Importe</th>
                                            <th style="width: 150px;">Fec.Pago</th> 
                                            <th style="width: 20px;">Acción</th>
                                        </tr>
                                    </ng-template> 
                        
                                    <ng-template pTemplate="body" let-detalles  let-rowIndex="rowIndex" formArrayName="arrayDetallesCondicionPago"> 
                                        <tr   [formGroupName]="rowIndex"> 
                                            
                                            <td>
                                                <strong class="p-column-title">Nro</strong> 
                                                <span  style="width: 70px;" >Cuota: 00{{rowIndex + 1 }} </span>
                                            </td>
                                            <td>
                                                <strong class="p-column-title">Importe</strong>
                                                <input type="number"  style="width: 60px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="importepagocuota">  
                                            </td>
                                            <td>
                                                <strong class="p-column-title">Fec.Pago</strong>
                                                <p-calendar      
                                                    readonlyInput="true"
                                                    appendTo="body"  
                                                    [showIcon]="true" 
                                                    dateFormat="dd/mm/yy"
                                                    formControlName="fechapagocuota" 
                                                ></p-calendar> 
                                            </td>
                                            <td>
                                                <button  
                                                    class="p-button-sm p-button-rounded"
                                                    pButton 
                                                    type="button"
                                                    style=" background-color: #D72250;"
                                                    (click)="onEliminarDetalleCondicionPago(rowIndex, detalles.value.ventacuotascreditoid)"
                                                    icon="pi pi-trash">  
                                                </button>
                                            </td>
                                        
                                        </tr>
                                    </ng-template>  
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <span>  No existen registros </span> 
                                        </tr>
                                    </ng-template> 
                            
                                </p-table>  
                            </div>
                            <br>
                            <div class="BotonCondiciondePago">   
                                <button type="button" label="Agregar Detalle" pTooltip="Agregar"  class="p-button-sm" (click)="onAgregarDetalleCondicionPago()" tooltipPosition="left" pButton  icon="pi pi-plus"></button>                                 
                            </div> 
                        </div> 
                    </p-dialog> 
                </div>  
                <!--  FIN DETALLE CONDICION DE PAGO -->

                <br> 
                <!-- TABS FORM -->
                <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
                
                    <!-- FORM ARRAY DEL DETALLE DE LA VENTA-->
                    <div *ngIf="DetalleForm" >
                        <div>  
                            <button pButton pRipple type="button" label="Agregar detalle Venta" class="p-button-rounded"  icon="pi pi-plus"  (click)="onAgregarDetalleVenta()"></button>
 
                            <div style="margin: 3%;">
                                <p-table   
                                    class="TablaDetalleCondicionPago"
                                    [value]="detallesVentaForm"
                                    [scrollable]="true" 
                                    responsiveLayout="stack" >  
                                    <ng-template pTemplate="header">
                                        <tr class="centrar"> 
                                            <th style="width: 50px;">Acción</th>
                                            <th style="width: 150px;">Almacén</th>
                                            <th style="width: 120px;">Cod Producto</th> 
                                            <th style="width: 180px;">Producto/Servicio</th> 
                                            <th style="width: 140px;">Und Medida</th> 
                                            <th style="width: 135px;">T.Afectacion</th> 
                                            <th style="width: 75px;">P.Inc.Igv</th> 
                                            <th style="width: 100px;">Cantidad</th> 
                                            <th style="width: 90px;">Precio.U</th> 
                                            <th style="width: 100px;">Base.Impon</th> 
                                            <th style="width: 90px;">% Dscto</th> 
                                            <th style="width: 100px;">Imp.Dscto</th> 
                                            <th style="width: 155px;">Observaciones</th> 
                                            <th style="width: 110px;">Valor Venta</th> 
                                            <th style="width: 75px;">IGV</th> 
                                            <th style="width: 110px;">Imp.Otros.C</th> 
                                            <th style="width: 90px;">ICBPER</th> 
                                            <th style="width: 100px;">Precio.V</th> 
                                            <th style="width: 90px;">N.Lote</th> 
                                            <th style="width: 90px;">N.Serie</th> 
                                                   <!-- <th style="width: 90px;">N.Cuenta</th>  -->
                                            <th style="width: 150px;">F.Vencimiento</th> 
                                           
                                        </tr>
                                    </ng-template> 
                        
                                    <ng-template pTemplate="body" let-detallesVenta  let-rowIndex="rowIndex" formArrayName="arrayDetalleVenta"> 
                                        <tr [formGroupName]="rowIndex"> 
                                            <td>
                                                <button  
                                                    class="p-button-sm p-button-rounded"
                                                    pButton 
                                                    type="button"
                                                    style=" background-color: #D72250;"
                                                    (click)="onEliminarDetalleVenta(rowIndex, detallesVenta.value.ventadetalleid)"
                                                    icon="pi pi-trash">  
                                                </button>
                                            </td>
                                            <td>
                                                <strong class="p-column-title">Almacén</strong>
                                                <p-dropdown class="extender"  appendTo="body"  [options]="arrayAlmacen" formControlName="almacenid"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor1"></p-dropdown> 
                                            </td>                      
                                            <td>
                                                <strong class="p-column-title">Cod.Producto</strong> 
                                                <input type="text" style="width: 80px;"  class="p-inputtext-sm"  (keydown.enter)="onBuscarProductoPorCodigo(rowIndex)"  pInputText formControlName="codproductofinal">   
                                                <button type="button" (click)="onModalBuscarProducto(rowIndex)" pTooltip="Buscar" tooltipPosition="left" pButton icon="pi pi-search" class="p-button-sm"></button>      
                                            </td> 
                                            <td>
                                                <strong class="p-column-title">Producto/Servicio</strong>
                                                <input type="text"  style="width: 150px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="descripcionproducto">  
                                            </td>  
                                            <td>
                                                <strong class="p-column-title">Und Medida</strong>
                                                <p-dropdown class="extender"  appendTo="body"  [options]="arrayUnidadMedida" formControlName="unidadmedidaid"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor1"></p-dropdown> 
                                            </td>  
                                            <td>
                                                <strong class="p-column-title">T.Afectacion</strong>
                                                <p-dropdown class="extender" (onChange)="onObtenertipoAfectacionDetalle(rowIndex, detallesVenta.value.tipoafectacionid)" appendTo="body"  [options]="arrayTipoAfectacion" formControlName="tipoafectacionid"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor1"></p-dropdown> 
                                            </td>  
                                            <td style="justify-content: center;">
                                                <strong class="p-column-title">P.Inc.Igv<</strong>
                                                <p-inputSwitch (click)="onCalcularPrecioVenta(rowIndex)" formControlName="precioincluyeigv"></p-inputSwitch> 
                                            </td>  
                                            <td>
                                                <strong class="p-column-title">Cantidad</strong>
                                                <input type="number" style="width: 80px;"  (keydown.enter)="onCalcularPrecioVenta(rowIndex)" (keydown.Tab)="onCalcularPrecioVenta(rowIndex)"  class="p-inputtext-sm" pInputText formControlName="cantidad">  
                                            </td> 
                                            <td>
                                                <strong class="p-column-title">PrecioU</strong>
                                                <input type="number" style="width: 80px;"  (keydown.enter)="onCalcularPrecioVenta(rowIndex)" (keydown.Tab)="onCalcularPrecioVenta(rowIndex)"  class="p-inputtext-sm" pInputText formControlName="preciounitario">  
                                            </td>   
                                            <td>
                                                <strong class="p-column-title">Base Impon,</strong>
                                                <input type="number" style="width: 80px;"  readonly class="p-inputtext-sm" pInputText formControlName="baseimponible">  
                                            </td>  
                                            <td>
                                                <strong class="p-column-title">% Dcsto</strong>
                                                <input type="number" style="width: 80px;"  (keydown.enter)="onCalcularPrecioVenta(rowIndex)" (keydown.Tab)="onCalcularPrecioVenta(rowIndex)"   class="p-inputtext-sm" pInputText formControlName="porcentajedescuento">  
                                            </td> 
                                            <td>
                                                <strong class="p-column-title">Imp.Dcsto</strong>
                                                <input type="number" style="width: 80px;" readonly class="p-inputtext-sm" pInputText formControlName="importedescuento">  
                                            </td>  
                                            <td>
                                                <strong class="p-column-title">Observaciones</strong>
                                                <input type="text" style="width: 150px;" [minlength]="0" class="p-inputtext-sm" pInputText formControlName="observaciones">  
                                            </td>  
                                            <td>
                                                <strong class="p-column-title">Valor Venta</strong>
                                                <input type="number" style="width: 80px;"  readonly class="p-inputtext-sm" pInputText formControlName="valorVenta">  
                                            </td> 
                                            <td>
                                                <strong class="p-column-title">IGV</strong>
                                                <input type="number" style="width: 80px;" readonly [value]="detallesVentaForm[rowIndex].get('igv').value | number:'0.2-2'"  class="p-inputtext-sm" pInputText formControlName="igv">  
                                            </td> 
                                            <td>
                                                <strong class="p-column-title">Imp.Otros.C</strong>
                                                <input type="number" style="width: 80px;"  (keydown.enter)="onCalcularPrecioVenta(rowIndex)" (keydown.Tab)="onCalcularPrecioVenta(rowIndex)"    class="p-inputtext-sm" pInputText formControlName="importesotroscargos">  
                                            </td> 
                                            <td>
                                                <strong class="p-column-title">ICBPER</strong>
                                                <input type="number" style="width: 80px;" readonly class="p-inputtext-sm" pInputText formControlName="importeicbper">  
                                            </td> 
                                            <td>
                                                <strong class="p-column-title">PrecioV</strong>
                                                <input type="number" style="width: 80px;" readonly [value]="detallesVentaForm[rowIndex].get('precioventa').value | number:'0.2-2'"   class="p-inputtext-sm" pInputText formControlName="precioventa">  
                                            </td> 
                                            <td>
                                                <strong class="p-column-title">NroLote</strong>
                                                <input type="number" style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="nroLote">  
                                            </td> 
                                            <td>
                                                <strong class="p-column-title">NroSerie</strong>
                                                <input type="number" style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="nroSerie">  
                                            </td> 
                                               <!-- <td>
                                                <strong class="p-column-title">Nro.Cuenta</strong>
                                                <input type="number" style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="nrocuenta">  
                                            </td>  -->
                                            <td>
                                                <strong class="p-column-title">F.Vencimiento</strong>
                                                <p-calendar  
                                                    appendTo="body" 
                                                    readonlyInput="true"
                                                    [showIcon]="true"
                                                    dateFormat="dd/mm/yy"
                                                    formControlName="fechavencimiento"
                                                ></p-calendar>  
                                            </td>  
                                        </tr>
                                    </ng-template> 
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <span>  No existen registros </span> 
                                        </tr>
                                    </ng-template> 
                            
                                </p-table>  
                            </div>
                        </div> 
                    </div>
                    <!-- FIN DETALLE DE LA VENTA-->
 

                    <!-- FORM ARRAY DEL DETALLE GUIA REMISION-->
                    <div *ngIf="GuiaRemisionForm" >
                        <div>
                         
                            <div style="margin: 3%;">
                                <p-table   
                                    class="TablaDetalleCondicionPago"
                                    [value]="detallesGuiaRemision"
                                    [scrollable]="true" 
                                    responsiveLayout="stack" >  
                                    <ng-template pTemplate="header">
                                        <tr> 
                                            <th style="width: 170px;">Serie Guía</th>
                                            <th style="width: 170px;">Nro Guía</th> 
                                            <th style="width: 50px;">Acción</th>
                                        </tr>
                                    </ng-template> 
                        
                                    <ng-template pTemplate="body" let-detallesGuiaRemision  let-rowIndex="rowIndex" formArrayName="arrayDetalleGuiaRemision"> 
                                        <tr [formGroupName]="rowIndex"> 
                                            <td>
                                                <strong class="p-column-title">Serie Guía</strong>
                                                <input type="text" [min]="0" class="p-inputtext-sm" pInputText formControlName="serieguia">  
                                            </td>
                                            <td>
                                                <strong class="p-column-title">Nro Guía</strong>
                                                <input type="number" [min]="0" class="p-inputtext-sm" pInputText formControlName="nroguia">  
                                            </td>  
                                            <td>
                                                <button  
                                                    class="p-button-sm p-button-rounded"
                                                    pButton 
                                                    style=" background-color: #D72250;"
                                                    type="button"
                                                    (click)="onEliminarDetalleGuiaRemision(rowIndex, detallesGuiaRemision.value.ventadocumentosreferenciaid)"
                                                    icon="pi pi-trash">  
                                                </button>
                                            </td>
                                        
                                        </tr>
                                    </ng-template> 
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <span>  No existen registros </span> 
                                        </tr>
                                    </ng-template>  
                                </p-table>   
                                <br>

                                <div class="BotonCondiciondePago">   
                                    <button type="button" label="Agregar detalle guia remision" pTooltip="Agregar"  class="p-button-sm" (click)="onAgregarDetalleGuiaRemision()" tooltipPosition="left" pButton  icon="pi pi-plus"></button>                                 
                                </div> 
                            </div>
                        </div> 
                        <hr>
                        
                    </div>
                    <!-- FINDETALLE GUIA REMISION-->
 
 
                    <!-- FORM ARRAY DEL DETALLE DOCUMENTO REFERENCIA-->
                    <div *ngIf="DocReferenciaForm" >
                        <div>      
                            <div style="margin: 3%;">

                                <div class="formulario">
                                    <strong>Motivo Nota:</strong>  
                                    <p-dropdown class="extender" [options]="arrayMotivoNota" formControlName="motivonotaid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>    
                                </div> 

                                <br>

                                <p-table   
                                    class="TablaDetalleCondicionPago"
                                    [value]="detallesDocumentoRef"
                                    [scrollable]="true" 
                                    responsiveLayout="stack" >  
                                    <ng-template pTemplate="header">
                                        <tr> 
                                            <th style="width: 50px;">Acción</th>
                                            <th style="width: 140px;">T. Documento</th>
                                            <th style="width: 95px;">Serie</th> 
                                            <th style="width: 100px;">Correlativo</th> 
                                            <th style="width: 140px;">Fec.Referencia</th> 
                                            <th style="width: 50px;">Amarrar</th>
                                        </tr>
                                    </ng-template> 
                        
                                    <ng-template pTemplate="body" let-detallesDocumentoRef  let-rowIndex="rowIndex" formArrayName="arrayDetalleDocumentoRef"> 
                                        <tr [formGroupName]="rowIndex">  
                                            <td> 
                                                <button  
                                                    class="p-button-sm p-button-rounded"
                                                    pButton 
                                                    type="button"
                                                    style=" background-color: #D72250;"
                                                    (click)="onEliminarDetalleDocumentoRef(rowIndex, detallesDocumentoRef.value.ventadocumentosreferenciaid)"
                                                    icon="pi pi-trash">  
                                                </button> 
                                            </td> 

                                            <td>
                                                <strong class="p-column-title">T. Documento</strong>
                                                <p-dropdown class="extender" appendTo="body" [options]="arrayTipoDocumento" formControlName="tipodocumento"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor2"></p-dropdown> 
                                            </td>
                                            <td>
                                                <strong class="p-column-title">Serie</strong>
                                                <input type="text"  style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="serie">  
                                            </td>  
                                            <td>
                                                <strong class="p-column-title">Correlativo</strong>
                                                <input type="number"  style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="correlativo">  
                                            </td>  
                                            <td>
                                                <strong class="p-column-title">Fec.Referencia</strong>
                                                <p-calendar  
                                                    appendTo="body"
                                                    readonlyInput="true"
                                                    [showIcon]="true"
                                                    dateFormat="dd/mm/yy"
                                                    formControlName="fecReferencia"
                                                ></p-calendar> 
                                            </td>  
                                            <td>  
                                                <button  
                                                    class="p-button-sm p-button-rounded"
                                                    pButton 
                                                    type="button"
                                                    (click)="onReferenciarDetalleDocumentoRef(rowIndex)"
                                                    icon="fas fa-sync">   
                                                </button> 
                                            </td>
                                        
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <span>  No existen registros </span> 
                                        </tr>
                                    </ng-template> 
                            
                                </p-table>  
                            </div>
                            <br>
                            <div class="BotonCondiciondePago">   
                                <button type="button" label="Agregar detalle documento referencia" pTooltip="Agregar"  class="p-button-sm" (click)="onAgregarDetalleDocumentoRef()" tooltipPosition="left" pButton  icon="pi pi-plus"></button>                                 
                            </div> 

                            <hr>
                        </div> 
                    </div>
                    <!-- FIN DETALLE GUIA REMISION-->

 
                    <div *ngIf="OtrosForm" >
                        <br>
                        <p-fieldset>
                            <ng-template pTemplate="header">Descuento Global</ng-template> 

                            <div class="formulario">
                                <strong>Descuento Global:</strong>
                                <div class="p-inputgroup">  
                                    <input  type="number" (keyup)="onConvertiraPorcentaje()" pInputText formControlName="dsctoglobalrporcentaje" class="p-inputtext-sm" placeholder="0">     
                                    <button class="p-button-sm" type="button" pButton label="% Porcentaje" (click)="onConvertiraPorcentaje()"> </button>    
                                </div> 
                            </div> 
 
                        </p-fieldset>
                        <br>
                        <p-fieldset>
                            <ng-template pTemplate="header">Detracción</ng-template> 
                            <div class="p-col-12"> 
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col-12 p-md-6"> 
                                        <div class="formulario">  
                                            <strong>Venta afecta detracción:</strong>
                                            <p-inputSwitch formControlName="esafectodetraccion"></p-inputSwitch> 
                                        </div>
                                    </div> 
                                    <div class="p-field p-col-12 p-md-6">
                                        <div class="formulario"> 
                                            <strong>Porcentaje:</strong> 
                                            <input  type="text" pInputText formControlName="porcentajedetraccion" class="p-inputtext-sm" placeholder="%">   
                                        </div> 
                                    </div> 
                                    <div class="p-field p-col-12 p-lg-12 p-md-12">
                                        <div class="formulario">  
                                            <strong>Código Detracción:</strong> 
                                            <p-dropdown class="extender"  appendTo="body" [options]="arrayCodigoDetraccion" formControlName="codigodetraccion"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor1"></p-dropdown> 
                                        </div> 
                                    </div> 
                                  
                                </div>
                            </div> 
                        </p-fieldset>
                        <br>
                        <p-fieldset>
                            <ng-template pTemplate="header">Adicionales</ng-template> 
                            <div class="p-col-12"> 
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col-12 p-lg-4 p-md-6">
                                        <div class="formulario">  
                                          <span> sin filtros </span>
                                        </div> 
                                    </div> 
                                </div>
                            </div> 
                        </p-fieldset>
        
                    </div>

                    <div *ngIf="FacturaguiaForm" >
                      <span> Sin informacion</span>
                    </div>

                    <div *ngIf="TotalesForm" >
                        <div class="p-col-12"> 
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-lg-6 p-md-6">
                                    <div class="totalesResumen"  style="margin: 3%;">   
                                        <strong>Descuento global:</strong>
                                        <input  type="number" pInputText readonly formControlName="dsctoglobalimporte" class="p-inputtext-sm" placeholder="0.00">    
    
                                        <strong>Descuento por item:</strong>
                                        <input  type="number" pInputText readonly formControlName="descuentoporitem" class="p-inputtext-sm" placeholder="0.00">     
                       
                                        <strong>Descuento Total:</strong>
                                        <input  type="number" pInputText readonly formControlName="importedescuento" class="p-inputtext-sm" placeholder="0.00">     
                       
                                        <strong>Anticipo:</strong>
                                        <input  type="number" pInputText readonly formControlName="importeanticipo" class="p-inputtext-sm" placeholder="0.00">     
                       
                                        <strong>Exonerada:</strong>
                                        <input  type="number" pInputText readonly formControlName="importeexonerado" class="p-inputtext-sm" placeholder="0.00">     
                       
                                        <strong>Inafecta:</strong>
                                        <input  type="number" pInputText readonly formControlName="importeinafecto" class="p-inputtext-sm" placeholder="0.00">   
                                    </div> 
                                </div>  

                                <div class="p-field p-col-12 p-lg-6 p-md-6">
                                    <div class="totalesResumen"  style="margin: 3%;">    
 
                                        <strong>Gravada:</strong>
                                        <input  type="number" pInputText readonly formControlName="importegravada" class="p-inputtext-sm" placeholder="0.00">  

                                        <strong>IGV:</strong>
                                        <input  type="number" pInputText readonly formControlName="importeigv" class="p-inputtext-sm" placeholder="0.00"> 

                                        <strong>Gratuita:</strong>
                                        <input  type="number" pInputText readonly formControlName="importegratuita" class="p-inputtext-sm" placeholder="0.00">   

                                        <strong>Otros Tributos:</strong>
                                        <input  type="number" pInputText readonly formControlName="importeotrostributos" class="p-inputtext-sm" placeholder="0.00">  

                                        <strong>ICBPER:</strong>
                                        <input  type="number" pInputText readonly formControlName="importeicbper" class="p-inputtext-sm" placeholder="0.00">     

                                        <strong class="totalaMostrar">TOTAL:</strong>
                                        <input  type="number" pInputText readonly formControlName="importetotalventa" class="p-inputtext-sm" placeholder="0.00">     
                      
                                    </div> 
                                </div>  
                            </div>
                        </div>
                    </div>

               
                    <!--  FIN TABS FORM -->
                <br>
                <hr>

                <div class="importes" *ngIf="TabTotalesActivo"> 
                    <strong class="totalaMostrar">Importe Total </strong> 
                    <strong > {{ totalaPagar | currency:'S/. '}}</strong>  
                    <button type="button" (click)="activateMenu('6')" pTooltip="Mas info..." class="p-button-sm" tooltipPosition="left" pButton icon="pi pi-info"></button>   
                </div>

            </form>
             
            <br>

            <div class="botones">
            <button  
                class="p-button-sm"
                pButton
                type="button"
                [disabled]="Form.invalid" 
                label="Grabar"
                style="margin-right: 1%;"
                (click)="onGrabar()"
                icon="pi pi-check-circle">  
            </button>  

            <button   
                class="p-button-sm"
                pButton
                type="button"
                icon="pi pi-times-circle"
                label="Cancelar" 
                style=" background-color: #D72250;"
                (click)="onRegresar()">  
            </button>  
        </div>
    
        
        </div> 
    </div>  
</div>  
    
<!-- VISTA Y DIALOG -->
<app-venta-reporte *ngIf="VistaReporte" [dataReporte]="dataReporte" (cerrar)="onRetornar()"  ></app-venta-reporte> 
<app-cobrar *ngIf="VistaCobrar" [dataCobrar]="dataCobrar" (cerrar)="onRetornar()" ></app-cobrar> 

<div *ngIf="modalBuscarPersona">
    <p-dialog header="BUSCAR PERSONA" [(visible)]="modalBuscarPersona" [modal]="true" [style]="{width: '80vw'}">
        <app-buscar-persona  [dataPersona]="'Cliente'" (PersonaSelect)="onPintarPersonaSeleccionada($event)"> </app-buscar-persona>
    </p-dialog> 
</div>  
 
<div *ngIf="modalBuscarProducto">
    <p-dialog header="BUSCAR PRODUCTO" [(visible)]="modalBuscarProducto" [modal]="true" [style]="{width: '80vw'}">
        <app-buscar-producto [dataProductos]="dataProductos"  (productoSelect)="onPintarProductoSeleccionado($event)"> </app-buscar-producto>
    </p-dialog> 
</div>  

<div *ngIf="modalImprimirTicket">
    <p-dialog header="CONFIGURAR IMPRESORA TIKETERA" [(visible)]="modalImprimirTicket" [modal]="true" [style]="{width: '80vw'}">
        <form [formGroup]="FormImpresion">
            <div class="p-col-12"> 
                <div class="p-fluid p-formgrid p-grid"> 
                    <div class="p-field p-col-12 md-6"> 
                        <strong>Host de Impresión:</strong>
                        <div class="p-inputgroup">  
                            <input  type="text"  pInputText formControlName="hostImpresion" class="p-inputtext-sm">     
                            <button class="p-button-sm" type="button" pButton label="Aplicar Host" (click)="onLoadImpresoras()"> </button>    
                        </div> 
                    </div>
                    <div class="p-field p-col-12 md-6"> 
                        <strong>Impresora:</strong>
                        <p-dropdown class="extender" [disabled]="bloquearComboImpresoras"  appendTo="body" [options]="arrayImpresoras"  formControlName="nombreImpresora"  placeholder="Selecciona"  [showClear]="true"  optionLabel="nombre"></p-dropdown> 
                    </div>
                    <div class="p-field p-col-12 md-6"> 
                        <strong>Ancho Papel(puntos)):</strong>
                        <input  type="text" pInputText [minLength]="1"  formControlName="anchoPapel"  class="p-inputtext-sm">     
                    </div>
                </div>
            </div>
        </form>
        <div class="botones">
            <button  
                class="p-button-sm"
                pButton
                type="button"
                [disabled]="FormImpresion.invalid"
                label="Grabar"
                (click)="onSendImpresion()"
                icon="pi pi-check-circle">  
            </button>  

            <button   
                class="p-button-sm"
                pButton
                type="button"
                icon="pi pi-times-circle"
                label="Cancelar" 
                style=" background-color: #D72250;"
                (click)="modalImprimirTicket = false">  
            </button>  
        </div> 
        <span><strong> NOTA:</strong> La impresora debe soportar comandos POS/ESC </span>
          
    </p-dialog> 
</div>  


