 
<div class="Margintabla">
    <div class="contenidoTable card"> 

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
           </ngx-spinner>
           
        <div class="tituloMarca">  
            <h3> <i class="fas fa-file-pdf"></i> REPORTE  ANÁLISIS CUENTA </h3>  
        </div>  
        <form [formGroup]="Form">
            <div class="p-col-12"> 
                <div style="align-items: flex-end;" class="p-fluid p-formgrid p-grid"> 
                   
                    <div class="p-field p-col-12 p-md-3 p-sm-6">
                        <strong>Fec Hasta: </strong> 
                        <p-calendar
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaHasta"
                        ></p-calendar> 
                    </div>
                      
                    <div class="p-field p-col-12 p-md-4 p-sm-6">
                        <strong class="p-column-title">Anexo:</strong> 
                        <div class="p-inputgroup">  
                            <input type="text" readonly  formControlName="nrodocanexo" pInputText  class="p-inputtext-sm" placeholder="busca un anexo">   
                            <button type="button" pTooltip="Buscar"  class="p-button-sm" tooltipPosition="left" (click)="onModalBuscarAnexo();" pButton icon="pi pi-search"></button>      
                            <button *ngIf="existeAnexoSeleccionado" type="button" pTooltip="Borrar"  style=" background-color: #D72250;" class="p-button-sm" tooltipPosition="left" (click)="onBorrarAnexo();" pButton icon="pi pi-trash"></button>    
                        </div> 
                    </div>

                    <div class="p-field p-col-12 p-md-3 p-sm-6">
                        <!-- <div class="p-field p-col-12 p-md-10 CampoSwicth"> -->
                        <strong style="margin-right: 1.5%;">Sólo con Detalle</strong>  
                        <p-inputSwitch  formControlName="solocondetalle"></p-inputSwitch> 
                         
                    </div>

                    <div class="p-field p-col-12 p-md-2 p-sm-6">     
                        <button pButton class="p-button-sm" label="Generar" type="button" pTooltip="PDF" icon="pi pi-file-pdf" (click)="onGenerarReporte()"></button>
                    </div>

                </div>
            </div>
    
        </form>
    

        <div *ngIf="contenidoReporte" style="height: 80vh;"> 
            <br> 
            <iframe  [src]="Pdf" height="95%" width="100%"></iframe> 
        </div>
 
    </div> 
</div>  

 

<div *ngIf="modalBuscarAnexo">
    <p-dialog header="BUSCAR ANEXO" [(visible)]="modalBuscarAnexo" [modal]="true" [draggable]="false" [resizable]="false"> 
        <app-buscar-persona  [dataPersona]="'Todos'" (PersonaSelect)="onPintarAnexo($event)" ></app-buscar-persona>
    </p-dialog> 
</div>
