<div class="exception-body notfound-page">

    <div class="exception-top">
        <img src="assets/layout/images/icon-404.png" alt="poseidon-layout" />
    </div>

    <div class="exception-bottom">
        <div class="exception-wrapper">
            <span class="exception-summary">No se encontró la página</span>
            <span class="exception-detail">Porfavor dirigase a un modulo existente.</span> 
            <button pButton pRipple [routerLink]="['/modulos/home/landing']" label="Regresar a la pantalla principal  " icon="pi pi-home" class="p-button-generico-azul"></button>
            <a [routerLink]="['/modulos/home/landing']" class="logo">
                <img src="assets/layout/images/logo-gestisol.png" alt="logo" />
            </a> 
        </div>
    </div>
</div>
