<div class="exception-body notfound-page">

    <div class="exception-top">
        <img src="assets/layout/images/icon-404.png" alt="poseidon-layout" />
    </div>

    <div class="exception-bottom">
        <div class="exception-wrapper">
            <span class="exception-summary">No se encontró la página</span>
            <span class="exception-detail">Voler al incio</span>
            <!-- <button pButton pRipple [routerLink]="['/modulos/home']" label="Iniciar sesión" icon="pi pi-home"></button>
            <a [routerLink]="['/modulos/home']" class="logo">
                <img src="assets/layout/images/logo_ti.png" alt="poseidon-layout" class="logo-icon"  />
            </a> -->
            <span class="exception-footer">TI SOLUCIONES</span>
        </div>
    </div>
</div>
