<div class="exception-body notfound-page">

    <div class="exception-top">
        <img src="assets/layout/images/icon-404.png" alt="poseidon-layout" />
    </div>

    <div class="exception-bottom">
        <div class="exception-wrapper">
            <span class="exception-summary">No se encontró la página</span>
            <span class="exception-detail">Voler al login</span>
            <button pButton pRipple [routerLink]="['/auth']" label="Iniciar sesión" icon="pi pi-home"></button>
            <a [routerLink]="['/auth']" class="logo">
                <img src="assets/layout/images/logo_color.png" alt="poseidon-layout" class="logo-icon"  />
            </a> 
        </div>
    </div>
</div>
