<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left">
            <div class="layout-topbar-logo" id="logolink" style="cursor: pointer; outline: none;">
                <img id="app-logo"
                     src="assets/layout/images/logo_color.png"
                     alt="poseidon-layout">
                      <!-- <strong>  TI SOLUCIONES</strong> -->
            </div>
        </div>

        <div class="topBarHome layout-topbar-right">
            <a class="menu-button" href="#" pTooltip="Landing" (click)="appMain.onMenuButtonClick($event)">
                <i class="pi pi-bars"></i> 
            </a>
          
  
            <a class="buttonBashboard menu-button" pTooltip="Home" routerLink="/modulos/home/landing" (click)="onTiketera('Dashborad')">
                <i class="pi pi-home"></i>
            </a>

            <ul class="layout-topbar-actions"> 
                <li #profile class="topbar-item user-profile"
                    [ngClass]="{'active-topmenuitem':appMain.activeTopbarItem === profile}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)"> 
                        <img  src="assets/layout/images/avatar-profile.png" alt="demo">
                        <div class="profile-info">
                            <h6>{{usuariologeado}}</h6>
                            <span>{{rolUsuario}}</span>
                        </div>
                    </a>

                    <ul class="fadeInDown">  
                        <li role="menuitem">
                            <a href="#" routerLink="/modulos/empresas" > 
                                <i class="pi pi-arrow-left"></i>
                                <h6>Empresas</h6>
                            </a>
                        </li>  
                        <li role="menuitem" > 
                            <a  (click)="onTiketera('T')"> 
                                <i class="fas fa-print"></i>
                                <h6>Ticketera</h6> 
                            </a>
                        </li>
                        <li role="menuitem"> 
                            <a (click)="onTiketera('U')"> 
                                <i class="pi pi-map-marker"></i>
                                <h6>Ubicación</h6> 
                            </a>  
                        </li>
                        <li role="menuitem">
                            <a  (click)="onLogout()">
                                <i class="pi pi-power-off"></i>
                                <h6>Cerrar Sesión</h6>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div> 


