<div id="layout-config" class="layout-config" [ngClass]="{'layout-config-active': appMain.configActive}" (click)="appMain.onConfigClick($event)">
    <a style="cursor: pointer" id="layout-config-button" class="layout-config-button" (click)="onConfigButtonClick($event)">
        <i class="pi pi-cog"></i>
    </a>
    <div class="layout-config-content">
        <div class="layout-config-form" id="config-form">
            <div class="layout-config-header">
                <h5>Configuracion de temas</h5> 
            </div>

            <div id="lightdark-panel" class="layout-config-section options">
                <h6>Color</h6>
                <div class="p-d-flex p-jc-between">
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="layoutMode" value="light" [(ngModel)]="app.layoutMode" inputId="layoutMode1" (onClick)="onLayoutModeChange($event)"></p-radioButton>
                        <label for="layoutMode1" class="p-ml-2">Light</label>
                    </div>
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="layoutMode" value="dark" [(ngModel)]="app.layoutMode" inputId="layoutMode2" (onClick)="onLayoutModeChange($event)"></p-radioButton>
                        <label for="layoutMode2" class="p-ml-2">Dark</label>
                    </div>
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="layoutMode" value="dim" [(ngModel)]="app.layoutMode" inputId="layoutMode3" (onClick)="onLayoutModeChange($event)"></p-radioButton>
                        <label for="layoutMode3" class="p-ml-2">Dim</label>
                    </div>
                </div>
            </div>

            <div id="menumodes-panel" class="layout-config-section options">
                <h6 class="p-mt-2">Menu modo</h6>
                <div class="p-d-flex p-jc-between">
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="menuMode" value="static" [(ngModel)]="app.menuMode" inputId="menuMode1"></p-radioButton>
                        <label for="menuMode1" class="p-ml-2">Static</label>
                    </div>
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="menuMode" value="overlay" [(ngModel)]="app.menuMode" inputId="menuMode2"></p-radioButton>
                        <label for="menuMode2" class="p-ml-2">Overlay</label>
                    </div>
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="menuMode" value="horizontal" [(ngModel)]="app.menuMode" inputId="menuMode3"></p-radioButton>
                        <label for="menuMode3" class="p-ml-2">Horizontal</label>
                    </div>
                </div>
            </div>

            <div id="menuthemes-panel" class="layout-config-section options">
                <h6 class="p-mt-2">Menu tema</h6>
                <div class="p-d-flex p-jc-between">
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="menuTheme" [disabled]="app.layoutMode !== 'light'" value="light" [(ngModel)]="app.menuTheme" inputId="menuTheme1"></p-radioButton>
                        <label for="menuTheme1" class="p-ml-2">Light</label>
                    </div>
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="menuTheme" [disabled]="app.layoutMode !== 'light'" value="dark" [(ngModel)]="app.menuTheme" inputId="menuTheme2"></p-radioButton>
                        <label for="menuTheme2" class="p-ml-2">Dark</label>
                    </div>
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="menuTheme" [disabled]="app.layoutMode !== 'light'" value="dim" [(ngModel)]="app.menuTheme" inputId="menuTheme3"></p-radioButton>
                        <label for="menuTheme3" class="p-ml-2">Dim</label>
                    </div>
                </div>
            </div>

            <div id="topbarthemes-panel" class="layout-config-section options">
                <h6 class="p-mt-2">TopBar modo</h6>
                <div class="p-d-flex p-jc-between">
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="topbarTheme" [disabled]="app.layoutMode !== 'light'" value="light" [(ngModel)]="app.topbarTheme" inputId="topbarTheme1"></p-radioButton>
                        <label for="topbarTheme1" class="p-ml-2">Light</label>
                    </div>
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="topbarTheme" [disabled]="app.layoutMode !== 'light'" value="dark" [(ngModel)]="app.topbarTheme" inputId="topbarTheme2"></p-radioButton>
                        <label for="topbarTheme2" class="p-ml-2">Dark</label>
                    </div>
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="topbarTheme" [disabled]="app.layoutMode !== 'light'" value="dim" [(ngModel)]="app.topbarTheme" inputId="topbarTheme3"></p-radioButton>
                        <label for="topbarTheme3" class="p-ml-2">Dim</label>
                    </div>
                </div>
            </div>

            <div id="outlined-panel" class="layout-config-section options">
                <h6 class="p-mt-2">Input de fondo</h6>
                <div class="p-d-flex p-jc-between">
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="inputStyle" value="outlined" [(ngModel)]="app.inputStyle" inputId="inputStyle1"></p-radioButton>
                        <label for="inputStyle1" class="p-ml-2">Outlined</label>
                    </div>
                    <div class="p-d-flex p-ai-center">
                        <p-radioButton name="inputStyle" value="filled" [(ngModel)]="app.inputStyle" inputId="inputStyle2"></p-radioButton>
                        <label for="inputStyle2" class="p-ml-2">Filled</label>
                    </div>
                </div>
            </div>

            <div id="componentthemes-panel" class="layout-config-section colors">
                <h6 class="p-mt-2">Componentes tema</h6>
                <div class="p-grid layout-config-colors">
                    <div *ngFor="let t of themes" class="p-col p-col-fixed">
                        <a style="cursor: pointer" (click)="changeTheme(t.name)" class="layout-config-option">
                            <span class="layout-config-option-color" [ngStyle]="{'background-color': t.color}"></span>
                            <span class="layout-config-option-check-mask" *ngIf="theme === t.name">
                                <i class="pi pi-check"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
