
 
    <p-blockUI *ngIf="mostrarBloqueo" [blocked]="mostrarBloqueo"  [target]="bloquear" >
        <div class="layout-main">
            <div class="layout-content">
                <p class="TextoPreloader"> 
                    <br>
                    Se está ejecutando una tarea de envio masivo, por favor espere....
                    <br>
                    <p-progressBar class="pogressSpiner" mode="indeterminate" [style]="{'height': '10px', 'margin-top': '2%' }"></p-progressBar> 
                </p>
            </div> 
        </div>
    </p-blockUI> 

    <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
        <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
    </ngx-spinner>
  
<div #bloquear> 
    <div class="Margintabla"> 
        <div class="contenidoTable card"> 
            <form [formGroup]="FormBusqueda"> 
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h3> <i class="fas fa-laptop-code"></i> VENTAS ELECTRÓNICAS</h3> 
                    </div>
                    
                    <div class="p-toolbar-group-right"> 
                        <p-tieredMenu   #menu [model]="opcioneVentaElectronica" appendTo="body" [popup]="true"></p-tieredMenu>
                        <button #btn   class="BorrarLabel p-button-sm"  type="button" pButton label="Opciones" icon="pi pi-cog" (click)="menu.toggle($event)"></button>
                    </div>
                </p-toolbar>
 
                <div class="p-col-12"> 
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-5 p-sm-6">
                            <strong>Fecha Inicio:</strong>
                            <p-calendar  
                                readonlyInput="true"
                                [showIcon]="true"
                                dateFormat="dd/mm/yy"
                                formControlName="fechaInicio"
                            ></p-calendar> 
                        </div> 
    
                        <div class="p-field p-col-12 p-md-5 p-sm-6">
                            <strong>Fecha Fin:</strong>
                            <p-calendar  
                                readonlyInput="true"
                                [showIcon]="true"
                                dateFormat="dd/mm/yy"
                                formControlName="fechaFin"
                            ></p-calendar> 
                        </div> 
    
                        <div class="p-field p-col-12 p-md-2 p-sm-12 botonBuscar"> 
                            <button pButton label="Buscar" type="button" class="p-button-sm"  icon="pi pi-search" (click)="onLoadVentasElectronicas()"></button>
                        </div> 
                    </div> 
                </div> 
                
            </form>
             
            <p-table 
            class="TablaDetalle"
            [responsive]="true"
            [columns]="colsVisibles" 
            responsiveLayout="scroll"
            [rowHover]="true"
            [paginator]="true"   
            [rows]="10"  
            [value]="listadoVentasEletronicas">  
    
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{ col.header }} 
                        </th>
                    </tr> 
                </ng-template>
                
                <ng-template pTemplate="body" let-ventaelectronica let-columns="columns" let-rowIndex="rowIndex"  > 
                        <tr [pSelectableRow]="ventaelectronica" [pSelectableRowIndex]="rowIndex" [ngClass]="{'bloquearFila' : ventaelectronica.nroRegistro === onListaFilasBloqueados(ventaelectronica.nroRegistro) }"> 
                                                                                                                                                                       
                            <td  *ngFor="let col of columns" >
                                <strong class="p-column-title">{{ col.header | uppercase}}</strong> 
         
                                <div [ngSwitch]="col.field">    
                                    <div *ngSwitchCase="'fechaEmision'">
                                        {{ ventaelectronica[col.field] | date: col.formatoFecha }}
                                    </div>
                                    <div *ngSwitchCase="'fechaVencimiento'">
                                        {{ ventaelectronica[col.field] | date: col.formatoFecha }}
                                    </div>
                                    <div *ngSwitchCase="'fechaRegistro'">
                                        {{ ventaelectronica[col.field] | date: col.formatoFecha }}
                                    </div>
                                    <div *ngSwitchCase="'altabajaFechaSunat'">
                                        {{ ventaelectronica[col.field] | date: col.formatoFecha }}
                                    </div>
                                    <div *ngSwitchDefault>
                                        {{ ventaelectronica[col.field]  }}
                                    </div>
                                </div>  
                                <!-- BOTONES ALTA BAJA --> 
                                <ng-template [ngIf]="col.field === 'altabajaSunat'">
                                    <div style="display: block">
                                        <div>
                                            <button 
                                                [disabled]="!ventaelectronica.altaCpePermitido"
                                                pButton
                                                type="button" 
                                                tooltipPosition="top" 
                                                pTooltip="Dar Alta"  
                                                [ngClass]="{'BotonAlta': ventaelectronica.altaCpePermitido, 'BotonAltaBloqueado' : !ventaelectronica.altaCpePermitido}"
                                                (click)="onEnviarAltaBaja(ventaelectronica.idVenta, 'Alta')"  
                                                icon="fas fa-square-caret-up">
                                            </button>   
                                        </div> 
                                        <hr class="HrGrilla"> 
                                        <div>
                                            <button 
                                                [disabled]="!ventaelectronica.bajaCpePermitido"
                                                pButton
                                                type="button" 
                                                tooltipPosition="top"  
                                                (click)="onEnviarAltaBaja(ventaelectronica.idVenta, 'Baja')"  
                                                pTooltip="Dar Baja"     
                                                [ngClass]="{'BotonBaja': ventaelectronica.bajaCpePermitido, 'BotonBajaBloqueado' : !ventaelectronica.bajaCpePermitido}"
                                                icon="fas fa-square-caret-down">
                                            </button>   
                                        </div>
                                    </div>
                                </ng-template>
                                 <!-- OBSERVACIONES ALTA BAJA --> 
                                <ng-template [ngIf]="col.field === 'observacionesSunat'">
                                    <div style="display: block">
                                        <div class="AltaBajaObservaciones"> 
                                            <div [pTooltip]="ventaelectronica.notasAltaSunat" tooltipPosition="top" > 
                                                <p *ngIf="ventaelectronica.notasAltaSunat"> {{ ventaelectronica.notasAltaSunat | slice:0:60 }} </p> 
                                                <p *ngIf="!ventaelectronica.notasAltaSunat">  - </p> 
                                            </div>  
                                        </div> 
                                        <hr class="HrGrilla"> 
                                        <div class="AltaBajaObservaciones"> 
                                            <div [pTooltip]="ventaelectronica.notasBajaSunat" tooltipPosition="top"  > 
                                                <p *ngIf="ventaelectronica.notasBajaSunat"> {{ ventaelectronica.notasBajaSunat  | slice:0:60 }} </p> 
                                                <p *ngIf="!ventaelectronica.notasBajaSunat">  - </p> 
                                            </div> 
                                            
                                        </div>
                                    </div>
                                </ng-template>
                                <!-- FECHAS ALTA BAJA --> 
                                <ng-template [ngIf]="col.field === 'altabajaFechaSunat'">
                                    <div style="display: block">
                                        <div> 
                                            <div>
                                               <strong *ngIf="ventaelectronica.fechaAltaSunat">  {{ ventaelectronica.fechaAltaSunat | date: 'yyyy-MM-dd' }} </strong>
                                               <p *ngIf="!ventaelectronica.fechaAltaSunat"> - </p> 
                                            </div> 
                                        </div> 
                                        <hr class="HrGrilla"> 
                                        <div> 
                                            <div>
                                               <strong *ngIf="ventaelectronica.fechaBajaSunat"> {{ ventaelectronica.fechaBajaSunat | date: 'yyyy-MM-dd' }} </strong> 
                                               <p *ngIf="!ventaelectronica.fechaBajaSunat"> - </p> 
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
    
                                 <!-- BOTONES VER ESTADO -->
                                <ng-template  [ngIf]="col.field === 'acciones'">
                                    <div style="display: block;">
                                        <div>
                                            <button 
                                                pButton
                                                type="button" 
                                                [disabled]="!ventaelectronica.notasAltaSunat"
                                                tooltipPosition="top" 
                                                pTooltip="Actualizar" 
                                                (click)="onVerEstado(ventaelectronica, 'Alta')" 
                                                style="margin-right :2%;" 
                                                [ngClass]="{'BotonAlta': ventaelectronica.notasAltaSunat, 'BotonAltaBloqueado' : !ventaelectronica.notasAltaSunat}"
                                                icon="pi pi-search">
                                            </button>   
                                        </div> 
                                            <hr class="HrGrilla"> 
                                        <div>
                                            <button 
                                                pButton
                                                type="button" 
                                                [disabled]="!ventaelectronica.notasBajaSunat"
                                                tooltipPosition="top" 
                                                pTooltip="Actualizar" 
                                                [ngClass]="{'BotonBaja': ventaelectronica.notasBajaSunat, 'BotonBajaBloqueado' : !ventaelectronica.notasBajaSunat}"
                                                (click)="onVerEstado(ventaelectronica, 'Baja')" 
                                                style="margin-right :2%;" 
                                                icon="pi pi-search">
                                            </button>     
                                        </div>  
                                    </div>
                                </ng-template> 
                            </td>
                        </tr>
                    
                </ng-template>
    
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No existen registros</td>
                    </tr>
                    </ng-template> 
            </p-table>  
        </div> 
    </div>  
      
    
    <div *ngIf="modalResumenBoletas">
        <p-dialog header="LISTA DE RESUMEN" [(visible)]="modalResumenBoletas" [modal]="true" [style]="{width: '75vw'}">
            <app-resumen-boletas  (cerrar)="onRetornar($event)"> </app-resumen-boletas>
        </p-dialog> 
    </div> 
     
    <div *ngIf="modalResumenAltayBaja">
        <p-dialog [header]="titulomodalResumen" [tipo]="tipo" [(visible)]="modalResumenAltayBaja" [modal]="true">
            <div class="p-col-12"> 
                <div class="p-fluid p-formgrid p-grid"> 
                    <div class="p-field p-col-12 md-6"> 
                        <strong>Fecha Resumen:</strong>  
                        <p-calendar  
                            appendTo="body"
                            readonlyInput="true" 
                            [formControl]="fechaResumen"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy" 
                        ></p-calendar>  
                    </div>  
                </div>  
            </div>  
         
            <div class="botones">  
                <button   
                    class="p-button-sm p-button-rounded"
                    pButton
                    type="button"
                    icon="pi pi-check-circle"
                    label="Crear" 
                    style="margin-right: 1%;"
                    (click)="onCrearResumen(tipo)">  
                </button>  
                <button   
                    class="p-button-sm p-button-rounded"
                    pButton
                    type="button"
                    icon="pi pi-times-circle"
                    label="Cancelar" 
                    style=" background-color: #D72250;"
                    (click)="modalResumenAltayBaja = false">  
                </button>  
            </div>
           
        </p-dialog> 
    </div>  
    
</div>

  