
.tituloCobranza{
    display: flex;
    justify-content: space-between;

    @media(max-width: 700px) {
      display: block;
      justify-content: center;
   }
 }

 .botonesCabecera{
   display: flex;
   align-items: center; 
   @media(max-width: 700px) { 
     justify-content: center;
 }
 
 }
 .botonBuscar{
    display: flex;
    align-items: flex-end;   
  }

  .divBloqueo{
    background-color: antiquewhite;
    color: white;

  }

 

::ng-deep  .p-blockui { 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition-property: background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 997; 
} 

::ng-deep  .p-blockui.p-component-overlay {
  position: fixed !important;
}
 

.TextoPreloader{
  color: white;
  font-weight: bold;
  font-size: 23px;
  width: 95vw;
  line-height: 25px;  
  text-align: center;
  background-color: gray;
    @media(max-width: 700px) {
      color: white;
      font-weight: bold;
      font-size: 20px;
      width: 100vw;
      line-height: 25px;  
      text-align: center;
      background-color: gray;
   }

}

.BotonAlta{
  background-color: transparent;
  margin-right: 2%;
  font-size: 28px;
  color: orange;
  padding: 0;
  border: 0;
}


.BotonAlta:hover{
  background-color: transparent;
  margin-right: 2%;
  font-size: 28px;
  color: orange;
  padding: 0;
  border: 0;
}

.BotonAltaBloqueado{
  background-color: transparent;
  margin-right: 2%;
  font-size: 28px;
  color: gray;
  padding: 0;
  border: 0;
}

.BotonAltaBloqueado:hover{
  background-color: transparent;
  margin-right: 2%;
  font-size: 28px;
  color: gray;
  padding: 0;
  border: 0;
}




.BotonBaja{
  background-color: transparent; 
  font-size: 28px;
  margin-right: 2%;
  color: red;
  padding: 0;
  border: 0;
}
 
.BotonBaja:hover{
  background-color: transparent; 
  font-size: 28px;
  margin-right: 2%;
  color: red;
  padding: 0;
  border: 0;
}



.BotonBajaBloqueado{
  background-color: transparent; 
  font-size: 28px;
  margin-right: 2%;
  color: gray;
  padding: 0;
  border: 0;
}
 
.BotonBajaBloqueado:hover{
  background-color: transparent; 
  font-size: 28px;
  margin-right: 2%;
  color: gray;
  padding: 0;
  border: 0;
}

.TablaDetalle ::ng-deep .p-datatable-scrollable .p-datatable-thead>tr>th{  
  text-align: center !important;
}

.TablaDetalle ::ng-deep .p-datatable .p-datatable-tbody > tr > td{ 
  text-align: center;
}

.TablaDetalle ::ng-deep .p-datatable .p-datatable-thead > tr > th{
  text-align: center !important;
  justify-content: center;
}




.AltaBajaObservaciones{
  display: flex;
  width: 420px;
  align-items: center;
  justify-content: space-between;
}


 
.HrGrilla{
  height: 2px;
  background-color: black;
  margin: 0;
}

  
.bloquearFila { 
  pointer-events: none;
  background-color: lightgray !important; 
  color: white;

  .BotonBaja{
    background-color: transparent; 
    font-size: 28px;
    margin-right: 2%;
    color: gray;
    padding: 0;
    border: 0;
  }

  .BotonAlta{
    background-color: transparent; 
    font-size: 28px;
    margin-right: 2%;
    color: gray;
    padding: 0;
    border: 0;
  }
  
} 

 


::ng-deep .BorrarLabel {
  .p-button-label{
    @media (max-width:900px) {
      display: none !important;
    }
  }
}
 
