 
<div class="margintabla"> 
    <div class="contenidoTable card-box"> 

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
        </ngx-spinner>
        
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h3> <i class="fa-brands fa-hubspot"></i> <strong>  Administracion de Conceptos </strong></h3> 
            </div>
            <div class="p-toolbar-group-right">
                <button class="p-button-registrar" pButton
                    type="button" icon="pi pi-plus"
                    label="Agregar" tooltipPosition="left"
                    pTooltip="Registrar un plan" 
                    (click)="onAdd()">  
                </button> 
            </div>
        </p-toolbar>

        <p-table #dt 
        [columns]="cols" 
        responsiveLayout="stack"
        selectionMode="single"
        [paginator]="true" 
        [rows]="20"
        [rowHover]="true"
        [value]="list">   
            <ng-template pTemplate="header" let-columns >
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }} 
                        <p-sortIcon *ngIf="col.field != 'acciones'"
                            [field]="col.field"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon> 
                    </th>
                </tr> 
            </ng-template>
            
            <ng-template pTemplate="body" let-admiconcepto let-columns="columns"  let-rowIndex="rowIndex"> 
                <tr [pSelectableRow]="admiconcepto" [pSelectableRowIndex]="rowIndex">
                    <td  *ngFor="let col of columns" >
                        <strong class="p-column-title">{{ col.header | uppercase}}</strong>  {{admiconcepto[col.field]}}  
                        <ng-template #botones [ngIf]="col.field === 'acciones'"> 
                            <div style="display: flex;">
                                <button 
                                    pButton
                                    type="button" 
                                    tooltipPosition="top" 
                                    pTooltip="Editar" 
                                    (click)="onEdit(admiconcepto)"
                                    style="margin-right :2%;" 
                                    icon="pi pi-pencil">
                                </button>     
                                <button 
                                    pButton
                                    type="button" 
                                    tooltipPosition="top" 
                                    style=" background-color: #D72250;"
                                    (click)="onDelete(admiconcepto)"
                                    pTooltip="Eliminar"  
                                    icon="pi pi-trash">
                                </button>        
                            </div>  
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>    
    
    </div> 
</div> 

<!-- MODAL  -->
<div *ngIf="vNuevo">
    <p-dialog [header]="(!data) ? 'NUEVO CONCEPTO' : 'EDITAR CONCEPTO'" [(visible)]="vNuevo" [modal]="true" [draggable]="false" 
    [resizable]="false"> 
        <app-nueva-admin-concepto  (cerrar)="onRegresar($event)" [data]="data" ></app-nueva-admin-concepto> 
    </p-dialog>
</div>




