<p-toolbar>
    <div class="logotipo">
        <div class="p-toolbar-group-center">
            <img id="app-logo" src="assets/layout/images/logotipo.svg" alt="poseidon-layout">
        </div>
    </div>

    <div class="p-toolbar-group-right">
        <button tooltipPosition="left" pTooltip="Volver" class="mx-2 p-button-sm" pButton type="button"
            routerLink='/auth/login' icon="pi pi-arrow-circle-left">
        </button>
    </div>
</p-toolbar>


<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
    <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
</ngx-spinner>

<div class="tituloPage">
    <h2> <strong> Completa el formulario </strong></h2>
</div>

<div class="margintabla">
    <div class="contenidoTable card card-responsive">
        <form [formGroup]="registroForm">
            <p-fieldset>
                <ng-template pTemplate="header">Datos requeridos marcados con (*)</ng-template>
            <div class="p-grid p-fluid" style="margin:5%;">

                <div class="p-inputgroup my-2 ">
                    <strong>Nombre Completo <span style="color: red;">*</span> </strong>
                    <br>
                    <input type="text" pInputText formControlName="NombreApellidos" class="p-inputtext-sm"
                        placeholder="Ingrese su nombre Completo">
                </div>

                <div class="p-inputgroup my-2 ">
                    <strong>Correo electrónico<span style="color: red;">*</span> </strong>
                    <br>
                    <input type="email" pInputText formControlName="Email" class="p-inputtext-sm"
                        placeholder="Ingrese un Email">
                </div>

                <div class="p-inputgroup my-2 ">
                    <strong>Alias <span style="color: red;">*</span> </strong>
                    <br>
                    <input type="text" pInputText formControlName="NombreUsuario" class="p-inputtext-sm"
                        placeholder="Ingrese un Alias">
                </div>

                <div class="p-inputgroup my-2">
                    <strong>Contraseña<span style="color: red;">*</span> </strong>
                    <br>
                    <input type="password" pInputText formControlName="Password" class="p-inputtext-sm" #passwordField
                        placeholder="Ingrese una contraseña">
                    <button pButton class="p-button-sm"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <i *ngIf="passwordField.type === 'password'" class="pi pi-eye"> </i>
                        <i *ngIf="passwordField.type === 'text'" class="pi pi-eye-slash"> </i>
                    </button>
                </div>

                <div class="p-inputgroup my-2">
                    <strong>Confirmar Contraseña<span style="color: red;">*</span> </strong>
                    <br>
                    <input type="password" pInputText formControlName="RepetirPassword" class="p-inputtext-sm"
                        #passwordRepit placeholder="Confirmar la contraseña">
                    <button pButton class="p-button-sm"
                        (click)="passwordRepit.type === 'password' ? passwordRepit.type = 'text' : passwordRepit.type = 'password'"
                        matSuffix>
                        <i *ngIf="passwordRepit.type === 'password'" class="pi pi-eye"> </i>
                        <i *ngIf="passwordRepit.type === 'text'" class="pi pi-eye-slash"> </i>
                    </button>

                </div>
            </div>

        </p-fieldset>

            <div>
                <button class="p-button-sm" pButton style="margin-right: 1%;" icon="pi pi-check-circle"
                    label="Registrarme" type="button" [disabled]="registroForm.invalid" (click)="onRegistrar()">
                </button>
                <button class="p-button-sm" pButton style="background-color: #D72250;" icon="pi pi-arrow-circle-left"
                    label="Cancelar" type="button" routerLink="/auth/login">
                </button>

            </div>


        </form>


    </div>
</div>