.exception-body.access-page .exception-top {
    background-color: #135AA9;
    color: white;
    height: 8%;
    display: -ms-flexbox;
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  .exception-body.access-page {
    background: gainsboro;
  }

 

.pi{
  font-size: 1.3rem; 
  padding: 1% 1% 0.5% 1%;
}

.p-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
  margin-top: -1rem;
  row-gap: 10px;
}


 
.primerdiv{  
  padding: 0.5% 1% 0.5% 1%;
  display: flex;  
  align-items: center;
  background-color: #FDFEFF;
  box-shadow: 0 24px 64px -2px rgb(0 0 0 / 2%), 0 6px 16px -2px rgb(0 0 0 / 6%), 0 2px 6px -2px rgb(0 0 0 / 8%);
}

.contenteleft { 
  width: 400px;
  display: flex; 
  align-items: center;

  p{
    font-size: 20px;
  }
}

.contentrigth{ 
  display: flex;  
  align-items: center;  
  justify-content: flex-end;
  flex-grow: 1;  
  margin: 0;
  padding: 0;
  height: 100%;
}

.Imgtoolbar{
  margin-right: 1%;
  @media (max-width : 700px){
    margin-right: 15%;
  }
}



.contentUser{
  display: flex;  
  align-items: center;  
  justify-content: flex-end;
  flex-grow: 1;  
}


/* SCSS by miguelcampossv */



 .formularioColum12_1{
    display: grid;  
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: 12rem 20rem; 
    justify-content: center;
 }

 
.logotipo {
   text-align: center;
   margin: 0 auto;
}

.logotipo img{
   width: 60%;
}

.tituloPage {
   align-items: center;
   display: flex;
   height: 80px;
   justify-content: center;
   background-color: #147DBA;
   color: white;
}

.col-lg-6 {
   -ms-flex: 0 0 50%;
   flex: 0 0 50%;
   max-width: 50%
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto
}

.col-lg-6 {
   position: relative;
   width: 100%;
   padding-right: 15px;
   padding-left: 15px
   
}

.row {
   display: flex;
   flex-wrap: nowrap;
   margin-right: -15px;
   margin-left: -15px;
   flex-direction: row;
   align-items: center;
 }


 .p-button-agregar {

   background: rgb(114, 175, 255);
   width: 270px;
   height: 45px;
   border-radius: 20px;
   font-weight: 900;
   font-size: 14px;
 }

 .tablas-empresas {
       width: 990px;
       text-align: center;
       margin: 0 auto;
       margin-top: 25px;
       background: white;
       padding: 20px;
       border-radius: 35px;
       box-shadow: 25px 25px;
       box-shadow: 0 5px 15px 0 rgb(0 0 0 / 29%);
 }


.column-empresas-right {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.column-empresas-left {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.p-inputtext.p-inputtext-sm {
   font-size: 16px;
   padding: 10px 30px;
   width: 350px;
   border-radius: 20px;
   background: #e3e3e3;
}
 

::ng-deep  .p-datatable .p-datatable-thead > tr > th {
   text-align: center;
   padding: 1rem
rem
1rem;
   border: 1px solid rgba(232, 241, 248, 0.7);
   border-width: 0 0 1px 0;
   font-weight: 600;
   color: #ffffff;
   background: #72afff;
   transition: box-shadow 0.2s;
}

.header-buscar-empresas {

   width: 990px;
   text-align: center;
   margin: 0 auto;
   margin-top: 25px;
   background: white;
   padding: 20px;
   border-radius: 20px;
   box-shadow: 25px 25px;
   box-shadow: 0 5px 15px 0 rgb(0 0 0 / 29%);
   display: flex;
 
}

::ng-deep  .p-datatable .p-datatable-tbody > tr.p-highlight {
   background: #a3a9af;
   color: #f8fafc;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
   text-align: center;
   border: 1px solid rgba(232, 241, 248, 0.7);
   border-width: 0 0 1px 0;
   padding: 1rem 1rem;
}

.p-button-acceder {
   color: #f8fafc;
   background: #3f8748;
   border: 0px solid #1B74C5;
   padding: 0.5rem 1rem;
   font-size: 1rem;
   transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
   border-radius: 10px;
}

.p-button-ajustes {
   color: #f8fafc;
   background: #147DBA;
   border: 0px solid #1B74C5;
   padding: 0.5rem 1rem;
   font-size: 1rem;
   transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
   border-radius: 10px;
}

::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover {
   background: rgb(180 202 219 / 70%);
   color: #515C66;
}


.formulario{
   display: grid;
   grid-gap: 1rem;
   gap: 1rem;
   grid-auto-rows: auto;
   grid-template-columns: 10rem 1fr;   
   align-items: center;
   @media (max-width: 800px) {  
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
   }
}


.totalesResumen{
 display: grid;
 grid-gap: 1rem;
 gap: 1rem;
 grid-auto-rows: auto;
 grid-template-columns: 12rem 1fr;   
 align-items: center;
 @media (max-width: 800px) {  
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
 }
}


.formImprimir{
 display: grid;
 grid-gap: 1rem;
 gap: 1rem;
 grid-auto-rows: auto;
 grid-template-columns: 12rem 1fr;   
 align-items: center;
 @media (max-width: 800px) {  
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
 }
}



.totalaMostrar{ 
 font-size: 15px;
 text-align: center;
}


.InputCombinadoBuscar{
   display: grid;
   grid-template-columns:  1fr 60px 25px; 
}

.InputCombinado{
  display: grid;
  gap: 1%;
  grid-template-columns:  1fr 150px 150px;

  @media (max-width: 700px) {  
     display: block
  }
}


.InputCombinado2{
 display: grid;
 gap: 1%;
 grid-template-columns: 150px 1fr 30px 30px;
 @media (max-width: 700px) {  
  display: flex;
} 
}


.botonBuscar{
 display: flex;
 align-items: flex-end;   
}

.formulario ::ng-deep input:required > strong::after{
 content:" *";   
 color: black;
}

.pintarOver{
 display: flex;
 justify-content: center;
 background-color: #1B74C5;
 color: white;
}

.titulonuevoingreso{
 display: flex;
 justify-content: space-between;
}



.importes{  
 display: grid;
 grid-gap: 1%;
 gap: 1%;
 grid-template-columns: 120px 80px 30px;
 justify-content: center;
 text-align: center;
 align-items: center;
}



.BotonCondiciondePago{
 display: flex;
 justify-content: space-around;
 align-items: baseline;
 margin: 3%;
}


.TablaDetalleCondicionPago ::ng-deep .p-calendar  {
 justify-content: left;
 width: 130px;
}

.TablaDetalleCondicionPago ::ng-deep .p-datatable-scrollable .p-datatable-thead>tr>th{
 flex: none;
}

.TablaDetalleCondicionPago ::ng-deep .p-datatable .p-datatable-tbody > tr > td{
 flex: 0 !important;
}

 tr > th{
   justify-content: center;
 }

 .TablaDetalleCondicionPago ::ng-deep .p-dropdown  {
   justify-content: left;
   width: 140px;
 }
 
 
 
 .TablaDetalleCondicionPago ::ng-deep  .p-dropdown-clearable .p-dropdown-label {
   padding-right: 1rem;
   text-align: left !important;
 }
 
 

 .formTabs{
   display: grid;
   grid-gap: 1rem;
   gap: 1rem;
   grid-auto-rows: auto;
   grid-template-columns: 1fr 1fr 1fr;   
   align-items: center;
   @media (max-width: 800px) {  
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
   }
}



::ng-deep .BorrarLabel {
 .p-button-label{
   @media (max-width:900px) {
     display: none !important;
   }
 }
}




.contenido{
 height: auto;
}


.formulario{
 display: grid;
 grid-gap: 1rem;
 gap: 1rem;
 grid-auto-rows: auto;
 grid-template-columns: 10rem 1fr;   
 align-items: center;
 @media (max-width: 800px) {  
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
 }
}


/*ESTILOS FORZADOS*/

::ng-deep .contenido .p-fieldset {

   border: 1px solid #d5d5d5;
   background: #FDFEFF;
   color: #b3b3b3;
   height: 100%;
   border-radius: 15px;

}


.precioForm{
display: grid;
grid-gap: 1rem;
gap: 1rem;
grid-auto-rows: auto;
grid-template-columns: 10rem 2fr 0.5fr;
align-items: center;
@media (max-width: 700px) {  
   display: grid;
   grid-template-columns: 1fr;
}
}


.extenderDrop{
 display: contents; 
}

.switches{
display: grid;
grid-gap: 1rem;
grid-auto-rows: auto;
grid-template-columns: 15rem 1fr;   
align-items: center;
@media (max-width: 800px) {   
  grid-template-columns: 12rem 1fr;  
}
}  

/*ESTILOS CABECERA FIELDSET*/
.p-fieldset .p-fieldset-legend {
 padding: 0;
 border: none;
}


tr > th{
justify-content: center;
}
.ProductosTabla ::ng-deep .p-datatable-scrollable .p-datatable-thead>tr>th{
flex: none;
}

.ProductosTabla ::ng-deep  .p-dropdown-clearable .p-dropdown-label {
padding-right: 1rem;
text-align: left !important;
}
.ProductosTabla ::ng-deep .p-dropdown  {
justify-content: left;
width: 140px;
}

.elegirOpciones{
display: flex;
justify-content: space-evenly;
}

/*style content module*/

.card {
background: #ffffff;
padding: 30px 20px;
box-sizing: border-box;
border-radius: 16px;
width: 1024px;
margin: auto;
box-shadow: 0 16px 26px 0 rgb(0 0 0 / 29%);
}

.margintabla {
box-shadow:none
}


::ng-deep .p-toolbar {
background: #ffffff;
 border: 0px solid #ffffff;
 padding: 1rem;
 border-radius: 0px;
 color: #147dba;
}


.p-button {
   color: #ffffff;
   background: #147DBA;
   border: 0px solid #1B74C5;
   padding: 0.5rem 1rem;
   font-size: 1rem;
   transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
   border-radius: 3px;
   opacity: 100;
   border-radius: 25px;
   width: 130px;
   font-weight: 900;
}


.col-lg-6 {
-ms-flex: 0 0 50%;
flex: 0 0 50%;
max-width: 50%
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto
}

.col-lg-6 {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px
}

.content-right {
overflow-y: auto;
}

.flex-column {
-ms-flex-direction: column !important;
flex-direction: column !important
}

.row-height {
min-height: 38vh !important;
height: 38vh;
}


.no-gutters {
margin-right: 0;
margin-left: 0
}

.content-left-wrapper {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
height: 100%;
min-height: 100%;
padding: 0 90px;
color: #fff;
text-align: center;
position: relative;
}

.d-flex {
display: -ms-flexbox !important;
display: flex !important
}


.row {
display: flex;
flex-wrap: nowrap;
margin-right: -15px;
margin-left: -15px;
justify-content: center;
}

.p-inputgroup button {
color: #ffffff;
 background: #265589;
 border: 0px solid #1B74C5;
 padding: 0.5rem 1rem;
 font-size: 1rem;
 transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
 opacity: 100;
 width: 10px;
 font-weight: 900;
 margin: 5px;
 
}

.p-button-right{
 color: #ffffff;
  background: #265589;
  border: 0px solid #1B74C5;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  opacity: 100;
  width: 10px;
  font-weight: 900;
  margin: 5px;
  
}

.p-inputtext {
background: #dddddd;
}

::ng-deep .p-dropdown .p-dropdown-label {
background: #dddddd;
border: 0 none;
}


.p-button-agregar {
 color: #ffffff;
 background: #1ec51b;
 border: 0px solid #1B74C5;
 padding: 0.5rem 1rem;
 font-size: 1rem;
 transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
 border-radius: 3px;
 opacity: 100;
 border-radius: 25px;
 width: 250px;
 font-weight: 900;
 margin: auto;
}


::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
 border: solid #898989;
 border-width: 0 0 2px 0;
 border-color: transparent transparent #E4E5E5 transparent;
 background: #b8d8f9;
 color: #657380;
 padding: 1rem;
 /* font-weight: 600; */
 border-top-right-radius: 3px;
 border-top-left-radius: 3px;
 transition: box-shadow 0.2s;
 margin: 1px 1px 1px 0;
}

.margintabla {
      margin-top: 40px;
}

::ng-deep .p-fieldset .p-fieldset-legend {
   padding: 15px 45px;
   border: 1px solid #E4E5E5;
   color: #515C66;
   background: #d5d5d5;
   font-weight: 600;
   border-radius: 3px;
   margin: auto;
}

.formularioColum12_1 {
   margin-top: 50px;
}

.eligirPlan {
   background-color: #efefef;
    padding: 65px;
    border-radius: 25px;
}

.p-button-elegirplan {
   width: 290px;
    height: 45px;
    background: #4DA8DE;
}