<p-toolbar>
    <div class="logotipo">
        <div class="p-toolbar-group-center">
            <img id="app-logo"
            style="padding-right: 2%;" 
            src="assets/layout/images/logo-gestisol.png"
            alt="poseidon-layout">  
        </div>
    </div>
    
    <div class="p-toolbar-group-right p-toolbar-group-center-mobile">
        <button tooltipPosition="left" pTooltip="Volver" class="p-button-generico-azul" pButton type="button" label="Regresar"
            placeholder="Regresar" routerLink='/auth/login' icon="pi pi-arrow-circle-left">
        </button>
    </div>
</p-toolbar>



<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
    <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
</ngx-spinner>

<div class="tituloPage">
    <h2> <strong> Completa el formulario </strong></h2>
</div>

<div class="margintabla">
    <div class="contenidoTable"> 
        <div class="buscar-empresa">
            <div class="container">
                <form [formGroup]="Form" class="p-fieldset-form">

                    <p-fieldset>
                        <ng-template pTemplate="header">Datos requeridos marcados con (*)</ng-template>
                        <div class="formulario-campo-obligatorio formulario-registro-empresa">

                            <strong>Nombre Completo <span>*</span></strong>
                            <input type="text" pInputText formControlName="nombreapellidos"
                                class="p-inputtext-sm-registro-empresa" placeholder="Ingrese su nombre completo">

                            <strong>Correo electrónico<span>*</span></strong>
                            <input type="email" pInputText formControlName="email" class="p-inputtext-sm-registro-empresa"
                                placeholder="Ingrese un e-mail">

                            <strong>Alias <span>*</span> </strong>
                            <input type="text" pInputText formControlName="nombreusuario"
                                class="p-inputtext-sm-registro-empresa" placeholder="Ingrese un alias">

                            <strong>Contraseña<span>*</span></strong>
                            <span class="p-input-icon-right" style="width: 100%;">
                                <i toggle="#password-field" [class]="cambiarIconEye" (click)="viewPassword(clave)"> </i>
                                <input type="password" #passwordField pInputText placeholder="Contraseña"
                                    formControlName="contrasena" #clave class="p-inputtext-sm-registro-empresa">
                            </span>

                            <strong>Confirmar Contraseña<span>*</span> </strong>
                            <span class="p-input-icon-right" style="width: 100%;">
                                <i toggle="#password-field" [class]="cambiarIconEye2" (click)="viewPassword2(clave2)"> </i>
                                <input type="password" #passwordField2 pInputText placeholder="Confirmar contraseña"
                                    formControlName="RepetirPassword" #clave2 class="p-inputtext-sm-registro-empresa">
                            </span>
                        </div>
                    </p-fieldset>

                    <div class="botones">
                        <button class="p-button-registrar" pButton style="margin-right: 1%;" icon="pi pi-check-circle"
                            label="Registrarme" type="button" [disabled]="Form.invalid" (click)="onRegistrar()">
                        </button>
                        <button class="p-button-cancelar" pButton style="background-color: #D72250;"
                            icon="pi pi-arrow-circle-left" label="Cancelar" type="button" routerLink="/auth/login">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>