 
 <div *ngIf="!VistaNuevoCobranza">
 
<div class="margintabla"> 
    <div class="contenidoTable card-box"> 
        <form [formGroup]="FormBusqueda">
   
            <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
                <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
            </ngx-spinner>
 
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <h3> <i class="fas fa-hand-holding-dollar"></i> LISTA DE COBRANZAS</h3> 
                </div>
                
                <div class="p-toolbar-group-right">
                    <button 
                        pButton  
                        pTooltip="Agregar Nueva Cobranza" tooltipPosition="top"
                        type="button"
                        label="Agregar" 
                        class="p-button-registrar"
                        (click)="onNuevo()" 
                        icon="pi pi-plus">
                    </button>   
                </div>
            </p-toolbar>


            <div class="p-col-12"> 
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-5">
                        <strong>Fecha Inicio:</strong>
                        <p-calendar  
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaInicio"
                        ></p-calendar> 
                    </div> 

                    <div class="p-field p-col-12 p-md-5">
                        <strong>Fecha Fin:</strong>
                        <p-calendar  
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaFin"
                        ></p-calendar> 
                    </div> 

                    <div class="p-field p-col-12 p-md-2 botonBuscar"> 
                        <button pButton label="Buscar" type="button"  class="p-button-sm"  icon="pi pi-search" (click)="onLoadCobranzas(null)"></button>
                    </div> 
                </div> 
            </div> 
        </form>
         
    
        <p-table  
        [responsive]="true"
        [columns]="cols" 
        responsiveLayout="scroll"
        selectionMode="single"
        [rowHover]="true" 
        [showCurrentPageReport]="true" 
        [value]="listadoCobranzas">  

            <ng-template pTemplate="header" let-columns >
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }} 
                        <p-sortIcon *ngIf="col.field != 'acciones'"
                            [field]="col.field"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon> 
                    </th>
                </tr> 
            </ng-template>
            
            <ng-template pTemplate="body" let-cobranza let-columns="columns"  let-rowIndex="rowIndex"> 
                <tr [pSelectableRow]="cobranza" [pSelectableRowIndex]="rowIndex">
                    <td  *ngFor="let col of columns" >
                        <strong class="p-column-title">{{ col.header | uppercase}}</strong> 
 
                        <div [ngSwitch]="col.field">    
                            <div *ngSwitchCase="'fechaRegistro'">
                                {{ cobranza[col.field] | date: col.formatoFecha }}
                            </div> 
                            <div *ngSwitchCase="'fechaCobranza'">
                                {{ cobranza[col.field] | date: col.formatoFecha }}
                            </div>
                            <div *ngSwitchDefault>
                                {{ cobranza[col.field]  }}
                            </div>
                        </div>  


                        <ng-template #botones [ngIf]="col.field === 'acciones'">
                            <div style="display: flex;">
                                <button 
                                    pButton
                                    type="button" 
                                    tooltipPosition="top" 
                                    pTooltip="Editar" 
                                    (click)="onEditar(cobranza)"
                                    style="margin-right :2%;" 
                                    icon="pi pi-pencil">
                                </button>     
                                <button 
                                    pButton
                                    type="button" 
                                    tooltipPosition="top" 
                                    style=" background-color: #D72250;"
                                    (click)="onModalEliminar(cobranza)"
                                    pTooltip="Eliminar"  
                                    icon="pi pi-trash">
                                </button>        
                            </div>  
                        </ng-template>
 
                    </td>
                </tr>
            </ng-template> 
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">No existen registros</td>
                </tr>
            </ng-template>   
        </p-table>  
        <p-paginator [rows]="10"  [showCurrentPageReport]="true" [currentPageReportTemplate]="textoPaginado"  [rowsPerPageOptions]="[10,20,30]" (onPageChange)="onLoadCobranzas($event)"></p-paginator>
    </div> 
</div>  
 
</div>


  
<app-nueva-cobranza *ngIf="VistaNuevoCobranza" [dataCobranza]="dataCobranza" (cerrar)="onRetornar($event)"  ></app-nueva-cobranza> 
