
<app-titulos  (cerrar)="onRegresar()" ></app-titulos>
    
<div> 
  <div class="tituloPage">
      <h2> <strong>  Roles de empresas</strong></h2> 
  </div>

  <div class="Margintabla">
    <div class="card ">
      <div class="titulo d-flex flex-wrap">
        <div class="px-2">
            <span class="p-input-icon-left">
              <h4> Agregar nuevo rol: </h4> 
            </span> 
        </div>
        <div class="d-block">
          <button 
            (click)="onModalAgregarRol()"
            pButton icon="pi pi-plus"
            pTooltip="Agregar Rol"
            label="Agregar"
            type="button"
            tooltipPosition="right"
            class="p-button-sm mx-1">
          </button>  
        </div>
      </div>
   <hr>
      <div class="contenidoRoles">
        <div class="centrar"> 
          <h3> Roles </h3>
            <div *ngFor="let rol of ListadeRoles" class="BotonesRoles" >
              <button 
                (click)="onVerMenuRol(rol.rolid)"
                style="width: 100%; margin: 2%;"
                label="{{rol.nombre | uppercase}}" 
                type="button"
                pButton>
              </button> 
              <button 
                style="margin: 2%; background-color: #D72250;"
                (click)="onModaleliminarRol(rol)"
                pButton icon="pi pi-trash"
                pTooltip="Elimniar Rol"
                type="button"
                tooltipPosition="right">
              </button> 
          </div> 
        </div>

        <div>
          <div  *ngIf="!dataTreeSelect" style="padding-top:4%;text-align: center;" >
            <span > Selecciona un Rol para ver los permisos </span>
          </div>

          <div *ngIf="dataTreeSelect" >  
              <h3>Permisos</h3>  

                 <p-treeTable 
                  [value]="dataTreeSelect" 
                  [columns]="cols"  
                  (onNodeSelect)="onActivePermiso($event)"  
                  (onNodeUnselect)="onDesactivePermiso($event)"  
                  selectionMode="checkbox"
                  [(selection)]="opcionesSeleccionadas"> 
 
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns">
                        {{ col.header }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <tr>
                      <td *ngFor="let col of columns; let i = index"> 
                        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                        <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>  
                        {{ rowData[col.field] }}
                      </td>
                    </tr>
                  </ng-template>
                </p-treeTable>  


            
          </div>
        </div>
      </div>
  
    </div> 
  </div>
          

  <div class="centrar">
    <!-- modal agregar rol --> 
 
    <p-dialog header="Agregar Rol" [(visible)]="modalAgregarRol" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '60vw', header : '50vh'}"  >  
      <div class="Margintabla" >
          
          <form [formGroup]="Rolform">  
              <div class="centrar">
                <strong> Nombre del Rol :</strong>
              </div>
              <div class="p-inputgroup my-2 ">
                <input type="text" pInputText formControlName="Rol" placeholder="Escribe el nombre del Rol" class="p-inputtext-sm">   
              </div>
              <span *ngIf="onValidateForm('Rol')">El campo es requerido </span>
             
          </form> 
          <div class="botones">
            <button 
              [disabled]="Rolform.invalid"
              pButton (click)="onGrabarNuevorol()"  
              label="Guardar"
              style="margin-right: 1%;"
              class="p-button-sm p-button-rounded m-2"
              icon="pi pi-plus-circle">
            </button> 
            <button 
              pButton 
              (click)="modalAgregarRol=false"
              label="cancelar" 
              style=" background-color: #D72250;"
              class="p-button-sm p-button-rounded m-2"
              icon="pi pi-times-circle">
          </button>  
          </div> 
      </div> 

    </p-dialog> 
    
</div>