<div class="Margintabla">
    <div class="card">  
        <div class="p-col-12"> 
            <div class="p-fluid p-formgrid p-grid">  
                <div class="p-field p-col-12 p-md-9">
                    <strong >Buscar por Nombre o Nro Documento:</strong>
                    <input type="text" placeholder="ingresa un nombre de producto" (keydown.enter)="onBuscarProductos()" class="p-inputtext-sm" [formControl]="criterio" pInputText>  
                </div>

                <div class="p-field p-col-12 p-md-3 botonBuscar">
                    <button pButton label="Buscar" icon="pi pi-search" class="p-button-sm" (click)="onBuscarProductos()"></button>
                </div> 
            </div>
        </div> 
        
        <p-panel 
            header="Filtros Adicionales"
            [toggleable]="true"
            [collapsed]="false" 
            class="panel" >
            <section>
                <div class="p-col-12"> 
                    <div class="p-fluid p-formgrid p-grid">   
                        <div class="p-field p-col-12 p-md-4">
                            <strong>Solo Servicio:  <p-inputSwitch  [formControl]="soloServicio" ></p-inputSwitch>  </strong>
                        </div>
                    </div> 
                </div> 
            </section>  
        </p-panel> 
        <hr>
        <br>
 

        <!-- <p-table   
        class="TablaProductos"
        [columns]="cols"  
        [scrollable]="true" 
        responsiveLayout="stack" 
        selectionMode="single"
        [rowHover]="true"
        [paginator]="true" 
        [rows]="10" 
        (onRowSelect)="onSeleccionarProducto($event)"   
        [value]="listaProductos">  

            <ng-template pTemplate="header" let-columns >
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      
                        <div [ngSwitch]="col.field">   
                            <div style="width: 100px;" *ngSwitchCase="'codProducto'">
                                {{ col.header }} 
                            </div>   
                            <div style="width: 220px;" *ngSwitchCase="'nombreProducto'">
                                {{ col.header }} 
                            </div>   
                            <div style="width: 80px;" *ngSwitchCase="'stockUnidades'">
                                {{ col.header }} 
                           </div>   
                           <div style="width: 75px;" *ngSwitchCase="'stockFinal'">
                                {{ col.header }} 
                            </div>  
                            <div style="width: 70px;" *ngSwitchCase="'lote'">
                                {{ col.header }} 
                            </div>  
                            <div style="width: 70px;" *ngSwitchCase="'serie'">
                                {{ col.header }} 
                            </div>   
                            <div style="width: 100px;" *ngSwitchCase="'linea'">
                                {{ col.header }} 
                            </div>   
                            <div style="width: 100px;" *ngSwitchCase="'marca'">
                                {{ col.header }} 
                            </div>   
                            <div style="width: 100px;" *ngSwitchCase="'unidadMedida'">
                                 {{ col.header }} 
                            </div>   
                            <div style="width: 100px;" *ngSwitchCase="'precioDefault'">
                                 {{ col.header }} 
                            </div> 
                            <div style="width: 100px;" *ngSwitchCase="'precioIncluyeIgv'">
                                 {{ col.header }} 
                            </div> 
                            <div style="width: 100px;" *ngSwitchCase="'monedaPrecioId'">
                                 {{ col.header }} 
                            </div>   
                            <div *ngSwitchDefault>
                                {{ col.header }} 
                            </div>
                        </div>   
  
                        <p-sortIcon *ngIf="col.field != 'acciones'"
                            [field]="col.field"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon> 
                    </th>
                </tr> 
            </ng-template>
            
            <ng-template pTemplate="body" let-anexos let-columns="columns"  let-rowIndex="rowIndex"> 
                <tr [pSelectableRow]="anexos" [pSelectableRowIndex]="rowIndex">
                    <td  *ngFor="let col of columns">
                        <strong class="p-column-title">{{ col.header | uppercase}}</strong>   
                        <div [ngSwitch]="col.field">  
                            <div class="centrar" *ngSwitchCase="'precioIncluyeIgv'">
                                <div *ngIf="anexos[col.field] === false">
                                    <i class="fas fa-square"></i>  
                                </div> 
                                <div *ngIf="anexos[col.field] != false">
                                    <i class="fas fa-check-square"></i>  
                                </div>
                            </div>   
                            <div style="width: 150px;" *ngSwitchCase="'codProducto'">
                                {{ anexos[col.field]  }}
                            </div>   
                            <div style="width: 250px;" *ngSwitchCase="'nombreProducto'">
                                {{ anexos[col.field]  }}
                            </div>   
                            <div style="width: 100px;" *ngSwitchCase="'stockUnidades'">
                                {{ anexos[col.field]  }}
                            </div>   
                            <div style="width: 100px;" *ngSwitchCase="'stockFinal'">
                                {{ anexos[col.field]  }}
                            </div>   
                            <div style="width: 100px;" *ngSwitchCase="'unidadMedida'">
                                {{ anexos[col.field]  }}
                            </div>   
                            <div style="width: 100px;" *ngSwitchCase="'precioDefault'">
                                {{ anexos[col.field]  }}
                            </div> 
                            <div style="width: 100px;" *ngSwitchCase="'precioIncluyeIgv'">
                                {{ anexos[col.field]  }}
                            </div> 
                            <div style="width: 100px;" *ngSwitchCase="'monedaPrecioId'">
                                {{ anexos[col.field]  }}
                            </div>   
                            <div *ngSwitchDefault>
                                {{ anexos[col.field]  }}
                            </div>
                        </div>  


                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">No existen registros</td>
                </tr>
                </ng-template> 
        </p-table>  -->
    
    
            <p-table 
            [value]="listaProductos" 
            [scrollable]="true" 
            responsiveLayout="stack" 
            selectionMode="single"
            [rowHover]="true"
            [paginator]="true" 
            [rows]="10" 
            (onRowSelect)="onSeleccionarProducto($event)"     
            class="TablaProductos">  
             

                <ng-template pTemplate="header">
                    <tr>
                        <th  pSortableColumn="codProducto" style="width: 100px" >Codigo <p-sortIcon field="codProducto"></p-sortIcon></th>
                        <th  pSortableColumn="nombreProducto" style="width: 250px" >Nombre <p-sortIcon field="nombreProducto"></p-sortIcon></th>
                        <th  pSortableColumn="stockUnidades" style="width: 80px" >Stock <p-sortIcon field="stockUnidades"></p-sortIcon></th>
                        <th  style="width: 80px" >Stock Final</th>
                        <th  pSortableColumn="lote" style="width: 80px" >Lote <p-sortIcon field="lote"></p-sortIcon></th>
                        <th  pSortableColumn="serie" style="width: 80px" >Serie <p-sortIcon field="serie"></p-sortIcon></th>
                        <th style="width: 120px" >Linea</th>
                        <th pSortableColumn="marca" style="width: 100px" >Marca <p-sortIcon field="marca"></p-sortIcon></th>
                        <th pSortableColumn="unidadMedida" style="width: 150px">Unidad Medida <p-sortIcon field="unidadMedida"></p-sortIcon></th>
                        <th pSortableColumn="precioDefault" style="width: 80px">Precio <p-sortIcon field="precioDefault"></p-sortIcon></th>
                        <th pSortableColumn="precioIncluyeIgv"style="width: 80px">Incluye Igv <p-sortIcon field="precioIncluyeIgv"></p-sortIcon></th>
                        <th style="width: 80px">Precio Id</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product">
                        <td style="width: 100px" >{{product.codProducto}}</td>
                        <td style="width: 250px" >{{product.nombreProducto}}</td>
                        <td style="width: 80px; justify-content: center;" >{{product.stockUnidades}}</td>
                        <td style="width: 80px; justify-content: center;" >{{product.stockFinal}}</td>
                        <td style="width: 80px; justify-content: center;" >{{product.lote}}</td>
                        <td style="width: 80px; justify-content: center;" >{{product.serie}}</td>
                        <td style="width: 120px" >{{product.linea}}</td>
                        <td style="width: 100px" >{{product.marca}}</td>
                        <td style="width: 150px; justify-content: center;" >{{product.unidadMedida}}</td>
                        <td style="width: 80px; justify-content: center;" >{{product.precioDefault}}</td>
                        <td style="width: 80px; justify-content: center;" ><p-inputSwitch disabled [(ngModel)]="product.precioIncluyeIgv"></p-inputSwitch> </td>
                        <td style="width: 80px; justify-content: center;" >{{product.monedaPrecioId}}</td>
                    </tr>
                </ng-template>
            </p-table> 

    </div> 
</div>  
 
