
<div class="margintabla"> 
    <div class="contenidoTable card-box">  

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
        </ngx-spinner>
 
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h3> <i class="fas fa-cart-plus"></i>  {{ tituloNuevaCompra}} </h3>  
            </div>
            
            <div class="p-toolbar-group-right">
                <button  
                    class="p-button-sm"
                    pButton
                    type="button"
                    style="margin-right: 1%;"
                    [disabled]="Form.invalid" 
                    [label]=" (!CompraEditar) ? 'Grabar' : 'Actualizar'"
                    (click)="onGrabar()"
                    icon="pi pi-check-circle">  
                </button>   
                <button   
                    class="p-button-sm"
                    pButton
                    type="button"
                    icon="pi pi-times-circle"
                    label="Cancelar" 
                    style=" background-color: #D72250;"
                    (click)="onRegresar()">  
                </button>  
            </div>
        </p-toolbar>



        <div *ngIf="existenroRegsitro"  class="centrar">   
            <h3> N° REGISTRO:  <strong> {{CompraEditar.nroRegistro}} </strong></h3>    
        </div>

        <!-- CABECERA FORMULARIO -->
        <form [formGroup]="Form">  
            <div class="p-col-12"> 
                <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col-12 p-md-3">
                        <strong>Establecimiento *:</strong>
                        <p-dropdown class="DropExtenso" (onChange)="onObtenerEstablecimiento($event.value.id)" [options]="arrayEstablecimiento" formControlName="establecimientoid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                    </div> 

                    <div class="p-field p-col-12 p-md-9">
                        <strong>Tipo Documento *:</strong>  
                        <div class="InputCombinado">  
                            <p-dropdown class="DropExtenso" [disabled]="!existeEstablecimientoSeleccionado" (onChange)="onObtenerTipoDocumento($event.value)" [options]="arrayTipoDocumento" formControlName="documentoid"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor2"></p-dropdown>
                            <input type="text" pInputText  class="p-inputtext-sm"  formControlName="serieventa"   placeholder="ingresar">   
                            <input type="number" pInputText  class="p-inputtext-sm"  formControlName="secuencialventa"   placeholder="ingresar">   
                        </div>
                    </div> 
                    
                    <div class="p-field p-col-12 p-md-12">
                        <strong>Proveedor</strong>  
                        <div class="InputCombinado2">  
                            <input type="text" (keydown.enter)="onObtenerPersonaPorNroDocumentoVenta($event)" [minlength]="8" [maxLength]="11" formControlName="nrodocumentocliente" pInputText  class="p-inputtext-sm" placeholder="busca un proveedor">   
                            <input type="text" readonly  formControlName="nombrecliente" pInputText  class="p-inputtext-sm" placeholder="busca un proveedor">   
                            <button type="button" class="p-button-sm" pTooltip="Buscar" tooltipPosition="left" (click)="onBuscarProveedor();" pButton  icon="pi pi-search"></button>      
                            <button [disabled]="!existeProveedorSeleccionado" type="button"  style=" background-color: #D72250;" class="p-button-sm" pTooltip="Buscar" tooltipPosition="left" (click)="onBorrarProveedor();" pButton  icon="pi pi-trash"></button>    
                        </div>
                    </div>

                    <div *ngIf="existeDireccionCliente" class="p-field p-col-12 p-md-12">
                        <strong>Dirección Cliente</strong>   
                        <input type="text" readonly  formControlName="direccincliente" pInputText  class="p-inputtext-sm" placeholder="ingresa dirección del cliente">    
                    </div>

                    <div class="p-field p-col-12 p-md-3  p-sm-6">
                        <strong>Fecha Emisión *:</strong>
                        <p-calendar  
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                             (onSelect)="onCalculardiasVencimiento()"
                            formControlName="fechaemision"
                        ></p-calendar> 
                    </div> 

                    <div class="p-field p-col-12 p-md-3  p-sm-6">
                        <strong>Fecha Vencimiento *:</strong>
                        <p-calendar  
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                             (onSelect)="onCalculardiasVencimiento()"
                            formControlName="fechavencimiento"
                        ></p-calendar> 
                    </div> 

                    <div class="p-field p-col-12 p-md-3  p-sm-6">
                        <strong>Moneda *:</strong>
                        <p-dropdown class="DropExtenso" [options]="arrayMonedas" formControlName="monedaid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                    </div>
    
                    <div class="p-field p-col-12 p-md-3  p-sm-6">
                        <strong>Tipo Cambio:</strong>
                        <input  type="number" pInputText  formControlName="tipocambio" class="p-inputtext-sm" placeholder="0.00">     
                    </div>
    
                    <div class="p-field p-col-12 p-md-3  p-sm-6">
                        <strong>Condición Pago:</strong> 
                        <div class="p-inputgroup">  
                            <p-dropdown  class="extender"  [options]="arrayCondicionPago" formControlName="condicionpagoid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>      
                        </div>   
                    </div>
                    
                    <div class="p-field p-col-12 p-md-3 p-sm-6">
                        <strong>Días Vencimiento *:</strong>
                        <input  type="number" pInputText (keyup)="onCalcularfechaVencimiento($event)" formControlName="diasvencimiento" class="p-inputtext-sm" placeholder="0">     
                    </div>


                    <div class="p-field p-col-12 p-md-3 p-sm-6">
                        <strong>Concepto</strong>
                        <p-dropdown class="DropExtenso" [options]="arrayCoceptos" formControlName="conceptocontableid"
                            placeholder="Selecciona " [showClear]="true" optionLabel="valor1"></p-dropdown>
                    </div>

                    <div class="p-field p-col-12 p-md-3  p-sm-6">
                        <strong>Estado:</strong>
                        <p-dropdown class="DropExtenso" [options]="arrayEstado" formControlName="estadoid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="nombre"></p-dropdown>     
                    </div> 


                    <div class="p-field p-col-12 ">
                        <strong>Glosa:</strong>
                        <input  type="text" pInputText  formControlName="glosa" class="p-inputtext-sm" placeholder="ingresar una glosa">     
                    </div>   

                </div> 
            </div> 
            
            <br>
 
            <br> 
            <!-- TABS FORM -->
            <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
            
                <!-- FORM ARRAY DEL DETALLE DE LA VENTA-->
                <div *ngIf="DetalleForm" >
                    <div>
                       <br>
                        <button pButton pRipple type="button" label="Agregar detalle Compra" class="p-button-rounded"  icon="pi pi-plus"  (click)="onAgregarDetalleCompra()"></button>

                        <div style="margin: 3%;">
                            <p-table   
                                class="TablaDetalle"
                                [value]="detallesCompraForm"
                                [scrollable]="true" 
                                responsiveLayout="stack" >  
                                <ng-template pTemplate="header">
                                    <tr class="centrar"> 
                                        <th style="width: 50px;">Acción</th>
                                        <th *ngIf="mostrarCamposAnticipo" style="width: 75px;">Anticipo</th>   <!-- ANTICIPO -->
                                        <th *ngIf="mostrarCamposAnticipo" style="width: 120px;">Doc. Anticipo</th>   <!-- DOC ANTICIPO -->
                                        <th style="width: 150px;">Almacén</th>
                                        <th style="width: 120px;">Cod Producto</th> 
                                        <th style="width: 180px;">Producto/Servicio</th> 
                                        <th style="width: 140px;">Und Medida</th> 
                                        <th style="width: 135px;">Destino</th> 
                                        <th style="width: 75px;">P.Inc.Igv</th> 
                                        <th style="width: 100px;">Cantidad</th> 
                                        <th style="width: 90px;">Precio.U</th> 
                                        <th style="width: 100px;">Base.Impon</th> 
                                        <th style="width: 90px;">% Dscto</th> 
                                        <th style="width: 100px;">Imp.Dscto</th> 
                                        <th style="width: 155px;">Observaciones</th> 
                                        <th style="width: 110px;">Valor Venta</th> 
                                        <th style="width: 75px;">IGV</th> 
                                        <th style="width: 110px;">Imp.Otros.C</th> 
                                        <th style="width: 90px;">ICBPER</th> 
                                        <th style="width: 100px;">Precio.V</th> 
                                        <th style="width: 90px;">N.Lote</th> 
                                        <th style="width: 90px;">N.Serie</th> 
                                        <th style="width: 150px;">F.Vencimiento</th> 
                                        <th style="width: 90px;">Detrac. S/.</th> 
                                        <th style="width: 90px;">Detrac. US$</th> 
                                        <th style="width: 100px;">Nro.Cuenta</th> 
                                    </tr>
                                </ng-template> 
                    
                                <ng-template pTemplate="body" let-detallesCompra  let-rowIndex="rowIndex" formArrayName="arrayDetalleCompra"> 
                                    <tr [formGroupName]="rowIndex"> 
                                        <td>
                                            <button  
                                                class="p-button-sm p-button-rounded mx-2"
                                                pButton 
                                                type="button"
                                                style=" background-color: #D72250;"
                                                (click)="onEliminarDetalleCompra(rowIndex, detallesCompra.value.compradetalleid)"
                                                icon="pi pi-trash">  
                                            </button>
                                        </td>
                                        <td *ngIf="mostrarCamposAnticipo" style="justify-content: center;">
                                            <strong class="p-column-title">Anticipo<</strong>
                                            <p-inputSwitch (click)="onCalcularPrecioCompra(rowIndex)"  formControlName="esanticipo"></p-inputSwitch>
                                        </td>  
                                        <td *ngIf="mostrarCamposAnticipo">
                                            <strong class="p-column-title">Doc. Anticipo</strong> 
                                            <input type="text" style="width: 80px;"  class="p-inputtext-sm" readonly pInputText formControlName="codigoAnticipo">   
                                            <button type="button" (click)="onModalBuscaAnticipo(rowIndex, detallesCompra.value)" pTooltip="Buscar" tooltipPosition="left" pButton icon="pi pi-search" class="p-button-sm"></button>      
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">Almacén</strong>
                                            <p-dropdown class="extender"  appendTo="body"  [options]="arrayAlmacen" formControlName="almacenid"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor1"></p-dropdown> 
                                        </td>                      
                                        <td>
                                            <strong class="p-column-title">Cod.Producto</strong> 
                                            <input type="text" style="width: 80px;"  class="p-inputtext-sm"
                                            (keydown.Tab)="onBuscarProductoPorCodigo(rowIndex)"
                                             (keydown.enter)="onBuscarProductoPorCodigo(rowIndex)" 
                                              pInputText formControlName="codproductofinal">   
                                            <button type="button" (click)="onModalBuscarProducto(rowIndex)" pTooltip="Buscar" tooltipPosition="left" pButton icon="pi pi-search" class="p-button-sm"></button>      
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">Producto/Servicio</strong>
                                            <input type="text"  style="width: 150px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="descripcionproducto">  
                                        </td>  
                                        <td>
                                            <strong class="p-column-title">Und Medida</strong>
                                            <p-dropdown class="extender"  appendTo="body"  [options]="arrayUnidadMedida" formControlName="unidadmedidaid"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor1"></p-dropdown> 
                                        </td>  
                                        <td>
                                            <strong class="p-column-title">Destino</strong>
                                            <p-dropdown class="extender" (onChange)="onObtenerDestino(rowIndex, detallesCompra.value.tipoafectacionid)" appendTo="body"  [options]="arrayDestino" formControlName="tipoafectacionid"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor1"></p-dropdown> 
                                        </td>  
                                        <td style="justify-content: center;">
                                            <strong class="p-column-title">P.Inc.Igv<</strong>
                                            <p-inputSwitch (click)="onCalcularPrecioCompra(rowIndex)"  formControlName="precioincluyeigv"></p-inputSwitch>
                                        </td>  
                                        <td>
                                            <strong class="p-column-title">Cantidad</strong>
                                            <input type="number" style="width: 80px;" (keydown.enter)="onCalcularPrecioCompra(rowIndex)" (keydown.Tab)="onCalcularPrecioCompra(rowIndex)"  class="p-inputtext-sm" pInputText formControlName="cantidad">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">PrecioU</strong>
                                            <input type="number" style="width: 80px;" (keydown.enter)="onCalcularPrecioCompra(rowIndex)" (keydown.Tab)="onCalcularPrecioCompra(rowIndex)" class="p-inputtext-sm" pInputText formControlName="preciounitario">  
                                        </td>   
                                        <td>
                                            <strong class="p-column-title">Base Impon,</strong>
                                            <input type="number" style="width: 80px;"  readonly class="p-inputtext-sm" pInputText formControlName="baseimponible">  
                                        </td>  
                                        <td>
                                            <strong class="p-column-title">% Dcsto</strong>
                                            <input type="number" style="width: 80px;" (keydown.enter)="onCalcularPrecioCompra(rowIndex)" (keydown.Tab)="onCalcularPrecioCompra(rowIndex)"  class="p-inputtext-sm" pInputText formControlName="porcentajedescuento">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">Imp.Dcsto</strong>
                                            <input type="number" style="width: 80px;" readonly class="p-inputtext-sm" pInputText formControlName="importedescuento">  
                                        </td>  
                                        <td>
                                            <strong class="p-column-title">Observaciones</strong>
                                            <input type="text" style="width: 150px;" [minlength]="0" class="p-inputtext-sm" pInputText formControlName="observaciones">  
                                        </td>  
                                        <td>
                                            <strong class="p-column-title">Valor Venta</strong>
                                            <input type="number" style="width: 80px;" [value]="detallesCompraForm[rowIndex].get('valorventa').value | number:'0.2-2'"   readonly class="p-inputtext-sm" pInputText formControlName="valorventa">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">IGV</strong>
                                            <input type="number" style="width: 80px;" [value]="detallesCompraForm[rowIndex].get('igv').value | number:'0.2-2'"  readonly class="p-inputtext-sm" pInputText formControlName="igv">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">Imp.Otros.C</strong>
                                            <input type="number" style="width: 80px;" (keydown.enter)="onCalcularPrecioCompra(rowIndex)" (keydown.Tab)="onCalcularPrecioCompra(rowIndex)"    class="p-inputtext-sm" pInputText formControlName="importeotroscargos">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">ICBPER</strong>
                                            <input type="number" style="width: 80px;" readonly class="p-inputtext-sm" pInputText formControlName="importeicbper">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">PrecioV</strong>
                                            <input type="number" style="width: 80px;" readonly [min]="0" class="p-inputtext-sm" pInputText formControlName="precioventa">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">NroLote</strong>
                                            <input type="number" style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="nrolote">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">NroSerie</strong>
                                            <input type="number" style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="nroserie">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">F.Vencimiento</strong>
                                            <p-calendar  
                                                appendTo="body" 
                                                readonlyInput="true"
                                                [showIcon]="true"
                                                dateFormat="dd/mm/yy"
                                                formControlName="fechavencimiento"
                                            ></p-calendar>  
                                        </td>  
                                        <td>
                                            <strong class="p-column-title">Detraccion S/.</strong>
                                            <input type="number" style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="valordetraccionmn">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">Detraccion US$</strong>
                                            <input type="number" style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="valordetraccionme">  
                                        </td> 
                                         <td>
                                            <strong class="p-column-title">Nro.Cuenta</strong>
                                            <input type="number" style="width: 90px;" class="p-inputtext-sm" pInputText formControlName="nrocuenta">  
                                        </td> 
                                    </tr>
                                </ng-template> 
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <span>  No existen registros </span> 
                                    </tr>
                                </ng-template> 
                        
                            </p-table>  
                        </div>
                    </div> 
                </div>
                <!-- FIN DETALLE DE LA VENTA-->
 
                <!-- FORM ARRAY DEL DETALLE GUIA REMISION-->
                <div *ngIf="GuiaRemisionForm" >
                    <div>
                        
                        <div style="margin: 3%;">
                            <p-table   
                                class="TablaDetalle"
                                [value]="detallesGuiaRemision"
                                [scrollable]="true" 
                                responsiveLayout="stack" >  
                                <ng-template pTemplate="header">
                                    <tr> 
                                        <th style="width: 50px;">Acción</th>
                                        <th style="width: 140px;">Compra Doc Ref</th> 
                                        <th style="width: 80px;">Compra</th> 
                                        <th style="width: 100px;">Proveedor</th> 
                                        <th style="width: 100px;">Documento</th> 
                                        <th style="width: 100px;">Serie Guía</th>
                                        <th style="width: 100px;">Nro Guía</th> 
                                    </tr>
                                </ng-template> 
                    
                                <ng-template pTemplate="body" let-detallesGuiaRemision  let-rowIndex="rowIndex" formArrayName="arrayDetalleGuiaRemision"> 
                                    <tr [formGroupName]="rowIndex"> 
                                        <td>
                                            <button  
                                                class="p-button-sm p-button-rounded mx-2"
                                                pButton 
                                                type="button"
                                                style=" background-color: #D72250;"
                                                (click)="onEliminarDetalleGuiaRemision(rowIndex, detallesGuiaRemision.value.compradocumentosreferenciaid)"
                                                icon="pi pi-trash">  
                                            </button>
                                        </td>
                                        <td>
                                            <strong class="p-column-title">Compra Doc Ref</strong>
                                            <input type="text" style="width: 130px;"  [min]="0" class="p-inputtext-sm" pInputText formControlName="compradocumentosreferenciaid">  
                                        </td>
                                        <td>
                                            <strong class="p-column-title">Compra</strong>
                                            <input type="text" [min]="0" style="width: 70px;" class="p-inputtext-sm" pInputText formControlName="compraid">  
                                        </td>
                                        <td>
                                            <strong class="p-column-title">Proveedor</strong>
                                            <input type="text" [min]="0" style="width: 80px;" class="p-inputtext-sm" pInputText formControlName="idproveedor">  
                                        </td>
                                        <td>
                                            <strong class="p-column-title">Documento</strong>
                                            <input type="text" [min]="0" style="width: 90px;" class="p-inputtext-sm" pInputText formControlName="documentoid">  
                                        </td>
                                        <td>
                                            <strong class="p-column-title">Serie Guía</strong>
                                            <input type="text" [min]="0" style="width: 85px;" class="p-inputtext-sm" pInputText formControlName="serieguia">  
                                        </td>
                                        <td>
                                            <strong class="p-column-title">Nro Guía</strong>
                                            <input type="number" [min]="0" style="width: 85px;" class="p-inputtext-sm" pInputText formControlName="nroguia">  
                                        </td>  
                                
                                    
                                    </tr>
                                </ng-template> 
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <span>  No existen registros </span> 
                                    </tr>
                                </ng-template> 
                            </p-table>  
                            <br>

                            <div class="BotonCondiciondePago">   
                                <button type="button" label="Agregar detalle guia remision" pTooltip="Agregar"  class="p-button-sm" (click)="onAgregarDetalleGuiaRemision()" tooltipPosition="left" pButton  icon="pi pi-plus"></button>                                 
                            </div> 
                        </div>
                    </div> 
                    <hr>
                    
                </div>
                 
                 <!-- FORM ARRAY DEL DETALLE DOCUMENTO REFERENCIA-->
                <div *ngIf="DocReferenciaForm" >
                    <div>      
                        <div style="margin: 3%;">
                            <div class="formulario">
                                <strong>Motivo Nota:</strong>  
                                <p-dropdown class="extender" [options]="arrayMotivoNota" formControlName="motivonotaid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>    
                            </div> 
                            <br>

                            <p-table   
                                class="TablaDetalle"
                                [value]="detallesDocumentoRef"
                                [scrollable]="true" 
                                responsiveLayout="stack" >  
                                <ng-template pTemplate="header">
                                    <tr> 
                                        <th style="width: 50px;">Acción</th>
                                        <th style="width: 95px;">Proveedor Id</th> 
                                        <th style="width: 140px;">T. Documento</th>
                                        <th style="width: 95px;">Serie</th> 
                                        <th style="width: 100px;">Correlativo</th> 
                                        <th style="width: 140px;">Fec.Referencia</th> 
                                        <th style="width: 50px;">Amarrar</th>
                                    </tr>
                                </ng-template> 
                    
                                <ng-template pTemplate="body" let-detallesDocumentoRef  let-rowIndex="rowIndex" formArrayName="arrayDetalleDocumentoRef"> 
                                    <tr [formGroupName]="rowIndex">  
                                        <td> 
                                            <button  
                                                class="p-button-sm p-button-rounded"
                                                pButton 
                                                type="button"
                                                style=" background-color: #D72250;"
                                                (click)="onEliminarDetalleDocumentoRef(rowIndex, detallesDocumentoRef.value.compradocumentosreferenciaid)"
                                                icon="pi pi-trash">  
                                            </button> 
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">Proveedor Id</strong>
                                            <input type="text"  style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="idproveedor">  
                                        </td> 
                                        <td>
                                            <strong class="p-column-title">T. Documento</strong>
                                            <p-dropdown class="extender" appendTo="body" [options]="arrayTipoDocumento" formControlName="documentoid"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor2"></p-dropdown> 
                                        </td>
                                        <td>
                                            <strong class="p-column-title">Serie</strong>
                                            <input type="text"  style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="serieguia">  
                                        </td>  
                                        <td>
                                            <strong class="p-column-title">Correlativo</strong>
                                            <input type="number"  style="width: 80px;" [min]="0" class="p-inputtext-sm" pInputText formControlName="nroguia">  
                                        </td>  
                                        <td>
                                            <strong class="p-column-title">Fec.Referencia</strong>
                                            <p-calendar  
                                                appendTo="body"
                                                readonlyInput="true"
                                                [showIcon]="true"
                                                dateFormat="dd/mm/yy"
                                                formControlName="fechadocref"
                                            ></p-calendar> 
                                        </td>  
                                        <td>  
                                            <button  
                                                class="p-button-sm p-button-rounded"
                                                pButton 
                                                type="button"
                                                (click)="onReferenciarDetalleDocumentoRef(rowIndex)"
                                                icon="fas fa-sync">   
                                            </button> 
                                        </td>
                                    
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <span>  No existen registros </span> 
                                    </tr>
                                </ng-template> 
                        
                            </p-table>  
                        </div>
                        <br>
                        <div class="BotonCondiciondePago">   
                            <button type="button" label="Agregar detalle documento referencia" pTooltip="Agregar"  class="p-button-sm" (click)="onAgregarDetalleDocumentoRef()" tooltipPosition="left" pButton  icon="pi pi-plus"></button>                                 
                        </div> 

                        <hr>
                    </div> 
                </div>

                <!-- FORM ARRAY DEL OTROS-->
                <div *ngIf="OtrosForm" >
                    <br>
                    <p-fieldset>
                        <ng-template pTemplate="header">Descuento Global</ng-template> 

                        <div class="formulario">
                            <strong>Descuento Global:</strong>
                            <div class="p-inputgroup">  
                                <input  type="number" (keyup)="onConvertiraPorcentaje()" pInputText formControlName="dsctoglobalrporcentaje" class="p-inputtext-sm" placeholder="0">     
                                <button class="p-button-sm" pButton  type="button"label="% Porcentaje" (click)="onConvertiraPorcentaje()"> </button>    
                            </div> 
                        </div> 

                    </p-fieldset>
                    <br>
                    <p-fieldset>
                        <ng-template pTemplate="header">Detracción</ng-template> 
                        <div class="p-col-12"> 
                            <div class="p-fluid p-formgrid p-grid">

                                <div class="p-field p-col-12 p-md-12"> 
                                    <div class="formulario">  
                                        <strong>Compra afecta detracción:</strong>
                                        <p-inputSwitch (click)="onHabilitarCamposDetraccion()" formControlName="esafectodetraccion"></p-inputSwitch> 
                                    </div>
                                </div>

                                <div *ngIf="mostrarCamposDetraccion" class="p-field p-col-12 p-md-5"> 
                                    <strong>Código Detracción:</strong> 
                                    <p-dropdown class="extender"  appendTo="body" [options]="arrayCodigoDetraccion" formControlName="codigodetraccion"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor1"></p-dropdown> 
                                </div> 

                                <div *ngIf="mostrarCamposDetraccion" class="p-field p-col-12 p-md-3">  
                                    <strong>Fecha Detracción:</strong>
                                    <p-calendar   
                                        readonlyInput="true"
                                        [showIcon]="true"
                                        dateFormat="dd/mm/yy"
                                        formControlName="fechadetraccion"
                                    ></p-calendar>  
                                </div> 

                                <div *ngIf="mostrarCamposDetraccion" class="p-field p-col-12 p-md-2">  
                                    <strong>Porcentaje:</strong> 
                                    <input  type="text" (blur)="onCalcularDetraccion()" pInputText formControlName="porcentajedetraccion" class="p-inputtext-sm" placeholder="%">   
                                </div> 

                                <div *ngIf="mostrarCamposDetraccion"  class="p-field p-col-12 p-md-2">  
                                    <strong>Nro Detracción:</strong> 
                                    <input  type="text"  pInputText formControlName="nrodetraccion" class="p-inputtext-sm" placeholder="%">   
                                </div>   
                            </div>
                        </div> 
                    </p-fieldset>
                    <br>
                    <p-fieldset>
                        <ng-template pTemplate="header">Adicionales</ng-template> 
                        <div class="p-col-12"> 
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12 p-lg-4 p-md-6">
                                    <div class="formulario">  
                                        <strong>Es Deduccion Anticipo:</strong>
                                        <p-inputSwitch (click)="onHabilitarCamposAnticipo()" formControlName="esdeduccionanticipo"></p-inputSwitch>  
                                    </div> 
                                </div> 
                            </div>
                        </div> 
                    </p-fieldset>
                    <br>
                    <p-fieldset>
                        <ng-template pTemplate="header">Percepción:</ng-template> 
                        <div class="p-col-12"> 
                            <div class="p-fluid p-formgrid p-grid">
                                
                                    <div class="p-field p-col-12 p-md-12"> 
                                        <div class="formulario">  
                                            <strong>Compra afecta Percepción</strong>
                                            <p-inputSwitch (click)="onHabilitarCamposPercepcion()" formControlName="esafectopercepcion"></p-inputSwitch> 
                                        </div>
                                    </div>
 
                                    <div *ngIf="mostrarCamposPercepcion" class="p-field p-col-12 p-md-9"> 
                                        <strong>Tipo Documento</strong>  
                                        <div class="InputCombinadoTDPercepcion">  
                                            <p-dropdown class="DropExtenso" (onChange)="onObtenerTipoDocumentoPercepcion($event.value)" [options]="arrayTipoDocumentoPercepcion" formControlName="tipodocpercepcion"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor2"></p-dropdown>
                                            <p-dropdown class="extender"  [options]="arraySeriePorDocumentoPercepcion" formControlName="seriepercepcion"  placeholder="Selecciona"  [showClear]="true"  optionLabel="valor1"></p-dropdown> 
                                            <input type="number" pInputText  class="p-inputtext-sm"  formControlName="serialpercepcion"   placeholder="ingresar">   
                                        </div>
                                    </div>

                                    <div *ngIf="mostrarCamposPercepcion" class="p-field p-col-12 p-md-3"> 
                                        <strong>Fecha Percepción:</strong>
                                        <p-calendar  
                                            readonlyInput="true"
                                            [showIcon]="true"
                                            dateFormat="dd/mm/yy"
                                            formControlName="fechapercepcion"
                                        ></p-calendar> 
                                    </div>

                                    <div *ngIf="mostrarCamposPercepcion" class="p-field p-col-12 p-md-6"> 
                                        <strong>Importe Afecto:</strong> 
                                        <div class="InputInporteAfecto">  
                                            <input type="text" (keydown.enter)="onCalcularPercepcion()" pInputText formControlName="importebasepercepcion" class="p-inputtext-sm" placeholder="%">   
                                            <input type="text" (keydown.enter)="onCalcularPercepcion()"pInputText formControlName="porcentajepercepcion" class="p-inputtext-sm" placeholder="%">    
                                        </div> 
                                    </div> 

                   
                                    <div *ngIf="mostrarCamposPercepcion" class="p-field p-col-12 p-md-6">  
                                        <strong>Percepción:</strong> 
                                        <input  type="text" pInputText formControlName="importepercepcion" class="p-inputtext-sm" placeholder="%">   
                                    </div>
                                
                                
                            </div>
                        </div> 
                    </p-fieldset>
    
                </div>

                <!-- FORM ARRAY DEL TOTALES-->
                <div *ngIf="TotalesForm" >
                    <div class="p-col-12"> 
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-lg-6 p-md-6">
                                <div class="totalesResumen"  style="margin: 3%;">   
                                    <strong>Descuento global:</strong>
                                    <input  type="number" pInputText readonly formControlName="dsctoglobalimporte" class="p-inputtext-sm" placeholder="0.00">    

                                    <strong>Descuento por item:</strong>
                                    <input  type="number" pInputText readonly formControlName="descuentoporitem" class="p-inputtext-sm" placeholder="0.00">     
                    
                                    <strong>Descuento Total:</strong>
                                    <input  type="number" pInputText readonly formControlName="importedescuento" class="p-inputtext-sm" placeholder="0.00">     
                    
                                    <strong>Anticipo:</strong>
                                    <input  type="number" pInputText readonly formControlName="importeanticipo" class="p-inputtext-sm" placeholder="0.00">     
                    
                                    <strong>Exonerada:</strong>
                                    <input  type="number" pInputText readonly formControlName="importeexonerado" class="p-inputtext-sm" placeholder="0.00">     
                    
                                    <strong>Inafecta:</strong>
                                    <input  type="number" pInputText readonly formControlName="importeinafecto" class="p-inputtext-sm" placeholder="0.00">   
                                </div> 
                            </div>  

                            <div class="p-field p-col-12 p-lg-6 p-md-6">
                                <div class="totalesResumen"  style="margin: 3%;">    

                                    <strong>Gravada:</strong>
                                    <input  type="number" pInputText readonly formControlName="importegravada" class="p-inputtext-sm" placeholder="0.00">  

                                    <strong>IGV:</strong>
                                    <input  type="number" pInputText readonly formControlName="importeigv" class="p-inputtext-sm" placeholder="0.00"> 

                                    <strong>Gratuita:</strong>
                                    <input  type="number" pInputText readonly formControlName="importegratuita" class="p-inputtext-sm" placeholder="0.00">   

                                    <strong>Otros Tributos:</strong>
                                    <input  type="number" pInputText readonly formControlName="importeotrostributos" class="p-inputtext-sm" placeholder="0.00">  

                                    <strong>ICBPER:</strong>
                                    <input  type="number" pInputText readonly formControlName="importeicbper" class="p-inputtext-sm" placeholder="0.00">     

                                    <strong class="totalaMostrar">TOTAL:</strong>
                                    <input  type="number" pInputText readonly formControlName="importetotalventa" class="p-inputtext-sm" placeholder="0.00">     
                    
                                </div> 
                            </div>  
                        </div>
                    </div>
                </div>

            
                <!--  FIN TABS FORM -->
            <br>
            <hr>

            <div class="importes" *ngIf="TabTotalesActivo"> 
                <strong class="totalaMostrar">Importe Total </strong> 
                <strong > {{ totalaPagar | currency:'S/. '}}</strong>  
                <button type="button" (click)="activateMenu('5')" pTooltip="Mas info..." class="p-button-sm" tooltipPosition="left" pButton icon="pi pi-info"></button>   
            </div>

        </form> 
        <br>
 
    </div> 
</div>  

<!-- MODALES -->
<div *ngIf="modalBuscarPersona">
    <p-dialog header="BUSCAR PROVEEDOR" [(visible)]="modalBuscarPersona" [modal]="true" [style]="{width: '80vw'}">
        <app-buscar-persona [dataPersona]="'Proveedor'" (PersonaSelect)="onPintarPersonaSeleccionada($event)"> </app-buscar-persona>
    </p-dialog> 
</div>  
 
<div *ngIf="modalBuscarProducto">
    <p-dialog header="BUSCAR PRODUCTO" [(visible)]="modalBuscarProducto" [modal]="true" [style]="{width: '80vw'}">
        <app-buscar-producto [dataProductos]="dataProductos"  (productoSelect)="onPintarProductoSeleccionado($event)"> </app-buscar-producto>
    </p-dialog> 
</div>  
  
<div *ngIf="modalBuscarAnticipo">
    <p-dialog header="BUSCAR PRODUCTO" [(visible)]="modalBuscarAnticipo" [modal]="true" [style]="{width: '80vw'}">
        <app-buscar-anticipo [dataAnticipo]="dataAnticipo"  (AnticipoSelect)="onPintarAnticipoSeleccionado($event)"> </app-buscar-anticipo>
    </p-dialog> 
</div> 