<div class="margintabla">
    <div class="contenidoTable card-box"> 

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">CARGANDO. </p>
           </ngx-spinner>
           
        <div class="tituloMarca">  
            <h3> <i class="fas fa-file-pdf"></i> REPORTE PROVEEDOR ANALÍTICO </h3>  
        </div>
        <form [formGroup]="Form">
            <div class="p-col-12"> 
                <div style="align-items: flex-end;" class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col-12 p-md-6 p-lg-6 p-sm-6">
                        <strong class="p-column-title">Proveedor</strong> 
                        <div class="p-inputgroup">  
                            <input type="text" readonly style="width: 90px;" class="p-inputtext-sm" pInputText formControlName="nombreProveedor">   
                            <button type="button" (click)="onModalBuscarProveedor()" pTooltip="Buscar" tooltipPosition="left" pButton icon="pi pi-search" class="p-button-sm"></button>   
                        </div> 
                    </div>

                    <div class="p-field p-col-12 p-md-6 p-lg-6 p-sm-6">
                        <strong class="p-column-title">Línea:</strong> 
                        <p-dropdown
                            class="extender"
                            [showClear]="true"
                            [options]="arrayLinea" 
                            formControlName="lineaid"  
                            placeholder="Selecciona una linea"   
                            optionLabel="valor1">
                        </p-dropdown> 
                    </div> 
 
                    <div class="p-field p-col-12 p-md-4 p-lg-4 p-sm-4">  
                        <strong>Fec. Inicio </strong> 
                        <p-calendar
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaInicio"
                        ></p-calendar> 
                    </div>
                    <div class="p-field p-col-12 p-md-4 p-lg-4 p-sm-4">
                        <strong>Fec. Fin</strong> 
                        <p-calendar
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaFin"
                        ></p-calendar> 
                    </div>
                    
                    <div class="p-field p-col-12 p-md-4 p-lg-4 p-sm-4">       
                        <button pButton label="Generar" type="button" class="p-button-sm" icon="pi pi-file" (click)="onGenerarReporte()"></button>
                    </div>
                </div>
            </div>
    
        </form>
    
        <div *ngIf="contenidoReporte" style="height: 80vh;"> 
            <br> 
            <iframe  [src]="Pdf" height="95%" width="100%"></iframe> 
       </div>
 
    </div> 
</div>  

<div *ngIf="modalBuscarProveedor">
    <p-dialog header="BUSCAR PROVEEDOR" [(visible)]="modalBuscarProveedor" [modal]="true" [style]="{width: '70vw'}">
        <app-buscar-persona  [dataPersona]="'Proveedor'" (PersonaSelect)="onPintarProveedorSeleccionada($event)"> </app-buscar-persona>
    </p-dialog> 
</div>  