<div class="Margintabla">
    <div class="contenido card">
        <form [formGroup]="Form">
            <div class="formulario"> 
                <strong>Nombre Almacén *</strong>
                <input type="text" pInputText formControlName="nombreAlmacen" class="p-inputtext-sm" placeholder="ingresar el nombre de alamacen">         
        
                <strong>Tipo Producto *</strong>
                <p-dropdown class="extender" appendTo="body" placeholder="Selecciona un tipo de Producto"  formControlName="tipoProducto" [options]="listaTipoProducto" optionLabel="valor1"></p-dropdown>                 
            </div> 
            <br>
            <div class="formulario2">  
                <strong>Validar Stock *</strong>
                <p-inputSwitch formControlName="validarStock" ></p-inputSwitch>

                <strong>Activo *</strong>
                <p-inputSwitch formControlName="activo" ></p-inputSwitch>
            </div> 

            <div class="botones">
                <button  
                    class="p-button-sm"
                    pButton
                    type="button"
                    style="margin-right: 1%;"
                    [disabled]="Form.invalid"
                    label="{{ (!dataAlmacenEdit.idAlmacenEdit ) ? 'Grabar' : 'Actualizar'}}"
                    (click)="onGrabar()"
                    icon="pi pi-check-circle">  
                </button>   
                <button   
                    class="p-button-sm"
                    pButton
                    type="button"
                    style="background-color: #D72250;"
                    icon="pi pi-times-circle"
                    label="Cancelar" 
                    (click)="onRegresar()">  
                </button>  
            </div>

        </form>
    </div>
</div>