<div>
    <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
        <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
    </ngx-spinner>
      
    <div class="formPlanes2">
        <p-tabView (onChange)="onInfoPlan($event.index)" >
            <p-tabPanel [header]="item.nombreplan" *ngFor="let item of listaPlanes; let i = index" [selected]="i == 0">
                <div class="card">  
                    <div class="m-4">  
                        <div *ngIf="datosPlanArray">
                            <div class="m-2"  *ngFor="let dato of datosPlanArray">  
                                <div class="m-4">
                                    <div><strong> Nombre: </strong> {{ dato.nombre }}</div>
                                    <div><strong> Comprobantes: </strong> {{ dato.cantidadcomprobantes }}</div>
                                    <div *ngIf="mostrardatosArray"><strong> Precio Sin IGV: </strong> {{ dato.preciosinigv | currency:'S/.' }}</div> 
                                    <div><strong> Importe Comprobante: </strong> {{ dato.importecomprobanteadicional }}</div> 
                                    <div>
                                        <strong> Ingresa una cantidad : </strong>
                                        <input type="number" [formControl]="cantidadIngresada" pInputText class="p-inputtext-sm w-100"
                                         minlength="0" maxlength="100" placeholder="ingresar una cantidad">
                                    </div> 
                                </div>      
                                <div class="centrar">
                                    <button
                                        style="margin: 3%;"
                                        class="p-button-sm p-button-rounded"
                                        pButton
                                        type="button"
                                        icon="pi pi-check-circle"
                                        label="Elegir"
                                        (click)="onPlanElegido(dato)" >
                                    </button>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>

            </p-tabPanel>
        </p-tabView>
    </div>
</div>