<div>
    <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
        <p style="font-size: 20px; color: white">CARGANDO. </p>
    </ngx-spinner>
      
    <div class="tabviewVisible">
        <p-tabView (onChange)="onInfoPlan($event.index)" >
            <p-tabPanel [header]="item.nombreplan" *ngFor="let item of listaPlanes; let i = index" [selected]="i == 0">
                
                <div *ngIf="datosPlanArray">
                    <div  class="modal-planes"  *ngFor="let dato of datosPlanArray">  
                        <div class="centrar">
                            <div><strong> Nombre: </strong> {{ dato.nombre }}</div>
                            <div><strong> Comprobantes: </strong> {{ dato.cantidadcomprobantes }}</div>
                            <div *ngIf="mostrardatosArray"><strong> Precio Sin IGV: </strong> {{ dato.preciosinigv | currency:'S/.' }}</div> 
                            <div><strong> Importe Comprobante: </strong> {{ dato.importecomprobanteadicional }}</div> 
                            <div>
                                <strong> Ingresa una cantidad : </strong>
                                <input type="text" [formControl]="cantidadIngresada" (keypress)="generalService.onSoloNumeros($event)" pInputText class="p-inputtext-sm-form wpx-90"
                                    minlength="0" maxlength="100" placeholder="0">
                            </div> 
                        </div>   
                        <button 
                            class="p-button-registrar botones wpx-250"
                            pButton
                            type="button"
                            icon="pi pi-check-circle"
                            label="Elegir Plan"
                            (click)="onPlanElegido(dato)" >
                        </button> 
                    </div>
                </div> 
                 
                
            </p-tabPanel>
        </p-tabView>
    </div>
</div>