<div class="margintabla">
    <div class="contenidoTable card-box">  

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
        </ngx-spinner>
  
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h3> LISTA DE SERIES</h3> 
            </div>
            
            <div class="p-toolbar-group-right">
                <button   
                    class="p-button-registrar"
                    pButton
                    style="margin-right: 1%;"
                    type="button"
                    tooltipPosition="left"
                    pTooltip="Agregar nueva Serie"
                    label="Agregar"
                    icon="pi pi-plus"  
                    (click)="onAdd()">  
                </button> 
                <button   
                    class="p-button-cancelar"
                    pButton
                    icon="pi pi-times-circle"
                    label="Regresar" 
                    (click)="onRegresar()">  
                </button>       
            </div>
        </p-toolbar>
 
        <p-table  
            [responsive]="true"
            [columns]="cols" 
            responsiveLayout="stack"
            selectionMode="single"
            [rowHover]="true" 
            [value]="listaSeries">  

                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{ col.header }} 
                            <p-sortIcon *ngIf="col.field != 'acciones'"
                                [field]="col.field"
                                ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon> 
                        </th>
                    </tr> 
                </ng-template>
                
                <ng-template pTemplate="body" let-series let-columns="columns"  let-rowIndex="rowIndex"> 
                    <tr [pSelectableRow]="series" [pSelectableRowIndex]="rowIndex">
                        <td  *ngFor="let col of columns" >
                            <strong class="p-column-title">{{ col.header | uppercase}}</strong> 
    
                            <div [ngSwitch]="col.field">  
                                <div class="centrar" *ngSwitchCase="'estado'">
                                    <div *ngIf="series[col.estado] === false">
                                        <i class="fas fa-square"></i>  
                                    </div>
                    
                                    <div *ngIf="series[col.estado] != false">
                                        <i class="fas fa-check-square"></i>  
                                    </div>
                                </div>  
                                <div *ngSwitchDefault>
                                    {{ series[col.field]  }}
                                </div>
                            </div>  


                            <ng-template #botones [ngIf]="col.field === 'acciones'">
                                <div style="display: flex;">
                                    <button 
                                        pButton 
                                        class="p-button-sm-generico"
                                        type="button"
                                        tooltipPosition="top" 
                                        pTooltip="Editar" 
                                        (click)="onEdit(series.id)"
                                        style="margin-right :1%;" 
                                        icon="pi pi-pencil">
                                    </button>     
                                    <button 
                                        pButton 
                                        class="p-button-sm-cancelar"
                                        type="button"
                                        tooltipPosition="top"  
                                        (click)="onDelete(series)"
                                        pTooltip="Eliminar"  
                                        icon="pi pi-trash">
                                    </button>        
                                </div>  
                            </ng-template> 
                        </td>
                    </tr>
                </ng-template>
        </p-table> 
        
    </div>
</div>

<div *ngIf="modalNuevoSerie">
    <p-dialog [header]="(!dataEdit.idSerieEditar) ? 'NUEVA SERIE' : 'EDITAR SERIE'" [(visible)]="modalNuevoSerie" [modal]="true" [draggable]="false" [resizable]="true" [style]="{width: '50vw'}">
        <app-nuevo-serie  [dataEdit]="dataEdit" (cerrar)="onRetornar($event)" > </app-nuevo-serie>
    </p-dialog> 
</div>

 