 
 <div *ngIf="!VistaNuevoProveedor"> 
    <div class="margintabla"> 
        <div class="contenidoTable card-box">  
            
            <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
                <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
               </ngx-spinner>
               
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <h3>  <i class="fas fa-users"></i>  LISTA DE PROVEEDORES</h3> 
                </div>
                
                <div class="p-toolbar-group-right"> 
                    <button 
                        pTooltip="Agregar Nuevo Proveedor" tooltipPosition="top"
                        pButton  
                        type="button"
                        label="Agregar" 
                        class="p-button-registrar"
                        (click)="onNuevo()" 
                        icon="pi pi-plus">
                    </button>           
                </div>
            </p-toolbar>


            <div class="p-col-12"> 
               <div style="align-items: flex-end;" class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-5">
                        <strong>Nro. Documento</strong>
                        <input class="p-inputtext-sm p-inputtext-gris" placeholder="Ingresa nro documento" [formControl]="nrodocumento" type="text" pInputText>        
                    </div>
                    <div class="p-field p-col-12 p-md-5">
                       <strong>Razón Social:</strong>
                       <input class="p-inputtext-sm p-inputtext-gris" placeholder="Ingresa razon social" [formControl]="razonsocial" type="text" pInputText>        
                   </div>
                   <div class="p-field p-col-12 p-md-2">       
                       <button pButton label="Buscar" type="button" class="p-button-sm p-button-sm-generico-azul" icon="pi pi-search" (click)="onLoadProveedores(null)"></button>
                   </div>
               </div>
           </div>

    
            <p-table 
            [responsive]="true"
            [columns]="cols" 
            responsiveLayout="stack"
            selectionMode="single"
            [rowHover]="true" 
            class="wrap" 
            [value]="listaProveedores">  
    
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{ col.header }} 
                            <p-sortIcon *ngIf="col.field != 'acciones'"
                                [field]="col.field"
                                ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon> 
                        </th>
                    </tr> 
                </ng-template>
                
                <ng-template pTemplate="body" let-proveedor let-columns="columns"  let-rowIndex="rowIndex"> 
                    <tr [pSelectableRow]="proveedor" [pSelectableRowIndex]="rowIndex">
                        <td  *ngFor="let col of columns" >
                            <strong class="p-column-title">{{ col.header | uppercase}}</strong> 
    
                            <div [ngSwitch]="col.field">    
                                <div *ngSwitchCase="'fechaRegistro'">
                                    {{ proveedor[col.field] | date: col.formatoFecha }}
                                </div>
                                <div *ngSwitchDefault>
                                    {{ proveedor[col.field]  }}
                                </div>
                            </div>  
    
                            <ng-template #botones [ngIf]="col.field === 'acciones'">
                                <div style="display: flex;">
                                    <button 
                                        pButton
                                        type="button" 
                                        tooltipPosition="top" 
                                        pTooltip="Editar" 
                                        (click)="onEditar(proveedor)"
                                        class="p-button-generico-azul" 
                                        icon="pi pi-pencil">
                                    </button>     
                                    <button 
                                        pButton
                                        type="button" 
                                        tooltipPosition="top"  
                                        class="p-button-cancelar" 
                                        (click)="onEliminar(proveedor)"
                                        pTooltip="Eliminar"  
                                        icon="pi pi-trash">
                                    </button>        
                                </div>  
                            </ng-template>  
                        </td>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No existen registros</td>
                    </tr>
                </ng-template> 
 
            </p-table> 
            <p-paginator [rows]="10"  [showCurrentPageReport]="true" [currentPageReportTemplate]="textoPaginado"  [rowsPerPageOptions]="[10,20,30]" (onPageChange)="onLoadProveedores($event)"></p-paginator>
            
        </div> 
    </div>     
</div>


<app-nuevo-proveedor  *ngIf="VistaNuevoProveedor" [dataProveedor]="dataProveedor" (cerrar)="onRetornar($event)"> </app-nuevo-proveedor>
   


 
