<div class="margintabla">
    <div class="card">   
        
        <p-table  
        [responsive]="true"
        [columns]="cols" 
        responsiveLayout="stack"
        selectionMode="single"
        [rowHover]="true"
        [paginator]="true" 
        [rows]="10"
        (onRowSelect)="onSeleccionarPersona($event)"
        [showCurrentPageReport]="true" 
        [rowsPerPageOptions]="[5,10,50,100]" 
        paginatorDropdownAppendTo="body"
        [value]="listaCentroCosto">  

            <ng-template pTemplate="header" let-columns >
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }} 
                        <p-sortIcon *ngIf="col.field != 'acciones'"
                            [field]="col.field"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon> 
                    </th>
                </tr> 
            </ng-template>
            
            <ng-template pTemplate="body" let-centrocosto let-columns="columns"  let-rowIndex="rowIndex"> 
                <tr [pSelectableRow]="centrocosto" [pSelectableRowIndex]="rowIndex">
                    <td  *ngFor="let col of columns" >
                        <strong class="p-column-title">{{ col.header | uppercase}}</strong>   
                        <div [ngSwitch]="col.field">  
                            <div *ngSwitchCase="'fechaEmision'">
                                {{ centrocosto[col.field] | date: col.formatoFecha }}
                            </div> 
                            <div *ngSwitchDefault>
                                {{ centrocosto[col.field]  }} 
                            </div>
                        </div>   
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">No existen registros</td>
                </tr>
                </ng-template> 
        </p-table>  
    </div> 
</div>  
 
