<div class="exception-body access-page">

    <div class="exception-top"> 
        <img src="assets/layout/images/logo_ti.png" alt="poseidon-layout" class="logo-icon"  />
    </div>

    <div class="exception-bottom">
        <div class="exception-wrapper">
            <span class="exception-summary">Accesso Denegado</span>
            <span class="exception-detail">Para acceder al contenido de esta página debe inicar sesión</span>
            <button pButton pRipple [routerLink]="['/auth']" label="Iniciar Sesión" icon="pi pi-home"></button>
               
            <span class="exception-footer">TI SOLUCIONES</span>
        </div>
    </div>
</div>
