/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system
 

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "../node_modules/@fullcalendar/daygrid/main.min.css";
@import "../node_modules/@fullcalendar/timegrid/main.min.css";
@import "assets/demo/flags/flags.css";

 
.spacer{
  flex: 1 1 auto;
}

// .botonBuscar{
//   display: flex;
//   justify-content: center; 
// }


.separador{
  margin-right: 1%;
  padding: 1% 2% 2% 2%;
  border: solid 2px;
  text-align: center;
}

.tituloVista{
  display: flex;
  justify-content: space-between;
  @media (max-width : 700px){
      display: grid;
  }
}

.botonesTitulosVista{
  display: flex;
  align-items: center;
}


.botonBuscar{
  display: flex;
  align-items: flex-end;   
}


.CampoSwicth{
  display: flex;
  align-items: center;   
}


.titulo{  
    padding: 5px;
    font-size: 1em;  
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    font-weight: 500;
    align-items: center; 
    @media (max-width: 700px) {
      display: block;
    }
  }


.p-dialog-mask {
  z-index: 999 !important;
  min-width: 25%;
}
.p-dialog .p-dialog-header .p-dialog-header-icon{
  color: white;
}


::ng-deep .swal2-container.swal2-center>.swal2-popup {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  z-index: 999;
}
 
.p-fieldset .p-fieldset-content {
  padding: 0;
}


.p-dialog .p-dialog-content {
  padding: 0 !important;
}
.p-dialog .p-dialog-footer {
  padding: 0  !important;
}

.centrar{
  text-align: center;
}

.Margintabla{
  //margin: 3%;
  box-shadow: 0 0 5px black !important
}

.MarginModal{
  margin: 1%;
  box-shadow: 0 0 1px black !important
}


.p-inputgroup { 
  align-items: center;
  width: 100%; 
}

.botones{
  margin: 2%;
  text-align: center;
}

.tituloPage {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  background-color: #135AA9;
  color: white;
 
}

.extender{
  display: contents;
}

 .p-dropdown {
  display: flex;
  font-size: 15px;
  height: 31px;
  align-items: center;
}

 .p-fluid .p-calendar {
  display: flex;
  height: 31px;
}

  
.contenidoTable{
  min-height: 85vh;
}


.p-datatable .p-datatable-tbody > tr > td { 
  padding: 0.5rem 0.5rem !important;
} 



.cantidadTomaInventario{
  text-align: center; 
  font-weight: bold;
  background-color: lightgray;
  font-size: large;
}


::ng-deep .p-toolbar{
  padding-top: 0% !important;
  padding-bottom: 0% !important;
} 

 
 
.reporteMovimiento{
  display: flex;
  justify-content: space-between;
  @media (max-width : 700px){
     display: grid;
  }
}
.botonesCabecera{
 display: flex;
 align-items: flex-end;
}


.formularioColum12_1{
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: 12rem 1fr;   
  align-items: center;
  @media (max-width: 800px) {  
     grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}  

.formularioColumn10_1{
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: 10rem 1fr;   
  align-items: center;
  @media (max-width: 700px) {  
     grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

.menu-wrapper {
  top: 120px!important;

}


.layout-wrapper .layout-main {
  padding-top: 105px;
}


::ng-deep  .p-tabmenu .p-tabmenu-nav {
 background: none;
  border: 0px;
  border-width: 0 0 2px 0;
}

::ng-deep  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
  background: #cfcfcf;
  color: #045caf;
  border-color: #657380;
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  border: solid #E4E5E5;
  border-width: 0 0 2px 0;
  border-color: transparent transparent #E4E5E5 transparent;
  background: #cfcfcf;
  color: #045caf;
  padding: 1rem;
  font-weight: 600;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transition: box-shadow 0.2s;
  margin: 0 0 -2px 0;
}


.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border: none;
    border-width: 0 0 2px 0;
    border-color: transparent transparent #E4E5E5 transparent;
    background: #c9c9c9;
    color: #1167b7;
    padding: 1rem;
    font-weight: 600;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transition: box-shadow 0.2s;
    margin: 0 0 -2px 0;
}

.p-tabmenu .p-tabmenu-nav {
  background: #c9c9c9;
  border: 1px solid #E4E5E5;
  border-width: 0 0 2px 0;
  padding: 6px;
}

.layout-topbar-light .layout-topbar {
  background-color: #147DBA;
}


.layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-left {
    background: #e9e9e9;
}

.layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button {
  border-radius: 20%;
}

.layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button {
  color: white;
  background-color: #4da8de;
  padding: 20px;
  margin: 5px;
}