<div class="margintabla">
    <div class="contenidoTable card-box"> 
        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">Cargando... porfavor espere </p>
        </ngx-spinner>

        <p-toolbar>
            <div class="p-toolbar-group-left">
                <h3> <i class="fas fa-truck"></i>   {{ tituloVistaUnidadTransporte }}</h3> 
            </div>
            
            <div class="p-toolbar-group-right">
                <button  
                    class="p-button-registrar"
                    pButton 
                    type="button"
                    [disabled]="Form.invalid" 
                    label="{{ (dataUnidadTransporte.idUnidaTransporte) ? 'Actualizar' : 'Grabar' }}"
                    (click)="onGrabarUnidadTransporte()"
                    icon="pi pi-check-circle">  
                </button>  

                <button   
                    class="p-button-cancelar"
                    pButton
                    type="button"
                    icon="pi pi-times-circle"
                    label="Cancelar"  
                    (click)="onRegresar()">  
                </button>  
            </div>
        </p-toolbar>

        <hr>   
            <div class="stepsdemo-content nuevoTransportista">
               
                <form [formGroup]="Form" class="form" >   
                    <p-fieldset>
                        <ng-template pTemplate="header">Datos Personales</ng-template>
                        <div class="p-col-12">
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col-12">
                                    <strong>Placa*</strong>
                                    <input type="text" pInputText formControlName="placa" class="p-inputtext-sm-form" placeholder="ingresar placa">   
                                </div>
                                <div class="p-field p-col-12">
                                    <strong>Marca*</strong>
                                    <input type="text" pInputText formControlName="marca" class="p-inputtext-sm-form" placeholder="ingresar Marca">   
                                </div>
                                <div class="p-field p-col-12">
                                    <strong>Modelo</strong>
                                    <input  type="text" pInputText formControlName="modelo" class="p-inputtext-sm-form" placeholder="ingresar modelo">     
                                </div>
                                <div class="p-field p-col-12">
                                    <strong>Certificado</strong>
                                    <input type="text" pInputText formControlName="certificado" class="p-inputtext-sm-form" placeholder="ingresar certificado">   
                                </div>
                                <div class="p-field p-col-12">   
                                    <strong>Carreta Placa *</strong>
                                    <input  type="text" pInputText formControlName="carretaPlaca" class="p-inputtext-sm-form" placeholder="ingresar carretaPlaca">     
                                </div>
                                <div class="p-field p-col-12">
                                    <strong>Carreta Marca</strong>
                                    <input type="text" pInputText formControlName="carretaMarca" class="p-inputtext-sm-form" placeholder="ingresar tus carretaMarca">   
                                 </div>
                                <div class="p-field p-col-12">
                                    <strong>Carreta Certificado</strong>
                                    <input  type="text" pInputText formControlName="carretaCertificado" class="p-inputtext-sm-form" placeholder="ingresar tus carretaCertificado">     
                                </div> 
                            </div> 
                        </div> 
                    </p-fieldset>
                </form>   
              
            </div> 
    </div>  
  
</div>