<div class="margintabla-home">
    <div class="card-box"> 

        <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" [zIndex]="997"  color="#fff" type="timer" [fullScreen]="true">
            <p style="font-size: 20px; color: white">CARGANDO. </p>
           </ngx-spinner>
           
        <div class="tituloVista">  
            <h3> <i class="fas fa-file-pdf"></i> REPORTE SALIDAS ALMACEN </h3>  
        </div>
        <form [formGroup]="Form">
            <div class="p-col-12"> 
                <div style="align-items: flex-end;" class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-6 p-lg-6 p-sm-6">
                        <strong class="p-column-title">Producto</strong> 
                        <div class="p-inputgroup">  
                            <input type="text"  readonly   style="width: 90px;" class="p-inputtext-sm" pInputText formControlName="nombreProducto">   
                            <button type="button" (click)="onModalBuscarProducto()" pTooltip="Buscar" tooltipPosition="left" pButton icon="pi pi-search" class="p-button-sm"></button>   
                        </div> 
                    </div>
                    <div class="p-field p-col-12 p-md-6 p-lg-6 p-sm-6">
                        <strong class="p-column-title">Establecimiento</strong> 
                        <p-dropdown
                            [options]="arrayEstablecimientos"  
                            formControlName="establecimientoId"
                            placeholder="selecciona"
                            optionLabel="valor1"
                            [showClear]="true"
                        ></p-dropdown>
                    </div> 
                    <div class="p-field p-col-12 p-md-6 p-lg-6 p-sm-6">
                        <strong class="p-column-title">Línea:</strong> 
                        <p-dropdown
                            class="extender"
                            [options]="arrayLinea" 
                            [showClear]="true"
                            formControlName="lineaid"  
                            placeholder="Seleccionar"   
                            optionLabel="valor1">
                        </p-dropdown> 
                    </div> 
                    
                    <div class="p-field p-col-12 p-md-6 p-lg-3 p-sm-6">
                        <strong>Fec. Inicio *:</strong> 
                        <p-calendar
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaInicio"
                        ></p-calendar> 
                    </div>
                    <div class="p-field p-col-12 p-md-6 p-lg-3 p-sm-6">
                        <strong>Fec. Fin *:</strong> 
                        <p-calendar
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fechaFin"
                        ></p-calendar> 
                    </div>
                    <div class="p-field p-col-12 p-md-6 p-lg-4 p-sm-6"> 
                        <strong>Modalidad:</strong>
                        <p-dropdown
                            [options]="arrayAgrupado" 
                            formControlName="Agrupado"
                            placeholder="selecciona"
                            optionLabel="nombre"
                            [showClear]="true"
                        ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-6 p-lg-2">       
                        <button pButton label="Generar" type="button" class="p-button-sm" icon="pi pi-file" (click)="onGenerarReporte()"></button>
                    </div>
                </div>
            </div>
    
        </form>
    
        <div *ngIf="contenidoReporte" style="height: 80vh;"> 
            <br> 
            <iframe  [src]="Pdf" height="95%" width="100%"></iframe> 
       </div>
 
    </div> 
</div>  

<div *ngIf="modalBuscarProducto">
    <p-dialog header="BUSCAR PRODUCTO" [(visible)]="modalBuscarProducto" [modal]="true" [style]="{width: '80vw'}">
        <app-buscar-producto [dataProductos]="dataProductos"  (productoSelect)="onPintarProductoSeleccionado($event)"> </app-buscar-producto>
    </p-dialog> 
</div>  