.formulario{
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: 12rem 1fr;   
    align-items: center;
    @media (max-width: 800px) {  
       grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
 }  
 
  
.DropExtenso {
    display: contents;   
}

@media (max-width: 800px) {  
   .DropExtenso  ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
      margin-left: 8%;
      overflow: auto;
   }
}
