<div class="MarginModal">
    <div class="contenido formulario-campo-obligatorio"> 
        <form [formGroup]="Form">
            <div class="stepsdemo-content">  
                <p-fieldset>
                <ng-template pTemplate="header">Datos Principales</ng-template>
    
                    <div class="formularioColum12_1">   
                        <strong>Forma de Pago <span>*</span>:</strong>
                        <input type="text" pInputText formControlName="titulo" placeholder="ingresa el nombre de la forma de pago" class="p-inputtext-sm p-inputtext-gris">  

                        <strong>Medio de Pago <span>*</span>:</strong>
                        <p-dropdown class="extender" [options]="arrayMedioPago" formControlName="mediodePago"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                    
                        <strong>Establecimiento <span>*</span>:</strong>
                        <p-dropdown class="extender p-dropdown-sm" appendTo="body" [options]="arrayEstablecimiento" formControlName="establecimiento"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     

                        <strong>Moneda <span>*</span>:</strong>
                        <p-dropdown class="extender p-dropdown-sm" appendTo="body" [options]="arrayMoneda" formControlName="moneda"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                    
                    </div>  
                </p-fieldset>

                <br>

                <p-fieldset>
                    <ng-template pTemplate="header">Datos Personales</ng-template>
                        <div class="formularioColum12_1">   
                            <strong>Documento <span>*</span>:</strong>
                            <p-dropdown class="extender p-dropdown-sm" appendTo="body" [options]="arrayDocumento" formControlName="documento"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                        
                        </div>  
                </p-fieldset>

                <br>

                <p-fieldset>
                    <ng-template pTemplate="header">Datos Personales</ng-template> 
                        <div class="formularioColum12_1">   
                            <strong>Requiere Ref::</strong>
                            <p-inputSwitch formControlName="docrequierereferencia"> </p-inputSwitch>

                            <strong>Documento Ref:</strong>
                            <p-dropdown class="extender p-dropdown-sm" appendTo="body" [options]="arrayDocumentoRef" formControlName="documentoref"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                        </div>  
                </p-fieldset>
            </div>
        </form> 

        <div class="botones">
            <button  
                class="p-button-regitrar"
                pButton
                type="button"
                style="margin-right: 1%;"
                [disabled]="Form.invalid"
                label="{{ (dataFormaPago) ? 'Actualizar' : 'Grabar' }}"
                (click)="onGrabar()"
                icon="pi pi-check-circle">  
            </button>  

            <button   
                class="p-button-cancelar"
                pButton
                type="button"
                icon="pi pi-times-circle"
                label="Cancelar" 
                style=" background-color: #D72250;"
                (click)="onRegresar()">  
            </button>  
        </div> 
    </div>
</div>