 
   <!-- DASHBOARD -->

   <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="meidum" color="#fff" type="timer"[zIndex]="997">
    <p style="font-size: 20px; color: white">CARGANDO. </p>
  </ngx-spinner>

  
 
    <div class="contenido card-box">     
        <br>
        <div> 
            <h3> HISTÓRICO VENTAS </h3>  
            <strong>Rango de Información: </strong>
            <p-dropdown class="DropExtenso" (onChange)="onObtenerRango($event, 'HVenta')" [options]="arrayRango1" [formControl]="rangoBusqueda1"  optionLabel="nombre"></p-dropdown>     
                    
            <div class="graficos">   
                <div class="charts"> 
                    <h3>TOTAL VENTA</h3>
                    <p-chart type="line" [data]="DataLineal1" ></p-chart> 
                </div> 
                
                <div class="charts">
                    <!-- <h3>TOTAL VENTA COBRADO / POR COBRAR</h3> -->
                    <br>
                    <p-chart type="doughnut"[data]="DataGraficoDunat"  ></p-chart> 
                </div>
            </div>
        </div>
         
        <div class="graficos2">   
            <div class="charts">
                <h3> COBRANZAS Y POR COBRAR </h3>  
                <strong>Rango de Información: </strong>
                <p-dropdown class="DropExtenso" (onChange)="onObtenerRango($event, 'HCobranza')" [options]="arrayRango2" [formControl]="rangoBusqueda2"  optionLabel="nombre"></p-dropdown>     
                <p-chart type="line" [data]="DataLineal2" ></p-chart> 
            </div>
            <div class="charts"> 
                <h3> PRODUCTO MÁS VENDIDO</h3>   
                <strong>Rango de Información: </strong>
                <p-dropdown class="DropExtenso" (onChange)="onObtenerRango($event, 'ProductoMasVendido')" [options]="arrayRango3" [formControl]="rangoBusqueda3"  optionLabel="nombre"></p-dropdown>     
                <p-chart type="bar" [data]="DataLineal3" [options]="horizontalOptions"></p-chart>
            </div>
        </div>
  
        <div>   
            <h3> DOCUMENTOS NO REGULARIZADOS EN SUNAT</h3>   
            <div class="graficos2">   

                <div class="charts">
                    <i class="fa-solid fa-triangle-exclamation sizeIcon"></i>
                    <br>
                    <div class="textIcon">
                        Tiene <strong> {{ (DataEnviadosASunat) ? DataEnviadosASunat.noEnviados : 0}} </strong>documentos SIN enviar a Sunat
                    </div>
                </div> 
                
                <div class="charts"> 
                    <i class="fa-regular fa-circle-check sizeIcon2"></i>
                    <div class="textIcon">
                        No tiene <strong> {{ (DataEnviadosASunat) ? DataEnviadosASunat.anuladosSinBaja : 0 }} </strong> documento anulados sin dar de baja
                    </div>
                </div>
            </div>
        </div>
    </div>
 