<div *ngIf="!VistaReporte && !VistaBuscarPendiente"> 

<div class="margintabla"> 
    <div class="contenidoTable card-box">  
        <form [formGroup]="Form">  
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <h3> <i class="fas fa-cart-plus"></i>  {{ tituloNuevocobranza}} </h3>  
                </div>
                
                <div class="p-toolbar-group-right">  
                    <button  
                        class="p-button-sm p-button-blue"
                        pButton
                        style="margin-right: 1%;"
                        type="button" 
                        *ngIf="mostrarOpcionReporte"
                        label="Reporte"
                        (click)="onReporteCobranza()"
                        icon="pi pi-file">  
                    </button>   
                   
                    <button  
                        class="p-button-registrar"
                        pButton
                        style="margin-right: 1%;"
                        type="button"
                        [disabled]="Form.invalid" 
                        label="Grabar"
                        (click)="onGrabar()"
                        icon="pi pi-check-circle">  
                    </button>   
                    <button   
                        class="p-button-cancelar"
                        pButton
                        type="button"
                        icon="pi pi-times-circle"
                        label="Cancelar" 
                        style=" background-color: #D72250;"
                        (click)="onRegresar()">  
                    </button> 
                </div>
            </p-toolbar>


            <div *ngIf="existenroRegsitro"  class="centrar">    
                <h3> N° REGISTRO:  <strong> {{CobranzaEditar.nroRegistro}} </strong></h3>    
            </div>
            
            <div class="p-col-12 formulario-campo-obligatorio"> 
                <div class="p-fluid p-formgrid p-grid"> 
                    <div class="p-field p-col-12 p-md-3"> 
                        <strong>Tipo Documento <span>*</span></strong>
                        <p-dropdown class="DropExtenso" [options]="arrayTipoRegistro" formControlName="documentoid"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>  
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <strong>Fecha<span >*</span></strong>
                        <p-calendar  
                            readonlyInput="true"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fecha"
                        ></p-calendar> 
                    </div> 

                    <div class="p-field p-col-12 p-md-3">
                        <strong>Moneda <span >*</span></strong>
                        <p-dropdown   [disabled]="bloquearCampos" [options]="arrayMonedas" formControlName="moneda"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <strong>Tipo Cambio <span >*</span></strong>
                        <input  type="text" pInputText [readonly]="bloquearCampos" [minLength]="1" [maxlength]="5" formControlName="tipoCambio" class="p-inputtext-sm" placeholder="0.00">     
                    </div>

                    <div class="p-field p-col-12 p-md-9">
                        <strong>Medio de Pago <span >*</span></strong>
                        <p-dropdown  [options]="arrayMedioPago" formControlName="medioPago"  placeholder="Selecciona "  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <strong>Estado <span >*</span></strong>
                        <p-dropdown  [options]="arrayEstado" formControlName="estado"  placeholder="Selecciona "  [showClear]="true"  optionLabel="nombre"></p-dropdown>     
                    </div>
                    
                    <div class="p-field p-col-12 p-md-12">
                        <strong>Glosa:</strong>
                        <input  type="text" pInputText  formControlName="glosa" class="p-inputtext-sm" placeholder="ingresar una glosa">     
                    </div>

                    <div class="p-field p-col-12 p-md-12 p-sm-12"> 
                        <button pButton pRipple type="button" label="Buscar Pendiente" class="p-button-rounded p-button-blue p-button-busqueda"  icon="fas fa-clock"  (click)="onBuscarPendiente()"></button>
                    </div>

                    <div class="p-field p-col-12 p-md-12"> 
                        <p-table   
                        class="TablaDetalle"
                        [value]="detallesForm"
                        [scrollable]="true" 
                        responsiveLayout="stack" >  
                        <ng-template pTemplate="header">
                            <tr> 
                                <th style="width: 50px;" >Acción</th>
                                <th style="width: 60px;" >T.Doc</th>
                                <th style="width: 85px;" >Documento</th>
                                <th style="width: 160px;" >Cliente</th>
                                <th style="width: 150px;" >FormaPago</th> 
                                <th style="width: 160px;" >Doc.Ref</th> 
                                <th style="width: 110px;" >Nro.Doc.Ref</th> 
                                <th style="width: 110px;" >Por Cobrar</th> 
                                <th style="width: 85px;" >Cobrado</th> 
                                <th style="width: 80px;" >Redondeo</th> 
                                <th style="width: 80px;" >Aplica Retención</th> 
                                <th style="width: 90px;" >Retencion</th> 
                                <th style="width: 100px;" >Nro.Doc. Retención</th> 
                                <th style="width: 95px;" >Saldo</th> 
                                <th style="width: 160px;" >Observaciones</th> 
                            </tr>
                        </ng-template> 

                        <ng-template pTemplate="body" let-detalles  let-rowIndex="rowIndex" formArrayName="arrayDetalle"> 
                            <tr   [formGroupName]="rowIndex"> 
                                <td>
                                    <button  
                                        class="p-button-sm p-button-rounded"
                                        pButton 
                                        type="button"
                                        style=" background-color: #D72250;"
                                        (click)="onEliminarDetalle(rowIndex)"
                                        icon="pi pi-trash">  
                                    </button>
                                </td>
                                <td>
                                    <strong class="p-column-title">T.Doc</strong>
                                    <input type="text"  style="width: 50px;"  readonly pInputText class="p-inputtext-sm"  formControlName="tipDoc">  
                                </td>
                                <td>
                                    <strong class="p-column-title">Documento</strong>
                                    <input type="text" style="width: 70px;" readonly pInputText class="p-inputtext-sm"  formControlName="nroDocumento">  
                                </td>
                                <td>
                                    <strong class="p-column-title">Cliente</strong>
                                    <input type="text" style="width: 150px;" readonly pInputText class="p-inputtext-sm"  formControlName="nombreRazSocial">  
                                </td> 
                                <td>
                                    <strong class="p-column-title">FormaPago</strong>
                                    <p-dropdown  [options]="arrayFormaPago"  appendTo="body"  formControlName="formapagoid"  placeholder="Selecciona..."  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                                </td> 
                                <td>
                                    <strong class="p-column-title">Doc.Ref</strong>
                                    <p-dropdown  [options]="arrayDocumentoRef"  appendTo="body"  formControlName="documentopagorefid"  placeholder="Selecciona..."  [showClear]="true"  optionLabel="valor1"></p-dropdown>     
                                </td> 
                                <td>
                                    <strong class="p-column-title">NroDocRef</strong>
                                    <input type="text" style="width: 85px;" readonly class="p-inputtext-sm" pInputText formControlName="nrodocpagoref">  
                                </td>
                                <td>
                                    <strong class="p-column-title">PorCobrar</strong>
                                    <input type="text"  style="width: 90px;text-align: right;" readonly class="p-inputtext-sm" pInputText formControlName="importeporcobrar">  
                                </td>
                                <td>
                                    <strong class="p-column-title">Cobrado</strong>
                                    <input type="text" style="width: 80px;text-align: right;" (keydown.enter)="onCalcularSaldo(rowIndex)" (keydown.Tab)="onCalcularSaldo(rowIndex)"  class="p-inputtext-sm" pInputText formControlName="importecobrado">  
                                </td>
                                <td>
                                    <strong class="p-column-title">Redondeo</strong>
                                    <input type="text" style="width: 80px;text-align: right;" (keydown.enter)="onCalcularSaldo(rowIndex)" (keydown.Tab)="onCalcularSaldo(rowIndex)" class="p-inputtext-sm" pInputText formControlName="importeredondeo">  
                                </td>
                                <td style="text-align: center;">
                                    <strong class="p-column-title">Apl.Retención</strong>
                                    <p-inputSwitch class="ClassSwicth" formControlName="aplicaretencion"></p-inputSwitch> 
                                </td>
                                <td>
                                    <strong class="p-column-title">Retención</strong>
                                    <input type="text" style="width: 80px;text-align: right;" (keydown.enter)="onCalcularSaldo(rowIndex)" (keydown.Tab)="onCalcularSaldo(rowIndex)" class="p-inputtext-sm" pInputText formControlName="importeretencion">  
                                </td>
                                <td>
                                    <strong class="p-column-title">Nro.Doc.Retención</strong>
                                    <input type="text" style="width: 85px;"   class="p-inputtext-sm" pInputText formControlName="nrodocretencion">  
                                </td>
                                <td>
                                    <strong class="p-column-title">Saldo</strong>
                                    <input type="text" style="width: 80px;text-align: right;" readonly class="p-inputtext-sm" pInputText formControlName="importesaldo">  
                                </td>
                                <td style="text-align: center">
                                    <strong class="p-column-title">Observaciones</strong>
                                    <input type="text"  style="width: 150px;" class="p-inputtext-sm" pInputText formControlName="observaciones">  
                                </td> 
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <br>
                            <strong>No existen registros  </strong>   
                        </ng-template> 
                
                        </p-table>  
                    </div>
                
                </div> 
            </div>  
        </form>
    </div> 
</div>  

</div>
<!-- VISTAS -->
<app-reporte-cobranza *ngIf="VistaReporte" [dataReporte]="dataReporte" (cerrar)="onRetornar()"  ></app-reporte-cobranza> 
<app-buscar-pendiente  *ngIf="VistaBuscarPendiente" [dataPendiente]="dataPendiente" (pendienteSelect)="onPintarPendientesSeleccionados($event)"> </app-buscar-pendiente>
 
  